---
title: ! '2012: New perspectives for Mozilla'
kind: event
speakers:
  -
    name: Tristan Nitot
    slug: tristan_nitot
    url: /schedule/speaker/tristan_nitot
slug: 2012_new_perspectives_for_mozilla
track: Mozilla
track_url: /schedule/track/mozilla
track_rank: 510
room: UD2.218A
room_url: /schedule/room/ud2218a
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 814
event_type: devroom
start: 2012-02-04 13:30:00.000000000 +00:00
end: 2012-02-04 14:00:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/mozilla">Mozilla</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ud2218a">UD2.218A</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>13:30</dd>
    <dt>End:</dt>
    <dd>14:00</dd>
</dl>

<p>Tons of things are changing around Internet users: the rise of mobile and tablets, appstores, and social networks, the adoption of the cloud. How is users' freedom protected in such an environment? What are Mozilla's initiatives to help?</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


