---
title: Enhancing FreePBX with Adhearsion
kind: event
speakers:
  -
    name: Luca Pradovera
    slug: luca_pradovera
    url: /schedule/speaker/luca_pradovera
slug: adhearsion_freepbx
track: Telephony and Communications
track_url: /schedule/track/telephony_and_communications
track_rank: 515
room: H.2213
room_url: /schedule/room/h2213
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 584
event_type: devroom
start: 2012-02-05 13:20:00.000000000 +00:00
end: 2012-02-05 14:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/telephony_and_communications">Telephony and Communications</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h2213">H.2213</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>13:20</dd>
    <dt>End:</dt>
    <dd>14:00</dd>
</dl>

<p>Demonstration of building applications with the Adhearsion voice application development framework.</p>
<p>Many open source hackers see the allure of building applications that integrate with the
telephone network. However layers of industry jargon, proprietary technology and arcane
knowledge lead many to believe that telephony is "hard." Adhearsion will change their minds.
The Adhearsion project is an open source voice application development framework, the first
of its kind in the open source world. In this talk we will build several working voice applications
and demonstrate how to integrate them with existing PBX installations. Along the way, we will
discuss voice application design and show how to avoid common pitfalls.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

