---
title: Advanced Moose Techniques
kind: event
speakers:
  -
    name: Nicholas Perez
    slug: nicholas_perez
    url: /schedule/speaker/nicholas_perez
slug: advanced_moose
day: Sun
start: 09:35
end: 09:35
event_id: 902
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/perl">Perl</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1121">AW1.121</a></dd>
    <dt>Day:</dt>
    <dd>Sunday</dd>
    <dt>Start:</dt>
    <dd>09:35</dd>
    <dt>End:</dt>
    <dd>09:55</dd>
</dl>

<p>Developers comfortable with Moose typically look back on their first projects and cringe at some of the more naive choices made simply because they were unaware of better ways. Learn to avoid some common pitfalls and save time with knowing: when to use delegation and when to use role composition, common MooseX namespaced modules that simplify implementation, native attribute traits, and designing with an eye toward Inversion of Control.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

