---
title: Amber, the Smalltalk for web developers
kind: event
speakers:
  -
    name: John Thornton
    slug: john_thornton
    url: /schedule/speaker/john_thornton
  -
    name: Laurent Laffont
    slug: laurent_laffont
    url: /schedule/speaker/laurent_laffont
slug: amber
track: Smalltalk
track_url: /schedule/track/smalltalk
track_rank: 525
room: AW1.126
room_url: /schedule/room/aw1126
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 883
event_type: devroom
start: 2012-02-05 11:00:00.000000000 +00:00
end: 2012-02-05 12:00:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/smalltalk">Smalltalk</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1126">AW1.126</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>11:00</dd>
    <dt>End:</dt>
    <dd>12:00</dd>
</dl>

<p>Amber is an implementation of the Smalltalk-80 language that runs on
top of the JavaScript runtime. Amber brings client side scripting to
the next level. Imagine developing directly in an IDE in your web
browser: write unit tests, debug, inspect, save and run your code
without hitting the refresh button.</p>

<p>In this session, we will:</p>

<ul>
<li> Show how to get started with Amber</li>
<li> Show how the JavaScript integration works</li>
<li> Show examples of how to access and quickly wrap existing JavaScript libraries (e.g. Google Maps, Ace editor)</li>
<li> Discuss how Amber can be easily incorporated into existing webapplications - regardless of the back-end (Ruby, PHP, Seaside, etc) and how it can co-exist with existing client-side JavaScript</li>
<li> Show some nice applications written in Amber</li>
</ul>


<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


