---
title: Aseba robot programming
kind: event
speakers:
  -
    name: Stéphane Magnenat
    slug: stephane_magnenat
    url: /schedule/speaker/stephane_magnenat
slug: aseba
day: Sun
start: 11:00
end: 11:00
event_id: 698
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/embedded">Embedded</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/lameere">Lameere</a></dd>
    <dt>Day:</dt>
    <dd>Sunday</dd>
    <dt>Start:</dt>
    <dd>11:00</dd>
    <dt>End:</dt>
    <dd>12:00</dd>
</dl>

<p>Aseba is an open-source project providing a set of tools that
allow beginners to program robots easily and efficiently.
Technically speaking, Aseba is an event-based architecture for
distributed control of mobile robots. It targets single- or
multi-processor robots and simulations. The core of Aseba is a
lightweight virtual machine tiny enough to run on
microcontrollers. With Aseba, we program robots in a
octave-style scripting language using an integrated development
environment. This environment provides several features
important for robotics, such as real-time inspection of
sensor/actuator data, integrating plotting, on-typing
compilation, distributed debugging, and instant code upload to
the robot. Compared to alternatives (for instance Arduino and
Lego Mindstorm), Aseba focuses on text-based programming but
takes advantage of the tight integration between the environment
and the robot to provide an interactive robot programming
experience.</p>

<p>Aseba stems from research in miniature mobile robotics, in which
small robots with multiple microcontrollers have risen
architectural questions (see papers under links). In addition,
Aseba has found a natural application in educational robotics
with the Thymio low-cost robot. We have also demonstrated Aseba
in simulation and on a group of e-puck robots. Aseba integrates
with D-Bus and ROS, allowing access to microcontrollers from
high-level languages.</p>

<p>I am the initiator and maintainer of the Aseba technology and
one of the most active contributors. I propose to present a talk
with the following content:
 * Genesis, why did we develop such a thing.
 * Technical overview, with discussion of the design choices.
 * Presentation of the Aseba in the robotic-research context.
 * Live demonstration of Aseba in the educational context using
  the Thymio robot.
 * Future directions.
 * Conclusion and question answering.</p>

<p>I started developing Aseba as part of my PhD work in the Mobots
research group at EPFL. Currently, a community comprising
members of the Mobots group, of the mobsya association, of the
ASL at ETH Zürich and other individuals maintain and further
develop Aseba.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

