---
title: ! 'Audiveris: Optical Music Recognition'
kind: event
speakers:
  -
    name: Hervé Bitteur
    slug: herve_bitteur
    url: /schedule/speaker/herve_bitteur
slug: audiveris
track: Lightning Talks
track_url: /schedule/track/lightning_talks
track_rank: 20
room: Ferrer
room_url: /schedule/room/ferrer
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 489
event_type: lightningtalk
start: 2012-02-04 15:00:00.000000000 +00:00
end: 2012-02-04 15:15:00.000000000 +00:00
links:
  -
    title: Project on Kenai
    url: http://kenai.com/projects/audiveris
  -
    title: Audiveris home page
    url: http://www.audiveris.org
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/lightning_talks">Lightning Talks</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ferrer">Ferrer</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>15:00</dd>
    <dt>End:</dt>
    <dd>15:15</dd>
</dl>

<p>What can you do with your collection of sheet music, when all you have is paper or plain scans?
You surely may feel frustrated if you are not ready for tedious sessions of manual typing.
Here, <em>O</em>ptical <em>M</em>usic <em>R</em>ecognition comes to the rescue. It transcribes sheet music images to MusicXML symbolic format. Doing so, music content gets really "usable", since it can now easily be played, printed, transposed, re-published, analyzed, searched, etc.</p>
<p><em>OMR</em> is difficult for a good reason: while text uses only horizontal lines, music combines the complexity of both vertical and horizontal directions.
Today, there are just a few commercial OMRs available, and only one open-source product under heavy development activity: <em>Audiveris</em>.</p>

<p>Audiveris is a Java application, using a neural network as its cornerstone.
Collaboration is welcome on the most notable foreseen developments:
- Smart coupling with MuseScore (Audiveris for the automatic OMR part, MuseScore for the interactive edition part),
- Integration with Tesseract OCR V3,
- Providing a web-based "OMR as a service",
- Automated evaluation of transcription results,
- Supporting microedition features to enable crowd-sourcing approaches.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://kenai.com/projects/audiveris">Project on Kenai</a></li>
    <li><a href="http://www.audiveris.org">Audiveris home page</a></li>
</ul>

