---
title: Automated Distribution Development and Maintenance
kind: event
speakers:
  -
    name: Adrian Schröter
    slug: adrian_schroter
    url: /schedule/speaker/adrian_schroter
slug: automated_distro_dev
day: Sun
start: 14:00
end: 14:00
event_id: 842
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/crossdistribution">CrossDistribution</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1302">H.1302</a></dd>
    <dt>Day:</dt>
    <dd>Sunday</dd>
    <dt>Start:</dt>
    <dd>14:00</dd>
    <dt>End:</dt>
    <dd>15:00</dd>
</dl>

<p>Presenting tools and workflows used via Open Build Service by various distributions to develop the distribution. This includes automated source processing, validation, QA, automated and manual reviews.</p>

<p>Additional focus point on maintenance handling, means updates after a distribution is released which are usually done in a complete different way.</p>

<p>I like to have a discussion about the question how distributions should validate trustable sources and how the trust can be increased by a common distro effort.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

