---
title: ! 'buildroot: flexible building of a custom embedded system'
kind: event
speakers:
  -
    name: Arnout Vandecappelle 
    slug: arnout_vandecappelle_
    url: /schedule/speaker/arnout_vandecappelle_
slug: buildroot_flexible_building_of_a_custom_embedded_system
track: Open Mobile Linux
track_url: /schedule/track/open_mobile_linux
track_rank: 522
room: AW1.120
room_url: /schedule/room/aw1120
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 595
event_type: devroom
start: 2012-02-04 13:30:00.000000000 +00:00
end: 2012-02-04 14:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/open_mobile_linux">Open Mobile Linux</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1120">AW1.120</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>13:30</dd>
    <dt>End:</dt>
    <dd>14:00</dd>
</dl>

<p>Buildroot is a nice, simple and efficient tool to build small to medium sized embedded Linux systems. It to automates the process of building a cross-compiling toolchain, the root filesystem with all userspace components, a Linux kernel image and a bootloader image.  It is used for embedded systems ranging from industrial controllers to hand-held media devices.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

