---
title: ! 'WebApps: Building a Webchat? DON''T DO WHAT I DID! '
kind: event
speakers:
  -
    name: Winfried Tilanus
    slug: winfried_tilanus
    url: /schedule/speaker/winfried_tilanus
slug: building_a_webchat
track: Jabber and XMPP
track_url: /schedule/track/jabber_and_xmpp
track_rank: 514
room: H.2213
room_url: /schedule/room/h2213
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 897
event_type: devroom
start: 2012-02-04 12:00:00.000000000 +00:00
end: 2012-02-04 12:30:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/jabber_and_xmpp">Jabber and XMPP</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h2213">H.2213</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>12:00</dd>
    <dt>End:</dt>
    <dd>12:30</dd>
</dl>

<p>With XMPP you can build a webchat in a breeze, so nothing can go wrong, right?</p>
<p>The HelpIM chat software is about 10 years old now. We have rewritten it three times and with each rewrite we managed to make some major screw-ups. Recurring issues are: "how to reliably deliver the chat over the web", "how to route the messages within the server" and "how to authenticate over both HTTP and XMPP". With this talk I will save you from making the same screw-ups as we did.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


