---
title: Caching and Tuning fun for high scalability
kind: event
speakers:
  -
    name: Wim Godden
    slug: wim_godden
    url: /schedule/speaker/wim_godden
slug: cache_tune_fun
track: System
track_url: /schedule/track/system
track_rank: 130
room: Janson
room_url: /schedule/room/janson
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 370
event_type: main
start: 2012-02-05 11:00:00.000000000 +00:00
end: 2012-02-05 11:50:00.000000000 +00:00
links:
  -
    title: Video recording
    url: http://video.fosdem.org/2012/maintracks/janson/Caching_and_tuning_fun_for_high_scalability.webm
  -
    title: Slides
    url: http://www.slideshare.net/wimg/caching-and-tuning-fun-for-high-scalability-fosdem
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/system">System</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/janson">Janson</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>11:00</dd>
    <dt>End:</dt>
    <dd>11:50</dd>
</dl>

<p>Caching has been a 'hot' topic for a few years. But caching takes more than merely taking data and putting it in a cache : the right caching techniques can improve performance and reduce load significantly. But we'll also look at some major pitfalls, showing that caching the wrong way can bring down your site. If you're looking for a clear explanation about various caching techniques and tools like Memcached, Nginx and Varnish, as well as ways to deploy them in an efficient way, this talk is for you. In this talk, we'll start from a Zend Framework (PHP) based site. We'll add caching, begin to add servers and replace the standard LAMP stack, all while performing live benchmarks.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://video.fosdem.org/2012/maintracks/janson/Caching_and_tuning_fun_for_high_scalability.webm">Video recording</a></li>
    <li><a href="http://www.slideshare.net/wimg/caching-and-tuning-fun-for-high-scalability-fosdem">Slides</a></li>
</ul>

