---
title: ! 'Caciocavallo: CacioTest, CacioWeb & Deployment'
kind: event
speakers:
  -
    name: Mario Torre
    slug: mario_torre
    url: /schedule/speaker/mario_torre
  -
    name: Roman Kennke
    slug: roman_kennke
    url: /schedule/speaker/roman_kennke
  -
    name: Clemens Eisserer
    slug: clemens_eisserer
    url: /schedule/speaker/clemens_eisserer
slug: caciocavallo_caciotest_cacioweb_and_deployment
track: Free Java
track_url: /schedule/track/free_java
track_rank: 507
room: K.4.401
room_url: /schedule/room/k4401
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 703
event_type: devroom
start: 2012-02-04 16:30:00.000000000 +00:00
end: 2012-02-04 17:00:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/free_java">Free Java</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k4401">K.4.401</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>16:30</dd>
    <dt>End:</dt>
    <dd>17:00</dd>
</dl>

<p>CacioCavallo is an award winning project sponsored by the OpenJDK porters group.</p>

<p>The main project was about refactoring of the graphics stack of OpenJDK to allow of easy porting on various platform.</p>

<p>It’s the abstract backend behind most ports and it has been used on field by commercial projects for companies in the embedded and automotive market.</p>

<p>During the last year, two new projects have landed in the official Caciocavallo repositories: CacioWeb and Cacio Testing Framework.</p>

<p>The first project allows for easy deployment even on platforms without any Java support (like Apple iPad) and makes extremely easy the deployment even without any Java plugin.</p>

<p>CacioTest aims to make easy the testing of Graphics stack, providing a reliable, unobtrusive way to run UI and graphics related tests.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


