---
title: Caret and Stick
kind: event
speakers:
  -
    name: Finne Boonen
    slug: finne_boonen
    url: /schedule/speaker/finne_boonen
slug: caret_and_stick
track: Community
track_url: /schedule/track/community
track_rank: 110
room: K.1.105
room_url: /schedule/room/k1105
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 403
event_type: main
start: 2012-02-05 16:00:00.000000000 +00:00
end: 2012-02-05 16:50:00.000000000 +00:00
links:
  -
    title: Video recording
    url: http://video.fosdem.org/2012/maintracks/k.1.105/Caret_and_Stick.webm
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/community">Community</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k1105">K.1.105</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>16:00</dd>
    <dt>End:</dt>
    <dd>16:50</dd>
</dl>

<p>You've got the program, you've got the users but how do you make sure your community thrives? An introduction to the research on open source communities when they get more complicated then 2 developers on Github.</p>
<p>Research shows that most OSS projects are done by very small teams. What happens when, instead of having two developers, you have an entire team working on something? What motivates them, and how can you add to that as a community rather then detract from it?</p>

<p>Beginning with early 2000s theories about the motivation of open-source developers, I'll move into more complex motivation theories and the complexities of adding paid developers to an open-source project, and how that affects a project's community.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://video.fosdem.org/2012/maintracks/k.1.105/Caret_and_Stick.webm">Video recording</a></li>
</ul>

