---
title: The Apache Cassandra storage engine 
kind: event
speakers:
  -
    name: Sylvain Lebresne
    slug: sylvain_lebresne
    url: /schedule/speaker/sylvain_lebresne
slug: cassandra_storage
track: Development
track_url: /schedule/track/development
track_rank: 150
room: Janson
room_url: /schedule/room/janson
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 388
event_type: main
start: 2012-02-05 15:00:00.000000000 +00:00
end: 2012-02-05 15:50:00.000000000 +00:00
links:
  -
    title: Video recording (partial)
    url: http://video.fosdem.org/2012/maintracks/janson/cassandra.webm
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/development">Development</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/janson">Janson</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>15:00</dd>
    <dt>End:</dt>
    <dd>15:50</dd>
</dl>

<p>Apache Cassandra is a distributed database built to handle massive amounts of
data on large clusters of community servers. This talk will present the
storage engine at the core of Cassandra, motivating the use of a structure
akin to a Log-Structured Merge Tree rather than of a usual B-Tree and it's
implications for the data model. We will also introduce most of the current
features of that engine (secondary indexes, integrated caching, TTL...)
including recent developments introduced in Cassandra 1.0 like
compression/checksumming and the new leveled compaction.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://video.fosdem.org/2012/maintracks/janson/cassandra.webm">Video recording (partial)</a></li>
</ul>

