---
title: Open Source Infrastructure - Running the Jenkins project with Puppet
kind: event
speakers:
  -
    name: R Tyler Croy
    slug: r_tyler_croy
    url: /schedule/speaker/r_tyler_croy
slug: cfgmgmtjenkins
track: Configuration and Systems Management
track_url: /schedule/track/configuration_and_systems_management
track_rank: 505
room: K.3.601
room_url: /schedule/room/k3601
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 649
event_type: devroom
start: 2012-02-05 13:00:00.000000000 +00:00
end: 2012-02-05 13:45:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/configuration_and_systems_management">Configuration and Systems Management</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k3601">K.3.601</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>13:00</dd>
    <dt>End:</dt>
    <dd>13:45</dd>
</dl>

<p>How the Jenkins project had to grow infrastructure overnight, and how a costly mistake doing things the wrong way forced us to migrate to managing our infrastructure with Puppet.</p>
<p>In early 2011 the Jenkins project became the Jenkins project, leaving
behind an organically grown but Oracle (formerly Sun) operated infrastructure.
An open source project with thousands of users had to grow an infrastructure
practically overnight, initially doing things "the wrong way" by hand crafting
machines. That was until a costly mistake forced us to reconsider and migrate
to managing our infrastructure with Puppet from a publicly available shared Git
repository.</p>

<p>Besides Puppet, the Jenkins project also uses a number of other tools to help
manage access control on GitHub, parts of JIRA, etc, all carrying on the very
transparent and welcoming tradition the project prides itself on.</p>

<p>In this talk I will discuss the ups and downs of switching an established
infrastructure to Puppet, all within the public eye and with volunteer time and
energy.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

