---
title: Who Pulls the Strings?  Integrating OpenNMS with Modern Configuration Management
kind: event
speakers:
  -
    name: Jeffrey Gehlbach
    slug: jeffrey_gehlbach
    url: /schedule/speaker/jeffrey_gehlbach
  -
    name: Ronny Trommer
    slug: ronny_trommer
    url: /schedule/speaker/ronny_trommer
  -
    name: Jason Aras
    slug: jason_aras
    url: /schedule/speaker/jason_aras
slug: cfgmgmtpullsthestrings
track: Configuration and Systems Management
track_url: /schedule/track/configuration_and_systems_management
track_rank: 505
room: K.3.601
room_url: /schedule/room/k3601
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 651
event_type: devroom
start: 2012-02-05 15:00:00.000000000 +00:00
end: 2012-02-05 15:45:00.000000000 +00:00
links:
  -
    title: OpenNMS Project
    url: http://www.opennms.org/
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/configuration_and_systems_management">Configuration and Systems Management</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k3601">K.3.601</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>15:00</dd>
    <dt>End:</dt>
    <dd>15:45</dd>
</dl>

<p>This talk considers the two most common user stories for OpenNMS integration with modern, conventions-centric configuration management platforms.</p>
<p>As organizations of all sizes provision and run servers at larger
scale and in ever more agile ways, the platforms used to monitor and
manage those servers' performance often become a liability.  The
best-known free software tools in this space tend to make compromises
between scalability and ease of automation, while proprietary
platforms are prohibitively expensive and inflexible.  Enter OpenNMS,
the world's first enterprise-grade network management application
platform that is fully free software.  Massive scalability has always
been the principal design goal of OpenNMS, and recent feature
additions including a dynamic provisioning subsystem and ReST API
offer a path for easy integration with modern, conventions-centric
configuration management platforms.  This talk considers the two
commonest user stories for such integration, from concept through
working code.</p>

<p>Organizations already on the DevOps train almost certainly use a
modern configuration management platform, such as Puppet or Chef, to
provision and run their physical servers and cloud machine instances.
 For this use case, it makes sense for the configuration management
platform to act as the “driver” for the systems management platform.
To service users in this situation, we will explore what it takes to
build a working integration where OpenNMS automatically takes its
service-assurance and performance-management orders from Puppet.  Of
course, plenty of organizations are still running alongside the train,
just starting to move server provisioning and configuration management
to an automation platform.  Since we want to leave nobody behind, we
will also evaluate the approach of using the work already put into
populating an OpenNMS instance to help bring configuration management
religion to all those lovingly hand-built servers.  The development
part in this talk will show which steps are necessary to create your
own provisioning adapter in OpenNMS. As a practical example we will
show how you can create a Puppet URL handler and a Puppet provisioning
adapter. With this adapter it is possible to pull node information
from a Puppet master into OpenNMS. If you want to have Puppet as your
master database for nodes, we will give examples how is it possible to
use the OpenNMS ReST API to push nodes from a Puppet master into OpenNMS.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://www.opennms.org/">OpenNMS Project</a></li>
</ul>

