---
title: DevOps is not an absolute. It's a range.
kind: event
speakers:
  -
    name: Mitchell Hashimoto
    slug: mitchell_hashimoto
    url: /schedule/speaker/mitchell_hashimoto
slug: cfgmgmtdevopsrange
track: Configuration and Systems Management
track_url: /schedule/track/configuration_and_systems_management
track_rank: 505
room: K.3.601
room_url: /schedule/room/k3601
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 650
event_type: devroom
start: 2012-02-05 14:00:00.000000000 +00:00
end: 2012-02-05 14:45:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/configuration_and_systems_management">Configuration and Systems Management</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k3601">K.3.601</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>14:00</dd>
    <dt>End:</dt>
    <dd>14:45</dd>
</dl>

<p>In this talk, I'll use my unique experience from both the standpoint of a system administrator in a small company as well as a reasonably successful DevOps tool writer to explain how modern tools can be used gradually to transition a business to welcome more DevOps practices without sacrificing stability or productivity and in fact increasing both!</p>
<p>Many still consider and talk about DevOps as an absolute thing: developers and operations are the same thing. Of course, this is not the case. DevOps is a range, where on the far left we have old-style ops (very exclusive) and on the far right we have developers doing all the ops (very inclusive).</p>

<p>The idea of DevOps itself is only possible due to wide variety of tools which have become available: Chef, Puppet, MCollective, Vagrant, Cucumber-Chef etc. Prior to these tools, developers simply couldn't be expected or trusted to hook up a terminal to a production machine and run scripts. But with these tools in hand, the ops team can now setup an environment where we slowly push the bar from extreme exclusivity towards more inclusivity.</p>

<p>In this talk, I'll use my unique experience from both the standpoint of a system administrator in a small company as well as a reasonably successful DevOps tool writer to explain how modern tools can be used gradually to transition a business to welcome more DevOps practices without sacrificing stability or productivity and in fact increasing both!</p>

<p>Specifically I'll talk about:</p>

<p>How metrics and monitoring can make the Ops world more transparent, starting the process of bringing in developers.
How development environments provisioned with production scripts and the ability to test new scripts can allow developers to experiment with Ops.
How building a test infrastructure for testing automation scripts can maintain stability in your organization while allowing people unfamiliar with the ops world to get involved.
The importance of dedicating "office hours" as an ops engineer to teaching developers.
"Who wears the pager?" or transitioning pager duty to other engineers safely by leveraging the above tools.
This talk is based on my experience as:</p>

<p>Engineer on Vagrant which powers many large companies and has helped many companies move towards a more DevOps-friendly attitide. I've seen first-hand how tools can assist this transition.
System administrator and software engineer at Kiip, a small company with around 20 employees. I'm the only engineer with any Ops experience, and I've had to very slowly transition our company towards being more Ops friendly.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

