---
title: Configuration management and deployment with RPM and YADT
kind: event
speakers:
  -
    name: Ralph Angenendt
    slug: ralph_angenendt
    url: /schedule/speaker/ralph_angenendt
slug: cfgmgmtrpmyadt
track: Configuration and Systems Management
track_url: /schedule/track/configuration_and_systems_management
track_rank: 505
room: K.3.601
room_url: /schedule/room/k3601
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 652
event_type: devroom
start: 2012-02-05 16:00:00.000000000 +00:00
end: 2012-02-05 16:45:00.000000000 +00:00
links:
  -
    title: YADT Project
    url: https://code.google.com/p/yadt/
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/configuration_and_systems_management">Configuration and Systems Management</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k3601">K.3.601</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>16:00</dd>
    <dt>End:</dt>
    <dd>16:45</dd>
</dl>

<p>RPM is a well understood and relatively easy packaging format that helps to deploy sets of files in a consistent, reproducible and reversible way, and YADT enables organizations to describe their system landscape in a simple, human readable YAML format.</p>
<p>RPM is a well understood and relatively easy packaging format that helps to deploy sets of files in a consistent, reproducible and reversible way. Tools like yum, zypper and apt have enabled admins to install, remove and update complete dependency chains of RPMs and to verify on-system changes to these file sets.</p>

<p>Which seems to be a perfect starting point for doing general configuration management with those tools: larger dependency chains can be pulled in via a simple RPM, configuration files can be delivered inside RPMs, administrators feel right at home and have their toolset for installing, updating and verifying the configuration on the machines, developers can easily contribute to simple packaging.</p>

<p>Part I of this talk describes how (and why) we do this at Immobilienscout24.de and discusses pro and cons of this approach.</p>

<p>Part II builds on this and describes our next generation data center deployment and management tool, YADT.</p>

<p>YADT enables organizations to describe their system landscape in a simple, human readable YAML format. YADT is fully aware of not only dependencies between packages and configs, but also of interservice dependencies. Due to this, YADT makes sure that the systems within your platform are updated, configured and restarted in the correct order. It does this by analyzing service and package dependencies and by grouping dependent systems into "chunks".  Deployment then happens as a sequential wave over those chunks, making sure that the platform stays online during the deployment.</p>

<p>YADT is in the process of being open sourced and is available at
https://code.google.com/p/yadt/</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="https://code.google.com/p/yadt/">YADT Project</a></li>
</ul>

