---
title: Orchestration for the cloud
kind: event
speakers:
  -
    name: Dave Walker
    slug: dave_walker
    url: /schedule/speaker/dave_walker
slug: cloud_orchestration
track: Virtualization and Cloud
track_url: /schedule/track/virtualization_and_cloud
track_rank: 508
room: Chavanne
room_url: /schedule/room/chavanne
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 569
event_type: devroom
start: 2012-02-04 17:30:00.000000000 +00:00
end: 2012-02-04 17:55:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/virtualization_and_cloud">Virtualization and Cloud</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/chavanne">Chavanne</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>17:30</dd>
    <dt>End:</dt>
    <dd>17:55</dd>
</dl>

<p>In this presentation we will use Orchestra (including juju) to deploy an openstack powered cloud. We will dive into the components and how they fit together to orchestrate an openstack cloud deployment.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

