---
title: Cluster internals
kind: event
speakers:
  -
    name: Ralf Gebhardt 
    slug: ralf_gebhardt_
    url: /schedule/speaker/ralf_gebhardt_
slug: cluster_internals
track: MySQL and Friends
track_url: /schedule/track/mysql_and_friends
track_rank: 513
room: H.1309
room_url: /schedule/room/h1309
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 663
event_type: devroom
start: 2012-02-05 12:00:00.000000000 +00:00
end: 2012-02-05 12:25:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/mysql_and_friends">MySQL and Friends</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1309">H.1309</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>12:00</dd>
    <dt>End:</dt>
    <dd>12:25</dd>
</dl>

<p>This talk will go through the components of the MySQL Cluster architecture. How MySQL Cluster fits into the standard MySQL through the storage engine interface, as well as the different node types in the MySQL Cluster and how they work internally to guarantee high availability. We will also take a look at the resource utilisation within the nodes and how that is managed and configured.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


