---
title: CMake the build tool that does more than you think it can
kind: event
speakers:
  -
    name: Alexander Neundorf
    slug: alexander_neundorf
    url: /schedule/speaker/alexander_neundorf
  -
    name: Bill Hoffman
    slug: bill_hoffman
    url: /schedule/speaker/bill_hoffman
slug: cmakemorethanyouthink
day: Sat
start: 12:20
end: 12:20
event_id: 610
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/crossdesktop">CrossDesktop</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1308">H.1308</a></dd>
    <dt>Day:</dt>
    <dd>Saturday</dd>
    <dt>Start:</dt>
    <dd>12:20</dd>
    <dt>End:</dt>
    <dd>13:00</dd>
</dl>

<p>Bill Hoffman, the original CMake developer, and Alexander Neundorf the
architect of the KDE CMake Build system will talk about the full capabilities of CMake as a
build tool. They will cover both the basics of getting started with CMake, and some really cool
features that allow for the cross platform building of entire packages of software. This will be
demonstrated with example projects using the gtk as well as the Qt toolkit. They will also give
some interesting historical notes on CMake. Covered topics will include:
* The basics
* Debugging your CMake build system
* Integrating 3rd party packages in the build using ExternalProject
* Creating source and binary packages using CPack
* Continuous Integration testing with CDash/CTest and cdash@home
* Installing your CMake-based library - exporting and importing targets
* Cross-platform scripting with CMake (cmake -E, cmake -P, file(DOWNLOAD ...) )
* Lots of fun historical notes on the development of CMake and the KDE CMake build
system</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

