---
title: ! 'CoApp: Packaging Open Source software for Windows'
kind: event
speakers:
  -
    name: Garrett Serack
    slug: garrett_serack
    url: /schedule/speaker/garrett_serack
slug: coapp
track: System
track_url: /schedule/track/system
track_rank: 130
room: Janson
room_url: /schedule/room/janson
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 445
event_type: main
start: 2012-02-05 10:00:00.000000000 +00:00
end: 2012-02-05 10:50:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/system">System</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/janson">Janson</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>10:00</dd>
    <dt>End:</dt>
    <dd>10:50</dd>
</dl>

<p>Open Source Software has long enjoyed the ability to be trivially acquired, installed and maintained on Linux via packages, where each package contains within it all the information required to find and configure the necessary dependencies.</p>

<p>However, in many situations there is a strong need to install OSS on Windows,where traditional package management systems like RPM and DPKG are not only unavailable--but couldn't support the platform in a manner consistent with the other software.</p>

<p>This presentation looks into the technical details of CoApp, a new fully-open source package management system fills this gap by providing all the tools to easily create, publish, discover, and install software packages, including automatically handling dependencies, managing updates and providing a frictionless end-user experience, all in a method that is well supported by the platform.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

