---
title: Community Qt apps repository - way forward
kind: event
speakers:
  -
    name: Jukka Eklund
    slug: jukka_eklund
    url: /schedule/speaker/jukka_eklund
slug: community_qt_apps_repository
day: Sat
start: 14:30
end: 14:30
event_id: 602
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/open_mobile_linux">Open Mobile Linux</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1120">AW1.120</a></dd>
    <dt>Day:</dt>
    <dd>Saturday</dd>
    <dt>Start:</dt>
    <dd>14:30</dd>
    <dt>End:</dt>
    <dd>15:00</dd>
</dl>

<p>At the moment it is hard to find out what kind of Qt apps have been
developed in the community, for various devices eg. Nokia N9, MeeGo
tablets or Mer/Nemo. This is a missed opportunity for everybody.
However we have such a system already in place, that is Apps for MeeGo
(apps.formeego.org). It has all of the basic pieces in place already,
and has been developed with the same folks who brought as the Maemo
extras. In this talk I present the current status of apps.formeego.org
(with demo(s)), and ask the question: can we build one central "app
store" for community Qt applications? What is in place already, and
what needs to be done?</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

