---
title: Coping with wide-impact changes in a distribution
kind: event
speakers:
  -
    name: Will Stephenson
    slug: will_stephenson
    url: /schedule/speaker/will_stephenson
  -
    name: Vincent Untz
    slug: vincent_untz
    url: /schedule/speaker/vincent_untz
  -
    name: Frédéric Crozat
    slug: frederic_crozat
    url: /schedule/speaker/frederic_crozat
slug: distro_wide_impact_changes
track: CrossDistribution
track_url: /schedule/track/crossdistribution
track_rank: 499
room: H.1301
room_url: /schedule/room/h1301
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 816
event_type: devroom
start: 2012-02-04 11:00:00.000000000 +00:00
end: 2012-02-04 12:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/crossdistribution">CrossDistribution</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1301">H.1301</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>11:00</dd>
    <dt>End:</dt>
    <dd>12:00</dd>
</dl>

<p>One part of the integration of upstream software in a distribution is to correctly deal with changes that have a wide impact, either because they affect a lot of other software, or because the changes will be highly visible to the users. And it is easy to feel that such changes are always going wrong: some applications stop working, many users complain about the change they feel was uncalled for, nearly nobody shares a thank you note.</p>

<p>Such wide-impact changes always come with controversies, and being the bridge between users and upstreams, distributions are the place where all the rage is going on, with a social aspect that is usually at least as important as the technical side of things.</p>

<p>The recent years have not been exempt of controversies, and we will share our experiences with user-visible changes such as the move to KDE 4, GNOME 3 and systemd.</p>

<p>This talk will be co-presented by the SUSE Gang: Frédéric Crozat, Will Stephenson, Vincent Untz.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

