---
title: QA tools for FOSS distributions
kind: event
speakers:
  -
    name: Pietro Abate
    slug: pietro_abate
    url: /schedule/speaker/pietro_abate
slug: distro_qa_tools
track: CrossDistribution
track_url: /schedule/track/crossdistribution
track_rank: 499
room: H.1301
room_url: /schedule/room/h1301
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 843
event_type: devroom
start: 2012-02-04 16:30:00.000000000 +00:00
end: 2012-02-04 17:30:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/crossdistribution">CrossDistribution</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1301">H.1301</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>16:30</dd>
    <dt>End:</dt>
    <dd>17:30</dd>
</dl>

<p>FOSS distributions are increasingly over pressure to deliver stable releases including the most up to date upstream software. Time-based release strategies has exacerbated this problem putting even more pressure on QA teams.</p>

<p>The recently concluded Mancoosi project has developed a number of tools to automatically analyse large packages collections for a range of problems, from
installability checks to speculative analysis of software repositories.</p>

<p>In this talk I'll present four command line tools to identify and correct potential problems as soon as possible during the release cycle.</p>
<p>In particular :
* Debcheck: This tools helps to identify all broken packages within a repository and provides a detailed explanation of the problem. This can be used to prevent shipping releases that contain packages that cannot be installed because of missing or malformed dependencies.
* Buildcheck: Given a Sources file and a set of binary repositories, this tool identifies those source packages that cannot be compiled because their build dependencies cannot be satisfied.
* Outdated: This tool identifies those broken packages that need special attention because of outdated meta-data.
* Challenged: This tool performs a speculative analysis of the repository to identify those packages that, if upgraded to a specific version, would break a large number of other packages in the repository. This tool would be particularly useful during the upgrade of a specific component to evaluate its impact on the software archive.</p>

<p>Most of our tools support both rpm (version 4 and 5) and deb based distributions.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

