---
title: Distributions' infrastructure system administration (round table/Q&A)
kind: event
speakers:
  -
    name: Martin Zobel-Helas
    slug: martin_zobel_helas
    url: /schedule/speaker/martin_zobel_helas
  -
    name: Michael Scherer
    slug: michael_scherer
    url: /schedule/speaker/michael_scherer
slug: distro_sysadmin
track: CrossDistribution
track_url: /schedule/track/crossdistribution
track_rank: 499
room: H.1301
room_url: /schedule/room/h1301
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 837
event_type: devroom
start: 2012-02-05 13:00:00.000000000 +00:00
end: 2012-02-05 14:00:00.000000000 +00:00
links:
  -
    title: Video recording
    url: http://video.fosdem.org/2012/crossdistro/Distributions__infrastructure_system_administration__round_table_Q_A_.webm
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/crossdistribution">CrossDistribution</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1301">H.1301</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>13:00</dd>
    <dt>End:</dt>
    <dd>14:00</dd>
</dl>


<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://video.fosdem.org/2012/crossdistro/Distributions__infrastructure_system_administration__round_table_Q_A_.webm">Video recording</a></li>
</ul>

