---
title: An introduction to EclipseRT
kind: event
speakers:
  -
    name: Gunnar Wagenknecht
    slug: gunnar_wagenknecht
    url: /schedule/speaker/gunnar_wagenknecht
slug: eclipsert
day: Sun
start: 10:40
end: 10:40
event_id: 466
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/lightning_talks">Lightning Talks</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ferrer">Ferrer</a></dd>
    <dt>Day:</dt>
    <dd>Sunday</dd>
    <dt>Start:</dt>
    <dd>10:40</dd>
    <dt>End:</dt>
    <dd>10:55</dd>
</dl>

<p>A short introduction runtime related efforts and technologies available at Eclipse.</p>
<p>EclipseRT is a top-level project at Eclipse which groups together various projects that are all related to runtimes. This talk will give a short introduction to EclipseRT and to the projects available there.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

