---
title: EFL the upcoming embedded UI toolkit
kind: event
speakers:
  -
    name: Cedric Bail
    slug: cedric_bail
    url: /schedule/speaker/cedric_bail
slug: efl_the_upcoming_ui_toolkit
track: Embedded
track_url: /schedule/track/embedded
track_rank: 509
room: Lameere
room_url: /schedule/room/lameere
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 701
event_type: devroom
start: 2012-02-05 14:00:00.000000000 +00:00
end: 2012-02-05 15:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/embedded">Embedded</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/lameere">Lameere</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>14:00</dd>
    <dt>End:</dt>
    <dd>15:00</dd>
</dl>

<p>The Enlightenment Foundation Libraries is a UI toolkit designed for
the embeded world in mind. We have now released version 1.1 after
almost one year of work. This new version come with new features, a
lot of speed and memory improvement, improved portability (we
officially support Windows now) and no API or ABI break. It is a proof
of the will of Enlightenment team to provide a reliable base for any
serious work. We are now working on preparing a release for another
set of important libraries and also finishing the last few items in
the Enlightenment DR 17 todo list. With Tizen project and the growing
contribution of Samsung, 2012 is going to be a very interesting year
for the Enlightenment project and we will talk about just that.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

