---
title: Can for-profit companies enforce copyleft without becoming corrupt like MySQL AB?
kind: event
speakers:
  -
    name: Loïc Dachary
    slug: loic_dachary
    url: /schedule/speaker/loic_dachary
slug: enforce_copyleft_without_becoming_corrupt
track: Legal Issues
track_url: /schedule/track/legal_issues
track_rank: 520
room: AW1.125
room_url: /schedule/room/aw1125
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 646
event_type: devroom
start: 2012-02-04 15:00:00.000000000 +00:00
end: 2012-02-04 15:30:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/legal_issues">Legal Issues</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1125">AW1.125</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>15:00</dd>
    <dt>End:</dt>
    <dd>15:30</dd>
</dl>

<p>When a company authors free software under the GNU GPL, it is likely that it will discover license violations. Non profit like FSF or Software Freedom Conservancy will try to resolve such violations amicably, because their mission is to further Free Software. They will only go to court as a last resort, if the infringer refuses to comply with the licenses and keeps distributing the software. The primary goal of a company is to generate profit, it will therefore take advantage of violations to this end. For instance, part of the former MySQL AB company business model was to threaten infringers and require that they buy a proprietary license to be redeemed. However, most of the infringements are honest mistakes and such methods are not in the best interest of the Free Software community. They are even counter productive for the company who makes short term profits but eventually scare their customers away.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


