---
title: ! 'GNOME 3: Every Detail Matters'
kind: event
speakers:
  -
    name: Allan Day
    slug: allan_day
    url: /schedule/speaker/allan_day
slug: everydetailsmatters
day: Sat
start: 17:00
end: 17:00
event_id: 625
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/crossdesktop">CrossDesktop</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1308">H.1308</a></dd>
    <dt>Day:</dt>
    <dd>Saturday</dd>
    <dt>Start:</dt>
    <dd>17:00</dd>
    <dt>End:</dt>
    <dd>17:30</dd>
</dl>

<p>Every Detail Matters is a new initiative that aims to focus attention
on improving specific areas of the GNOME 3 user experience. It also
aims to provide an easy way for people to make a valuable contribution
to GNOME by identifying development tasks that would make a real
difference.</p>

<p>The initiative involves designers working closely with both new and
experienced developers to refine GNOME 3. We are working towards
delivering a major and tangible improvement to the next release,
version 3.4.</p>

<p>In this talk I will describe the key features of Every Detail Matters,
demo some of the progress that has been made thanks to the initiative,
and will show how you can participate to make GNOME 3 better than
ever.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

