---
title: ! 'FLOSSing for Good Legal Hygiene: Stories from the Trenches'
kind: event
speakers:
  -
    name: Allison Randal
    slug: allison_randal
    url: /schedule/speaker/allison_randal
slug: flossing_for_good_legal_hygiene
day: Sat
start: 14:00
end: 14:00
event_id: 644
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/legal_issues">Legal Issues</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1125">AW1.125</a></dd>
    <dt>Day:</dt>
    <dd>Saturday</dd>
    <dt>Start:</dt>
    <dd>14:00</dd>
    <dt>End:</dt>
    <dd>14:30</dd>
</dl>

<p>The legal structures of free software projects go through phases of
popularity reminiscent of fashion trends. The early days of free
software were decentralized and individualistic, partially inspired by
the "free culture" movements of the '60s. Over time, centralization and
incorporated non-profit organizations grew popular, parallel with a
period of time where FLOSS was struggling for recognition as a viable
alternative to proprietary solutions. As FLOSS crested that wave, and
won the recognition of the business world, people began to recognize an
over-proliferation of special-purpose foundations, and the conservancies
(foundations that host multiple independent projects) came to the fore.
In the past year we've seen a movement back toward decentralized
individualism, questioning the need of any formal legal structures. The
fact of the matter is that free software and international law work just
fine for a whole gamut of legal structures, from the lone individual
hacker to the largest of incorporated entities. It's a free choice for
each project. The important thing is for every project to think through
their legal strategy. Not just the "What?" (-license? -contribution
policy? -legal documentation?) but "Why?" (-pick option X over option Y?
-are we doing this? -do we care?) and "How?" (-can we make this work for
us? -will this affect our users and developers?).</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

