---
title: Welcome to the Free Java DevRoom
kind: event
speakers:
  -
    name: Martijn Verburg
    slug: martijn_verburg
    url: /schedule/speaker/martijn_verburg
  -
    name: Mark Wielaard
    slug: mark_wielaard
    url: /schedule/speaker/mark_wielaard
  -
    name: Tom Marble
    slug: tom_marble
    url: /schedule/speaker/tom_marble
  -
    name: Ben Evans
    slug: ben_evans
    url: /schedule/speaker/ben_evans
  -
    name: Andrew Hughes
    slug: andrew_hughes
    url: /schedule/speaker/andrew_hughes
  -
    name: Andrew Haley
    slug: andrew_haley
    url: /schedule/speaker/andrew_haley
  -
    name: Mario Torre
    slug: mario_torre
    url: /schedule/speaker/mario_torre
  -
    name: Dalibor Topić
    slug: dalibor_topic
    url: /schedule/speaker/dalibor_topic
  -
    name: Sylvestre Ledru
    slug: sylvestre_ledru
    url: /schedule/speaker/sylvestre_ledru
slug: free_java
track: Free Java
track_url: /schedule/track/free_java
track_rank: 507
room: K.4.401
room_url: /schedule/room/k4401
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 677
event_type: devroom
start: 2012-02-04 11:00:00.000000000 +00:00
end: 2012-02-04 11:05:00.000000000 +00:00
links:
  -
    title: Free Java DevRoom Wiki
    url: http://wiki.debian.org/Java/DevJam/2012/Fosdem
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/free_java">Free Java</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k4401">K.4.401</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>11:00</dd>
    <dt>End:</dt>
    <dd>11:05</dd>
</dl>

<p>Brief Welcome to the Free Java DevRoom</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://wiki.debian.org/Java/DevJam/2012/Fosdem">Free Java DevRoom Wiki</a></li>
</ul>

