---
title: ! 'The future of Ada: Robert Dewar looks into his cloudy crystal ball '
kind: event
speakers:
  -
    name: Robert Dewar
    slug: robert_dewar
    url: /schedule/speaker/robert_dewar
slug: future_of_ada
day: Sat
start: 18:00
end: 18:00
event_id: 880
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/ada">Ada</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1121">AW1.121</a></dd>
    <dt>Day:</dt>
    <dd>Saturday</dd>
    <dt>Start:</dt>
    <dd>18:00</dd>
    <dt>End:</dt>
    <dd>18:30</dd>
</dl>

<p>Looking into the future of Ada, not just as a programming language but as a basis for building highly reliable software.</p>
<p>Ada is a language that is used for the construction of large critical programs, including safety-critical programs where an error can cost human lives. In looking into the future of Ada, we are doing more than just thinking about details of programming language design, we are really thinking about the whole issue of how to build reliable applications in a society which depends more and more on complex software. Ada is an interesting language precisely in that its development has been open from the start (it is one of the very few ISO standardized languages where you can get the ISO standard free, we insisted on that!) And the primary implementation of Ada these days is the GNAT system, which is 100% Free Software.
The Chevy Volt automobile has over 10 million lines of embedded code, more than the 8 million lines aboard a Boeing 787. Many times a day we place our lives at the mercy of complex software. How can we be sure this software will not let us down and kill us? This is not just a theoretical question, patients have already died at the hands of incorrectly programmed medical devices, and although no one has died from a bug in commercial aviation, we have had some horrifying close calls. Things are going to get worse and worse if we don't figure out how to deal with this situation.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

