---
title: Welcome to the Games Devroom
kind: event
speakers:
  -
    name: Nils Kneuper
    slug: nils_kneuper
    url: /schedule/speaker/nils_kneuper
slug: gamesdev_welcome
track: Open Source Game Development
track_url: /schedule/track/open_source_game_development
track_rank: 523
room: AW1.120
room_url: /schedule/room/aw1120
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 538
event_type: devroom
start: 2012-02-05 09:00:00.000000000 +00:00
end: 2012-02-05 09:10:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/open_source_game_development">Open Source Game Development</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1120">AW1.120</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>09:00</dd>
    <dt>End:</dt>
    <dd>09:10</dd>
</dl>

<p>During this talk you will hear a short introduction what this room is about and which talks to expect during the day. In case there are any last minute changes you will hear about them during this talk.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


