---
title: Gentoo ruby packaging
kind: event
speakers:
  -
    name: Hans de Graaff
    slug: hans_de_graaff
    url: /schedule/speaker/hans_de_graaff
slug: gentoo_ruby
track: CrossDistribution
track_url: /schedule/track/crossdistribution
track_rank: 499
room: H.1302
room_url: /schedule/room/h1302
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 844
event_type: devroom
start: 2012-02-04 16:30:00.000000000 +00:00
end: 2012-02-04 17:00:00.000000000 +00:00
links:
  -
    title: Video recording
    url: http://video.fosdem.org/2012/crossdistro/Gentoo_ruby_packaging.webm
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/crossdistribution">CrossDistribution</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1302">H.1302</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>16:30</dd>
    <dt>End:</dt>
    <dd>17:00</dd>
</dl>

<p>Gentoo currently has 400+ natively packaged ruby packages for 5 different ruby implementations. We'd like to share some of the unique things we did to bring ruby code and applications to our users in a true Gentoo fashion.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://video.fosdem.org/2012/crossdistro/Gentoo_ruby_packaging.webm">Video recording</a></li>
</ul>

