---
title: Gervill - Beyond MIDI
kind: event
speakers:
  -
    name: Karl Helgason
    slug: karl_helgason
    url: /schedule/speaker/karl_helgason
slug: gervill_beyond_midi
track: Free Java
track_url: /schedule/track/free_java
track_rank: 507
room: K.4.401
room_url: /schedule/room/k4401
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 713
event_type: devroom
start: 2012-02-05 14:00:00.000000000 +00:00
end: 2012-02-05 14:30:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/free_java">Free Java</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k4401">K.4.401</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>14:00</dd>
    <dt>End:</dt>
    <dd>14:30</dd>
</dl>

<p>Gervill is a MIDI Synthesizer which supports digital instruments like SoundFonts and DLS (Downloadable Sounds). The audio processing  code in the project has many other uses beyond MIDI, for example as a sound effects engine in games. In order to further evolve the project the plan is to seperate the audio processing code from the MIDI engine.</p>

<p>This talk will be about the internal of Gervill audio synthesis, some of the problems in there and how we are going to  improve upon them in mind to make it easer to extend and separate the engine.</p>

<p>At the and of talk there will demostration on how Gervill can be used for real-life peformance by Teun de Lange.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


