---
title: Getting into GNOME - Impressions of a new maintainer
kind: event
speakers:
  -
    name: Ekaterina Gerasimova
    slug: ekaterina_gerasimova
    url: /schedule/speaker/ekaterina_gerasimova
  -
    name: David King
    slug: david_king
    url: /schedule/speaker/david_king
slug: getting_into_gnome
track: CrossDesktop
track_url: /schedule/track/crossdesktop
track_rank: 511
room: H.1308
room_url: /schedule/room/h1308
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 727
event_type: devroom
start: 2012-02-05 15:45:00.000000000 +00:00
end: 2012-02-05 16:15:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/crossdesktop">CrossDesktop</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1308">H.1308</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>15:45</dd>
    <dt>End:</dt>
    <dd>16:15</dd>
</dl>

<ul>
<li>Where to start as a novice</li>
<li>Mentoring programmes (Google Summer of Code and Code-In, Outreach Program for Women, GNOME Love) for those who want to commit to a longer-term involvement</li>
<li>Guest appearance by Ekaterina Gerasimova to talk about the Outreach Program for Women, and her experience as both an intern and mentor in the GNOME Documentation Project</li>
<li>GNOME-specific entry routes, both through GNOME technology and GNOME Foundation initiatives</li>
<li>Becoming a module maintainer, the responsibilities and benefits</li>
<li>Examples of the above topics , with specific references to the Vinagre, Vino and Cheese projects, which I maintain</li>
<li>Alternative ways to contribute to GNOME, such as translation or volunteering to help organise GNOME events</li>
</ul>


<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

