---
title: Hack the Web
kind: event
speakers:
  -
    name: Matteo Ferretti
    slug: matteo_ferretti
    url: /schedule/speaker/matteo_ferretti
  -
    name: Jeff Griffiths
    slug: jeff_griffiths
    url: /schedule/speaker/jeff_griffiths
slug: getting_started_with_the_addon_sdk
track: Mozilla
track_url: /schedule/track/mozilla
track_rank: 510
room: UD2.218A
room_url: /schedule/room/ud2218a
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 761
event_type: devroom
start: 2012-02-04 12:30:00.000000000 +00:00
end: 2012-02-04 13:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/mozilla">Mozilla</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ud2218a">UD2.218A</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>12:30</dd>
    <dt>End:</dt>
    <dd>13:00</dd>
</dl>

<p>Use Mozilla's Addon SDK to quickly create Firefox extensions to improve your web browsing experience and integrate with Social Media. We will show you how to use your JS, HTML &amp; CSS skills to modify a target web-site and integrate it with Firefox using the unique capabilities of the SDK.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

