---
title: git-annex - manage files with git, without checking their contents into git
kind: event
speakers:
  -
    name: Richard Hartmann
    slug: richard_hartmann
    url: /schedule/speaker/richard_hartmann
slug: gitannex
track: Lightning Talks
track_url: /schedule/track/lightning_talks
track_rank: 20
room: Ferrer
room_url: /schedule/room/ferrer
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 517
event_type: lightningtalk
start: 2012-02-05 15:40:00.000000000 +00:00
end: 2012-02-05 15:55:00.000000000 +00:00
links:
  -
    title: Home page
    url: http://git-annex.branchable.com/
  -
    title: Code
    url: git://git.kitenet.net/git-annex
  -
    title: Slides
    url: https://github.com/RichiH/talks/blob/slides/2012/fosdem/git-annex/fosdem-2012-git-annex-talk.pdf
  -
    title: Video recording
    url: http://video.fosdem.org/2012/lightningtalks/git_annex___manage_files_with_git,_without_checking_their_contents_into_git.webm
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/lightning_talks">Lightning Talks</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ferrer">Ferrer</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>15:40</dd>
    <dt>End:</dt>
    <dd>15:55</dd>
</dl>

<p>This talk gives an overview of what git-annex is, how to use it, and why.</p>
<p>Talking points:</p>

<ul>
<li>What is git annex</li>
<li>What is the need/use-case for git-annex</li>
<li>How does git-annex store data outside of git, yet integrate seamlessly with git</li>
<li>What backends can git-annex use for storage?</li>
<li>What are common use cases? There are a lot of ways to use git-annex.</li>
<li>Short demonstration or time for questions.</li>
</ul>


<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://git-annex.branchable.com/">Home page</a></li>
    <li><a href="git://git.kitenet.net/git-annex">Code</a></li>
    <li><a href="https://github.com/RichiH/talks/blob/slides/2012/fosdem/git-annex/fosdem-2012-git-annex-talk.pdf">Slides</a></li>
    <li><a href="http://video.fosdem.org/2012/lightningtalks/git_annex___manage_files_with_git,_without_checking_their_contents_into_git.webm">Video recording</a></li>
</ul>

