---
title: Game On - Game Creation and Distribution with Gluon
kind: event
speakers:
  -
    name: Dan Leinir Turthra Jensen
    slug: dan_leinir_turthra_jensen
    url: /schedule/speaker/dan_leinir_turthra_jensen
slug: gluon
track: Open Source Game Development
track_url: /schedule/track/open_source_game_development
track_rank: 523
room: AW1.120
room_url: /schedule/room/aw1120
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 533
event_type: devroom
start: 2012-02-05 15:25:00.000000000 +00:00
end: 2012-02-05 16:10:00.000000000 +00:00
links:
  -
    title: Game On - Game Creation and Distribution with Gluon (audio recording)
    url: http://video.fosdem.org/2012/devrooms/open_source_game_development/Dan_Leinir_Turthra_Jensen_-_Game_On_-_Game_Creation_and_Distribution_with_Gluon.mp3
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/open_source_game_development">Open Source Game Development</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1120">AW1.120</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>15:25</dd>
    <dt>End:</dt>
    <dd>16:10</dd>
</dl>

<p>Building computer games is fast becoming big business, not just for the big companies, but also for the little companies. To join this vibrant world, we need tools: Ways of easily constructing the games, modern and effective distribution methods, ways of getting the users' feedback and so on.
Enter the GamingFreedom.org project, whose open platform empowers everybody to create and distribute games. This talk will shortly explain the ideas behind GamingFreedom.org, and present the Gluon framework for creating games, and the GamingFreedom.org network for makers and players of games.
Finally: A live, on-stage demo!</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://video.fosdem.org/2012/devrooms/open_source_game_development/Dan_Leinir_Turthra_Jensen_-_Game_On_-_Game_Creation_and_Distribution_with_Gluon.mp3">Game On - Game Creation and Distribution with Gluon (audio recording)</a></li>
</ul>

