---
title: ! 'GNOME 3.4 accessible: Status, news, future'
kind: event
speakers:
  -
    name: Alejandro Piñeiro Iglesias
    slug: alejandro_pineiro_iglesias
    url: /schedule/speaker/alejandro_pineiro_iglesias
slug: gnome3a11y
track: CrossDesktop
track_url: /schedule/track/crossdesktop
track_rank: 511
room: H.1308
room_url: /schedule/room/h1308
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 617
event_type: devroom
start: 2012-02-05 09:15:00.000000000 +00:00
end: 2012-02-05 09:55:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/crossdesktop">CrossDesktop</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1308">H.1308</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>09:15</dd>
    <dt>End:</dt>
    <dd>09:55</dd>
</dl>

<p>In GNOME, accessibility is a core value that touches all aspects of
the system. [1]</p>

<p>From the infrastructure, to the graphical toolkit, to the
applications, to the assistive technologies, accessibility has been a
central consideration from the very early days.</p>

<p>On April 2011 GNOME 3.0 was released, and although GNOME and the
accessibility made a huge effort, the accessibility support was not
ideal. But not are bad news. Finally the accessibility technologies
are starting to be used from the two main free desktops. AT-SPI is
starting to be used on KDE distros, and Orca is starting to be
functional with Qt apps. Since GNOME 3.0 a big effort was done in
order to improve the situation. At the moment of this proposal writing
an ATK/AT-SPI2 hackfest is being organized, in order to fix the issues
from the framework itself.</p>

<p>The purpose of this presentation is explaining:
  * Introduce accessibility on GNOME.
  * Briefly explain the status towards GNOME 3.4
  * Summarize the output of the ATK/AT-SPI2 hackfest
  * Compare GNOME 3.0 vs GNOME 3.4
  * KDE status and cooperation
  * Future</p>

<p>[1] http://library.gnome.org/devel/accessibility-devel-guide/nightly/gad-how-it-works.html.en</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


