---
title: Boxes, use other systems with ease
kind: event
speakers:
  -
    name: Marc-André Lureau
    slug: marc_andre_lureau
    url: /schedule/speaker/marc_andre_lureau
  -
    name: Zeeshan Ali (Khattak)
    slug: zeeshan_ali_(khattak)
    url: /schedule/speaker/zeeshan_ali_(khattak)
slug: gnomeboxes
track: CrossDesktop
track_url: /schedule/track/crossdesktop
track_rank: 511
room: H.1308
room_url: /schedule/room/h1308
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 616
event_type: devroom
start: 2012-02-05 10:45:00.000000000 +00:00
end: 2012-02-05 11:15:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/crossdesktop">CrossDesktop</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1308">H.1308</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>10:45</dd>
    <dt>End:</dt>
    <dd>11:15</dd>
</dl>

<p>Boxes is a new GNOME application to create and access local and
remote systems, such as virtual machines or remote desktop. A local
machine is powered by KVM &amp; Spice, and you can access remote desktop
via libvirt, SPICE and VNC (and more coming). Boxes is made for you,
developers, contributors, and users of application running on other systems.
During this talk we will demo latest version and describe the design of
Boxes. We will discuss the importance of Boxes as part of the
GNOME project. Finally, a list of missing features and the roadmap
for the next cycle will be presented.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

