---
title: Enterprise Control, Configuration and Logging/Alarming using GNUstep-base
kind: event
speakers:
  -
    name: Richard Frith-Macdonald
    slug: richard_frith_macdonald
    url: /schedule/speaker/richard_frith_macdonald
slug: gnustep_in_enterprise
track: GNUstep
track_url: /schedule/track/gnustep
track_rank: 524
room: AW1.126
room_url: /schedule/room/aw1126
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 732
event_type: devroom
start: 2012-02-04 15:15:00.000000000 +00:00
end: 2012-02-04 16:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/gnustep">GNUstep</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1126">AW1.126</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>15:15</dd>
    <dt>End:</dt>
    <dd>16:00</dd>
</dl>

<ol>
<li>An overview of the problem of dealing with multiple server processes on multiple hosts and sites.  How to provide fault tolerance and how to scale up without losing control.</li>
<li>A discussion of the use of the basic technologies such as Distributed Objects and property lists etc to implement these systems.</li>
<li>Control ... how we start/stop server processes, prevent duplication of processes, support automated restart, and query the state of processes.</li>
<li>Configuration ... how we provide specific configuration to each process under central control, yet allow those servers to operate independently.</li>
<li>Logging/Alarming ... how we provide and manage simple and consistent audit/debug logging facilities for server processes, and how we integrate with SNMP.</li>
</ol>


<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

