---
title: Works with persistent graphs using OrientDB 
kind: event
speakers:
  -
    name: Luca Molino
    slug: luca_molino
    url: /schedule/speaker/luca_molino
slug: graphdb_orientdb
day: Sun
start: 12:00
end: 12:00
event_id: 687
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/graph_processing">Graph Processing</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1125">AW1.125</a></dd>
    <dt>Day:</dt>
    <dd>Sunday</dd>
    <dt>Start:</dt>
    <dd>12:00</dd>
    <dt>End:</dt>
    <dd>12:35</dd>
</dl>

<p>This talk will present OrientDB open source project and its capability to handle persistent graphs in different ways.
OrientDB presentation
Java Graph Native API
SQL+graph extensions
HTTP API
Blueprints API
Gremlin usage
Console tool
Studio web tool</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

