---
title: ! 'Graphity: an efficient neo4j based graph model for retrieving the top k news feeds for users in social networks '
kind: event
speakers:
  -
    name: Rene Pickhardt 
    slug: rene_pickhardt_
    url: /schedule/speaker/rene_pickhardt_
slug: graphity_neo4j_social_nets
track: Graph Processing
track_url: /schedule/track/graph_processing
track_rank: 521
room: AW1.125
room_url: /schedule/room/aw1125
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 688
event_type: devroom
start: 2012-02-05 12:45:00.000000000 +00:00
end: 2012-02-05 13:15:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/graph_processing">Graph Processing</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1125">AW1.125</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>12:45</dd>
    <dt>End:</dt>
    <dd>13:15</dd>
</dl>

<p>You can find more information about it in my blog article: http://www.rene-pickhardt.de/graphity-an-efficient-graph-model-for-retrieving-the-top-k-news-feeds-for-users-in-social-networks/
and a demo can be found at http://gwt.metalcon.de/GWT-Modelling/#Home</p>

<p>A key challenge of web platforms like social networking sites and services for news feed aggregation is the efficient and targeted distribution of new content items to the users. This can be formulated as the problem of retrieving the top-k news items out of the d-degree ego network of each given user, where the set of all users producing feeds is of size n, with n ≫ d ≫ k and typically k &lt; 20. Existing approaches employ either expensive join operations on global indices or suffer from high redundancy through denormalization. This makes retrieving of different top-k news item sets for thousands of users per second very inefficient in a large network.
In this paper, we propose a novel index GRAPHITY to remedy this problem. The GRAPHITY index is based on neo4j and allows retrieval of the top-k news items from a user’s ego network independent of the node degree of his ego network, thus reducing join efforts. In addition to efficient top-k retrieval, GRAPHITY does not introduce any redundancies in the content data.We prove that updates of the index are in O(1) and adding a new content item is linear in the user’s indegree. We compare the theoretical run time complexity of GRAPHITY against several baselines on two data sets of different characteristics and size. Our evaluation confirms that GRAPHITY is independent of the node degree d and network size n. In addition, GRAPHITY significantly outperforms the baselines in retrieving the news feeds as our theoretical examination predicted.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

