---
title: greenlight for girls
kind: event
speakers:
  -
    name: Cheryl Miller
    slug: cheryl_miller
    url: /schedule/speaker/cheryl_miller
slug: greenlight4girls
day: Sat
start: 13:20
end: 13:20
event_id: 479
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/lightning_talks">Lightning Talks</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ferrer">Ferrer</a></dd>
    <dt>Day:</dt>
    <dd>Saturday</dd>
    <dt>Start:</dt>
    <dd>13:20</dd>
    <dt>End:</dt>
    <dd>13:35</dd>
</dl>

<p>Greenlightforgirls.org is a Brussels-based, international NGO promoting science, technology, engineering and mathematics to girls of all ages and backgrounds. We promote female role models from technical sectors to youngsters, and run events which inspire girls to study and pursue careers in technical areas, including computers. With this knowledge, we believe girls will save the world!</p>

<p>As EU Director and global Technology Chair of the greenlight for girls foundation I aim to:  1. Create awareness about the need to attract more youth - especially girls - to computer science-related studies and careers, and science/tech sectors, in general;  2. Showcase the global activities of our foundation (20 events around the world in just our first 1.5 years in existence); and 3. Seek support from the global FLOSS (women?) developer community for g4g initiatives specifically requiring their involvement to succeed.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

