---
title: greenlight for girls
kind: event
speakers:
  -
    name: Cheryl Miller
    slug: cheryl_miller
    url: /schedule/speaker/cheryl_miller
slug: greenlight4girls
track: Lightning Talks
track_url: /schedule/track/lightning_talks
track_rank: 20
room: Ferrer
room_url: /schedule/room/ferrer
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 479
event_type: lightningtalk
start: 2012-02-04 13:20:00.000000000 +00:00
end: 2012-02-04 13:35:00.000000000 +00:00
links:
  -
    title: Greenlight Website
    url: http://www.greenlightforgirls.org
  -
    title: Project Website
    url: http://www.ict2act.be/greenlight2011/
  -
    title: Video recording
    url: http://video.fosdem.org/2012/lightningtalks/Greenlight_for_girls.webm
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/lightning_talks">Lightning Talks</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ferrer">Ferrer</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>13:20</dd>
    <dt>End:</dt>
    <dd>13:35</dd>
</dl>

<p>Greenlightforgirls.org is a Brussels-based, international NGO promoting science, technology, engineering and mathematics to girls of all ages and backgrounds. We promote female role models from technical sectors to youngsters, and run events which inspire girls to study and pursue careers in technical areas, including computers. With this knowledge, we believe girls will save the world!</p>

<p>As EU Director and global Technology Chair of the greenlight for girls foundation I aim to:  1. Create awareness about the need to attract more youth - especially girls - to computer science-related studies and careers, and science/tech sectors, in general;  2. Showcase the global activities of our foundation (20 events around the world in just our first 1.5 years in existence); and 3. Seek support from the global FLOSS (women?) developer community for g4g initiatives specifically requiring their involvement to succeed.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://www.greenlightforgirls.org">Greenlight Website</a></li>
    <li><a href="http://www.ict2act.be/greenlight2011/">Project Website</a></li>
    <li><a href="http://video.fosdem.org/2012/lightningtalks/Greenlight_for_girls.webm">Video recording</a></li>
</ul>

