---
title: ! 'The Growl Project: Making users happy one notification at a time'
kind: event
speakers:
  -
    name: Vasileios Georgitzikis
    slug: vasileios_georgitzikis
    url: /schedule/speaker/vasileios_georgitzikis
slug: growl
track: Lightning Talks
track_url: /schedule/track/lightning_talks
track_rank: 20
room: Ferrer
room_url: /schedule/room/ferrer
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 498
event_type: lightningtalk
start: 2012-02-04 18:00:00.000000000 +00:00
end: 2012-02-04 18:15:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/lightning_talks">Lightning Talks</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ferrer">Ferrer</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>18:00</dd>
    <dt>End:</dt>
    <dd>18:15</dd>
</dl>

<p>The Growl Project, started in 2004, is the de facto open source notification framework for Mac OS X, and it's currently used by a wide range of applications, such as Firefox, Chrome, Adium, Skype, Dropbox etc. In this talk, we will present Growl, the various Growl Extras, and the GNTP protocol used to send and receive notifications locally or over the network.</p>
<p>We would like to present a brief history of Growl, as well the current state of the framework that handles notifications. We will also present the Growl Extras, applications developed by the Growl Team which use Growl to notify the user on various events (GrowlTunes, HardwareGrowler, GrowlSafari, Capster), and how easy it is to use the Growl framework to notify your users in your own applications.</p>

<p>We will also discuss the GNTP protocol, which is used to send and receive Growl notifications locally or over the network. GNTP is platform-agnostic, and there are already GNTP-compatible Growl alternatives for Windows and Linux. Thanks to the variety of bindings, it is easy to send Growl notifications between computers and any GNTP-compatible device.</p>

<p>Last but not least, we will briefly discuss the recent decision to use Apple's marketplace as a revenue stream in order to sustain the continued development of the growl project and the expansion of our efforts, without sacrificing our open source nature.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

