---
title: GStreamer 1.0 - the next generation of your favourite multimedia framework
kind: event
speakers:
  -
    name: Tim-Philipp Müller
    slug: tim_philipp_muller
    url: /schedule/speaker/tim_philipp_muller
slug: gstreamer1_0
track: CrossDesktop
track_url: /schedule/track/crossdesktop
track_rank: 511
room: H.1308
room_url: /schedule/room/h1308
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 609
event_type: devroom
start: 2012-02-04 11:20:00.000000000 +00:00
end: 2012-02-04 12:10:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/crossdesktop">CrossDesktop</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1308">H.1308</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>11:20</dd>
    <dt>End:</dt>
    <dd>12:10</dd>
</dl>

<p>GStreamer is a highly versatile plugin-based multimedia framework that
provides abstractions to cater for a whole range of multimedia needs,
whether desktop applications, streaming servers or multimedia
middleware; embedded systems, desktops or server farms.</p>

<p>GStreamer 1.0 is the next generation of the successful GStreamer 0.10.x
API series where some of the core API has got a complete overhaul to
address many of the limitations we have run into over the years with the
old API. In many respects, 1.0 will be pretty much the same as 0.10, but
in others it will be radically different.</p>

<p>This talk is a high-level overview of what's been happening in the world
of GStreamer as of late, with a special focus on the status of GStreamer
1.0, highlighting some of the improvements it will bring.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

