---
title: Hacking on OpenStack Compute (Nova) - A beginner's guide
kind: event
speakers:
  -
    name: Soren Hansen
    slug: soren_hansen
    url: /schedule/speaker/soren_hansen
slug: hacking_on_nova
track: Virtualization and Cloud
track_url: /schedule/track/virtualization_and_cloud
track_rank: 508
room: Chavanne
room_url: /schedule/room/chavanne
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 553
event_type: devroom
start: 2012-02-04 11:30:00.000000000 +00:00
end: 2012-02-04 11:55:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/virtualization_and_cloud">Virtualization and Cloud</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/chavanne">Chavanne</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>11:30</dd>
    <dt>End:</dt>
    <dd>11:55</dd>
</dl>

<p>This talk will include an introduction to OpenStack Nova's overall network architecture, as well as an introduction to the anatomy of one of the services that make up Nova. Finally, I'll give a give an introduction to Eventlet, the event library we use in all of OpenStack. In short, this talk should help you dive into most parts of Nova and not feel like too much of a stranger.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


