---
title: How I added a feature to Firefox
kind: event
speakers:
  -
    name: Paolo Amadini
    slug: paolo_amadini
    url: /schedule/speaker/paolo_amadini
slug: how_i_added_a_feature_to_firefox
track: Mozilla
track_url: /schedule/track/mozilla
track_rank: 510
room: UD2.218A
room_url: /schedule/room/ud2218a
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 769
event_type: devroom
start: 2012-02-04 16:30:00.000000000 +00:00
end: 2012-02-04 17:00:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/mozilla">Mozilla</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ud2218a">UD2.218A</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>16:30</dd>
    <dt>End:</dt>
    <dd>17:00</dd>
</dl>

<p>A lot has been said about writing your first patch, but how about adding a new feature?</p>

<ul>
<li>What's the impact that volunteer contributors can have in innovating the browser?</li>
<li>Who is going to work with you and what's your role as a developer?</li>
<li>What can you do to ensure the work you start will be completed?</li>
</ul>


<p>We'll talk about these topics using the Firefox Downloads Panel as a real-world example.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


