---
title: IIO, a new subsystem for I/O devices
kind: event
speakers:
  -
    name: Maxime Ripard
    slug: maxime_ripard
    url: /schedule/speaker/maxime_ripard
slug: iio
track: Embedded
track_url: /schedule/track/embedded
track_rank: 509
room: Lameere
room_url: /schedule/room/lameere
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 693
event_type: devroom
start: 2012-02-04 12:00:00.000000000 +00:00
end: 2012-02-04 13:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/embedded">Embedded</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/lameere">Lameere</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>12:00</dd>
    <dt>End:</dt>
    <dd>13:00</dd>
</dl>

<p>IIO (Industrial I/O) is a new kernel subsystem to allow easy userspace
interaction with data capture devices (ADCs, DACs, accelerometers,
light sensors, etc), while maintaining a high level of performance.</p>

<p>Based on a recent driver contribution using this subsystem, we will
detail how to build a simple driver using this subsystem and explore
how to use advanced features like triggered captures or buffering. We
will also explore IIO user space API and how to use it.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

