---
title: ! 'Infinispan: where open source, Java and in-memory data grids converge'
kind: event
speakers:
  -
    name: Manik Surtani
    slug: manik_surtani
    url: /schedule/speaker/manik_surtani
slug: infinispan_where_open_source_java_and_in_memory_data_grids_converge
track: JBoss.org
track_url: /schedule/track/jbossorg
track_rank: 501
room: K.3.201
room_url: /schedule/room/k3201
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 542
event_type: devroom
start: 2012-02-04 16:00:00.000000000 +00:00
end: 2012-02-04 16:55:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/jbossorg">JBoss.org</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k3201">K.3.201</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>16:00</dd>
    <dt>End:</dt>
    <dd>16:55</dd>
</dl>

<p>In today's cloudy world of highly scalable applications, the database is increasingly the common culprit for most performance and scalability bottlenecks.  NoSQL is often touted as the solution to your data storage woes, but data grids are a very viable alternative as well, providing both a performance boost to those using relational databases in the form of a distributed cache, but also as a primary key/value store.  However, open source is crucial too since such systems often comprise of lots of cheap commodity-hardware nodes.  Proprietary solutions based on per-CPU licensing models may scale in terms of transactions per second, but fail to scale financially.  And this is where Infinispan comes in: the open source in-memory data grid for the JVM.</p>

<p>In this talk, Infinispan founder and project lead Manik Surtani will discuss the role of in-memory data grids in the Java ecosystem, in relation to cloud, PaaS and enterprise software.  Overlaps with NoSQL will also be discussed, as well as an update on JSR 107 and JSR 347, two JSRs that affect distributed caching and data grids.</p>
<p>Ref : http://www.jboss.org/infinispan</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

