---
title: Internet of Threads
kind: event
speakers:
  -
    name: Renzo Davoli
    slug: renzo_davoli
    url: /schedule/speaker/renzo_davoli
slug: internet_of_threads
day: Sun
start: 11:00
end: 11:00
event_id: 433
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/network_and_io">Network and IO</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k1105">K.1.105</a></dd>
    <dt>Day:</dt>
    <dd>Sunday</dd>
    <dt>Start:</dt>
    <dd>11:00</dd>
    <dt>End:</dt>
    <dd>11:50</dd>
</dl>

<p>"Internet of Threads" gives a new perspective on the Internet. Each process, group of processes or even a single thread can be an Internet node, having its own ip address, QoS, routing etc. Virtual Distributed Ethernet, User mode IP stacks, partial virtual machines can make this change possible.</p>
<p>What does a network connect? The question about which are the real nodes of a network has been the target much recent discussion in the research community. In the beginning Internet and the TCP/IP protocols were based on the idea to connect computers, hence, the addressable entities were the networking adapters.</p>

<p>This seminar introduces an alternative view: a process or a group of processes can be made to correspond to a single networking node. This concept has been named Internet of Threads.</p>

<p>This proposal is already supported by a set of software tools which are an experimentalproof-of-concept for this change of outlook on networking.</p>

<p>The international research lab on virtuality named VirtualSquare developed several tools:</p>

<p>   · VDE: the Virtual Distributed Ethernet. It supports the definition of virtual LANS interconnecting user Virtual Machines (and other virtual entities) both running on the same host and on remote hosts.</p>

<p>   · LWIPv6: a hybrid stack IPv6, back compatible with IPv4, and implemented by a modular library. A program using LWIPv6 can join a TCP-IP network using its own IP addresses, routing, etc. LWIPv6 supports address autoconfiguration, DHCP server, DHCP client, NAT and slirp (including IPv6 NAT and slirp).</p>

<p>   · View-OS/umnet/umnetlwipv6: View-OS implements partial virtual machines, i.e. it grants the possibility of virtualizing only some features of the hosting environment. For example the module named umfuse supports the virtual mount operation of file systems, umdev supports the definition of virtual devices. Umnet furthermore supports virtual networking stacks, and its submodule umnetlwipv6 uses LWIPv6 to define multiple TCP-IP stacks. By View-OS, standard tools like web browsers, ssh servers or clients can use virtual networks, e.g. a VPN, while other processes running on the same host are under different network definitions (e.g. the kernel provided TCP-IP stack which uses the physical networking adapters installed).</p>

<p>This change of view permits great flexibility in terms of service migration: a virtual distributed ethernet network defines a cloud in which the programs (our threads) are directly connected as they were nodes of a LAN. When joining a VDE, the physical
location of the server thread which provides a service is irrelevant: that virtual address can be everywhere on the virtual network.</p>

<p>Within Internet of Threads, the idea of running a unique stack per host, or at least a unique one per container, become obsolete. The stack is merely a library which implements the layers of a protocol stack. This library can run as kernel code or as user
level code, depending on the performance requirements of the system. The fundamental change is that each user can run several networking stacks for her applications (processes or threads) and she can decide which virtual (or real) network is connected to each stack and which IP addresses, routing, QoS apply.</p>

<p>The model includes also gateway applications working with several networking stacks at the same time. Unfortunately, the Berkeley sockets API was designed with the implicit assumption of a single netwokring stack available. We designed an extension to the API in order to fix this lack by providing the support of serveral stacks. This extension allows the support of useful features like:</p>

<p>   · The simultaneous support of several stacks for different usage scenarios: different retransmission policies, different sizes for the TCP packet windows etc.</p>

<p>   · The support of a production stack together with an experimental stack. It is common to have one single stack implementation, including when several stack instances are running in the system (e.g. virtual adapters for containers). Through the idea of Internet of Threads it is possible to use a reliable stack for the normal use and in the meanwhile to control the experimental environment provided by a second stack, maybe still unreliable and under investigation.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

