---
title: Introduction to pkgng
kind: event
speakers:
  -
    name: Baptiste Daroussin
    slug: baptiste_daroussin
    url: /schedule/speaker/baptiste_daroussin
slug: intro_to_pkgng
track: BSD
track_url: /schedule/track/bsd
track_rank: 500
room: K.4.201
room_url: /schedule/room/k4201
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 847
event_type: devroom
start: 2012-02-05 10:00:00.000000000 +00:00
end: 2012-02-05 10:45:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/bsd">BSD</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k4201">K.4.201</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>10:00</dd>
    <dt>End:</dt>
    <dd>10:45</dd>
</dl>

<p>Pkgng is a completely new package manager rewritten from scratch. It aims at replacing the old pkg_install. It is developed on top of new libpkg which is the high level library that does all the package management, it brings new features such as safe upgrade, (multi) repository support, integrity checking and more. It has been designed to be extensible while remaining fully compatible with the current FreeBSD ports tree.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

