---
title: An introduction to Ada 2005 and Ada 2012
kind: event
speakers:
  -
    name: Jean-Pierre Rosen
    slug: jean_pierre_rosen
    url: /schedule/speaker/jean_pierre_rosen
slug: introduction_to_ada
track: Ada
track_url: /schedule/track/ada
track_rank: 518
room: AW1.121
room_url: /schedule/room/aw1121
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 871
event_type: devroom
start: 2012-02-04 12:05:00.000000000 +00:00
end: 2012-02-04 12:50:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/ada">Ada</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1121">AW1.121</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>12:05</dd>
    <dt>End:</dt>
    <dd>12:50</dd>
</dl>

<p>Overview of the main features of the Ada language, with special emphasis on those features that make it especially attractive for free software development.</p>
<p>Ada is a feature-rich language, but what really makes Ada stand-out is that the features are nicely integrated towards serving the goals of software engineering. If you prefer to spend your time on designing elegant solutions rather than on low-level debugging, if you think that software should not fail, if you like to build programs from readily available components that you can trust, you should really consider Ada!</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


