---
title: Introducing the Metrics Data Ping
kind: event
speakers:
  -
    name: Mark Reid
    slug: mark_reid
    url: /schedule/speaker/mark_reid
slug: introducing_the_metrics_data_ping
track: Mozilla
track_url: /schedule/track/mozilla
track_rank: 510
room: UD2.218A
room_url: /schedule/room/ud2218a
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 857
event_type: devroom
start: 2012-02-05 11:30:00.000000000 +00:00
end: 2012-02-05 12:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/mozilla">Mozilla</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ud2218a">UD2.218A</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>11:30</dd>
    <dt>End:</dt>
    <dd>12:00</dd>
</dl>

<p>A General overview of the new data collection module, as well as an explanation of the rationale for adding it.</p>
<p>Mozilla needs to have a clear, data-driven understanding of what using Firefox is like for the majority of our users. This allows us to make decisions about where to prioritize development, investigate new or poorly understood problems, and improve the user experience.  The Metrics Data Ping is a new project to address this need.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

