---
title: ! 'IT@Mozilla: Open sourcing the infrastructure'
kind: event
speakers:
  -
    name: Ben Kero
    slug: ben_kero
    url: /schedule/speaker/ben_kero
slug: it_at_mozilla_open_sourcing_the_infrastructure
track: Mozilla
track_url: /schedule/track/mozilla
track_rank: 510
room: UD2.218A
room_url: /schedule/room/ud2218a
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 862
event_type: devroom
start: 2012-02-05 14:30:00.000000000 +00:00
end: 2012-02-05 15:00:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/mozilla">Mozilla</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ud2218a">UD2.218A</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>14:30</dd>
    <dt>End:</dt>
    <dd>15:00</dd>
</dl>

<p>Mozilla supports one of the most diverse and varied sets of machines in the industry.  Some sets must serve tens of millions requests per day, and some must perform complicated and intensive functions.  Some of their greatest assets are external code contributions and community involvement.  Come see how many of the projects within Mozilla IT have been open sourced, and how external contributors have improved the projects.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


