---
title: JDK 7 Updates in OpenJDK 
kind: event
speakers:
  -
    name: Edvard Wendelin
    slug: edvard_wendelin
    url: /schedule/speaker/edvard_wendelin
  -
    name: Dalibor Topić
    slug: dalibor_topic
    url: /schedule/speaker/dalibor_topic
slug: jdk_7_updates_in_openjdk
track: Free Java
track_url: /schedule/track/free_java
track_rank: 507
room: K.4.401
room_url: /schedule/room/k4401
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 679
event_type: devroom
start: 2012-02-04 11:30:00.000000000 +00:00
end: 2012-02-04 12:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/free_java">Free Java</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k4401">K.4.401</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>11:30</dd>
    <dt>End:</dt>
    <dd>12:00</dd>
</dl>

<p>In this talk you'll learn how the JDK 7 Updates Project in OpenJDK works,
and how to work within it, how to track changes, get your fixes in, and follow along
as for example the Mac OS X Port gets integrated into future JDK 7 update releases.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

