---
title: ! 'The LemonLDAP::NG Project'
kind: event
speakers:
  -
    name: Clément Oudot
    slug: clement_oudot
    url: /schedule/speaker/clement_oudot
slug: lemonldapng
track: Perl
track_url: /schedule/track/perl
track_rank: 519
room: AW1.121
room_url: /schedule/room/aw1121
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 913
event_type: devroom
start: 2012-02-05 11:55:00.000000000 +00:00
end: 2012-02-05 12:15:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/perl">Perl</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1121">AW1.121</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>11:55</dd>
    <dt>End:</dt>
    <dd>12:15</dd>
</dl>

<p>LemonLDAP::NG is a free WebSSO software written in Perl and using Apache engine. It supports CAS, OpenID and SAML 2.0 protocols.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

