---
title: libguestfs - tools for modifying virtual machine disk images
kind: event
speakers:
  -
    name: Richard Jones
    slug: richard_jones
    url: /schedule/speaker/richard_jones
slug: libguestfs
track: Virtualization and Cloud
track_url: /schedule/track/virtualization_and_cloud
track_rank: 508
room: Chavanne
room_url: /schedule/room/chavanne
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 560
event_type: devroom
start: 2012-02-04 12:30:00.000000000 +00:00
end: 2012-02-04 12:55:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/virtualization_and_cloud">Virtualization and Cloud</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/chavanne">Chavanne</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>12:30</dd>
    <dt>End:</dt>
    <dd>12:55</dd>
</dl>

<p>libguestfs is a set of tools for accessing and modifying virtual machine (VM) disk images.  You can use this to inject files, resize, rescue, create, view or audit disks.  libguestfs is also a library that you can link to management programs written in C, Perl, Python, Ruby, Java and other languages.  In this talk, Richard Jones will
introduce the tools and give live demonstrations.  He also talks about how they work behind the scenes.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


