---
title: LibreOffice QA
kind: event
speakers:
  -
    name: Cor Nouws
    slug: cor_nouws
    url: /schedule/speaker/cor_nouws
slug: liboqa
track: LibreOffice
track_url: /schedule/track/libreoffice
track_rank: 512
room: H.1309
room_url: /schedule/room/h1309
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 744
event_type: devroom
start: 2012-02-04 13:15:00.000000000 +00:00
end: 2012-02-04 13:45:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/libreoffice">LibreOffice</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1309">H.1309</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>13:15</dd>
    <dt>End:</dt>
    <dd>13:45</dd>
</dl>

<p>Come and hear how the LibreOffice QA team works, get hands on experience with bugzilla, find out where our daily snapshots are, and how to use them, and chat with fellow QA guys. See some feedback on the progress of bug tracking and some pretty graphs.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

