---
title: Calc Hacking
kind: event
speakers:
  -
    name: Eike Rathke
    slug: eike_rathke
    url: /schedule/speaker/eike_rathke
slug: libocalc
day: Sat
start: 16:45
end: 16:45
event_id: 750
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/libreoffice">LibreOffice</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1309">H.1309</a></dd>
    <dt>Day:</dt>
    <dd>Saturday</dd>
    <dt>Start:</dt>
    <dd>16:45</dd>
    <dt>End:</dt>
    <dd>17:15</dd>
</dl>

<p>Calc has been described by some as a cross between a programming language and a brick factory; come and see how it fits together and how you can get stuck into torturing it into doing what you really wanted all along.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

