---
title: LibreOffice extension for Sharepoint
kind: event
speakers:
  -
    name: Miklos Vajna
    slug: miklos_vajna
    url: /schedule/speaker/miklos_vajna
  -
    name: Cedric Bosdonnat
    slug: cedric_bosdonnat
    url: /schedule/speaker/cedric_bosdonnat
slug: libosharep
track: LibreOffice
track_url: /schedule/track/libreoffice
track_rank: 512
room: H.1309
room_url: /schedule/room/h1309
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 753
event_type: devroom
start: 2012-02-04 18:00:00.000000000 +00:00
end: 2012-02-04 18:15:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/libreoffice">LibreOffice</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1309">H.1309</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>18:00</dd>
    <dt>End:</dt>
    <dd>18:15</dd>
</dl>

<p>LPSP stands for LibreOffice extension providing connection to SharePoint. This Java extension is a great solution for users needing SharePoint support right now and/or don't consider upgrading (yet) to newer SharePoint versions supporting CMIS.</p>

<p>We'll also take a short time to explain about the CMIS connection and why it is a cool thing to hack on.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

