---
title: Accessibility in LibreOffice
kind: event
speakers:
  -
    name: Christopher Strobbe
    slug: christopher_strobbe
    url: /schedule/speaker/christopher_strobbe
slug: liboa11y
day: Sat
start: 11:00
end: 11:00
event_id: 739
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/libreoffice">LibreOffice</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1309">H.1309</a></dd>
    <dt>Day:</dt>
    <dd>Saturday</dd>
    <dt>Start:</dt>
    <dd>11:00</dd>
    <dt>End:</dt>
    <dd>11:15</dd>
</dl>

<p>LibreOffice has many features for accessible authoring: it provides functionality to use the accessibility features of the OpenDocument Format (ODF), it supports export to tagged PDF (unlike most other free and open-source tools), it has extensions for exporting to digital audio books (odt2daisy) and Braille (odt2braille), and an extension for evaluating and repairing accessibility issues in ODT, DOC and DOCX (AccessODF). It also implements accessibility APIs to enable users of assistive technologies to use the office suite. However, there is room for improvement, both with regard to the creation of accessible content and with regard to the accessibility of LibreOffice itself. This presentation will discuss both types of issues. It will highlight bugs and feature requests that could be addressed to make it easier to create accessible content, and issues related to the support for accessibility APIs.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

