---
title: Libre.fm and GNU FM - Supporting free culture artists with free software
kind: event
speakers:
  -
    name: Michael Sheldon
    slug: michael_sheldon
    url: /schedule/speaker/michael_sheldon
slug: librefm
day: Sun
start: 14:20
end: 14:20
event_id: 456
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/lightning_talks">Lightning Talks</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ferrer">Ferrer</a></dd>
    <dt>Day:</dt>
    <dd>Sunday</dd>
    <dt>Start:</dt>
    <dd>14:20</dd>
    <dt>End:</dt>
    <dd>14:35</dd>
</dl>

<p>The GNU FM software allows music lovers to share their listening habits and to discover new music. It allows artists to find new audiences for their music and to earn a little money.</p>

<p>Libre.fm is a public installation of GNU FM which anyone can make use of, and which currently has roughly 50,000 users and over 80,000 streamable tracks by 7,500 artists. By letting Libre.fm know what music you like and dislike it's able to construct personalised radio streams filled with great freely licensed music tailored specifically to your tastes.</p>

<p>In this talk we'll discuss what we've achieved so far, our plans for the future and how you can help out.</p>
<p>GNU FM implements the Last.fm protocols, making it an easy drop-in replacement for clients that already support the submission of listening statistics to Last.fm, and for clients capable of playing Last.fm radio streams. A number of players have already added out of the box support for Libre.fm, including the GNOME music player Rhythmbox.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

