---
title: ! 'LibrePlan: Open Web Planning'
kind: event
speakers:
  -
    name: Diego Pino García
    slug: diego_pino_garcia
    url: /schedule/speaker/diego_pino_garcia
slug: libreplan
track: Lightning Talks
track_url: /schedule/track/lightning_talks
track_rank: 20
room: Ferrer
room_url: /schedule/room/ferrer
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 491
event_type: lightningtalk
start: 2012-02-05 11:20:00.000000000 +00:00
end: 2012-02-05 11:35:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/lightning_talks">Lightning Talks</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ferrer">Ferrer</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>11:20</dd>
    <dt>End:</dt>
    <dd>11:35</dd>
</dl>

<p>LibrePlan is a collaborative tool for planning, monitoring and control of different types of projects. LibrePlan is a project management tool based on Gantt diagrams. It is also a web-application. Thanks to its rich web interface, LibrePlan provides an user experience similar to desktop applications like MS Project.</p>
<p>When planning a project, it's very common to find yourself managing different resources working in different projects at the same time. LibrePlan was designed from the very beginning to deal with scenarios like this, where resources and projects have a high degree of connection. This requirement makes LibrePlan a little bit different to other existing tools.</p>

<p>LibrePlan is not an isolated island. It's usual that input data needed by LibrePlan may be stored in other systems. In that case, LibrePlan can be fed with these data, thanks to its web services import capabilities. On the other hand, LibrePlan can feed other applications if necessary or even communicate with other LibrePlan instances.</p>

<p>LibrePlan is a free software application licensed under the AGPL. One of the great assets of LibrePlan is its open development process, always driven by the LibrePlan community. The LibrePlan community engages companies and individuals working together hand by hand to build the best free software project management tool.</p>

<p>If are keen to know more about LibrePlan, if you are a developer and would like to collaborate with the LibrePlan community or if you are a company and would like to start using LibrePlan for planning your project, please come to see us and learn more why LibrePlan is important for you.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

