---
title: Linux (SoC) power management
kind: event
speakers:
  -
    name: Jean Pihet
    slug: jean_pihet
    url: /schedule/speaker/jean_pihet
slug: linux_soc_power
day: Sat
start: 13:00
end: 13:00
event_id: 694
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/embedded">Embedded</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/lameere">Lameere</a></dd>
    <dt>Day:</dt>
    <dd>Saturday</dd>
    <dt>Start:</dt>
    <dd>13:00</dd>
    <dt>End:</dt>
    <dd>14:00</dd>
</dl>

<p>Due to the nature of the new SoC architectures the Power Management
needs a new model for the various system latencies.</p>

<p>The talk presents:
- the concepts of system, devices, wake-up and resume latencies,
- the recent changes in the devices framework for the latency, why and
how to make it generic,
- the recent changes in the ARM/OMAP platform code for the system latency,
- the problems encountered while modeling and measuring the various latencies,
- a proposal on the model,
- the planned changes in the device framework, the platform code and the APIs.</p>

<p>This talk is oriented towards Linux power management developers and
users. The generic model covers all flavors of Linux, from the
embedded device up to the multi processor computing server.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

