---
title: ! 'LISPmob: enhanced network layer mobility solution'
kind: event
speakers:
  -
    name: Loránd Jakab
    slug: lorand_jakab
    url: /schedule/speaker/lorand_jakab
slug: lispmob
track: Lightning Talks
track_url: /schedule/track/lightning_talks
track_rank: 20
room: Ferrer
room_url: /schedule/room/ferrer
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 471
event_type: lightningtalk
start: 2012-02-04 16:00:00.000000000 +00:00
end: 2012-02-04 16:15:00.000000000 +00:00
links:
  -
    title: Video recording
    url: http://video.fosdem.org/2012/lightningtalks/LISPmob.webm
  -
    title: LISPmob Github Page
    url: https://github.com/LISPmob/lispmob
  -
    title: LISPmob Project Home
    url: http://lispmob.org/
  -
    title: LISP Mobile Node IETF draft
    url: https://tools.ietf.org/html/draft-meyer-lisp-mn
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/lightning_talks">Lightning Talks</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ferrer">Ferrer</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>16:00</dd>
    <dt>End:</dt>
    <dd>16:15</dd>
</dl>

<p>Wouldn't it be great if our phones, tablets, laptops and other mobile gadgets could use the same IP (v4 and/or v6) address regardless of which network they are connected to? And all that without a fixed tunnel causing path stretch, while offering some advanced traffic management features? This talk will present the LISPmob project, which implements a network layer mobility solution based on the Locator/ID Separation Protocol.</p>
<p>LISP stands for not just the programming language, but for the Locator/ID Separation Protocol as well, which is a soon-to-be-finalized IETF standard. LISP can be used to improve network layer mobility, by assigning a static Endpoint IDentifier (EID) to hosts, which are mapped to a Routing LOCator (RLOC) identifying the network point of attachment. Both EIDs and RLOCs are IP addresses. Transport layer connections use EIDs, while packets are traveling in dynamic point-to-point tunnels using RLOCs for encapsulation between hosts, thus avoiding path stretch.</p>

<p>The LISP Mobile Node specification enables maintaining the same IP address regardless of network attachment point, and address family combination. For example, a device can use an IPv4 address on an IPv4-only, IPv6-only, or dual stack network. Since a roaming event does not change the IP address used by transport layer, ongoing connections (such as a SIP call) are maintained. Additionally, nodes with several available interfaces can define active-backup, or active-active load balanced incoming traffic policies.</p>

<p>The LISPmob Project is an implementation of the above specification for Linux, consisting of two kernel modules and a user space daemon.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://video.fosdem.org/2012/lightningtalks/LISPmob.webm">Video recording</a></li>
    <li><a href="https://github.com/LISPmob/lispmob">LISPmob Github Page</a></li>
    <li><a href="http://lispmob.org/">LISPmob Project Home</a></li>
    <li><a href="https://tools.ietf.org/html/draft-meyer-lisp-mn">LISP Mobile Node IETF draft</a></li>
</ul>

