---
title: ! 'LibreOffice: on-line and in your pocket'
kind: event
speakers:
  -
    name: Michael Meeks
    slug: michael_meeks
    url: /schedule/speaker/michael_meeks
slug: lo_online
track: Future of UI
track_url: /schedule/track/future_of_ui
track_rank: 120
room: K.1.105
room_url: /schedule/room/k1105
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 378
event_type: main
start: 2012-02-04 16:00:00.000000000 +00:00
end: 2012-02-04 16:50:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/future_of_ui">Future of UI</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k1105">K.1.105</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>16:00</dd>
    <dt>End:</dt>
    <dd>16:50</dd>
</dl>

<p>Hear how LibreOffice is tackling our users demands both for an 'app', a web office suite, and a traditional fat client, and how we have fun while improving the software.</p>
<p>As the world moves simultaneously either to the cloud or towards 'apps' - come hear how LibreOffice is tackling our users' needs in both of these (apparently conflicting) directions with the same code-base.</p>

<p>See a demo of the LibreOffice On-Line prototypem, grasp the technologies, understand the benefits and problems of this model of web provision, and hear how you can play with / adapt gtk+ / broadway to your application. Hear about our handset / tablet developments, and our ongoing work to get smaller and faster. See how almost all the work we do for these products helps the normal fat-client office experience too.</p>

<p>Finally, of course some degree of catch up with the progress of LibreOffice as a code-base and community as we ship our version 3.5 will be presented, along with pointers for how to get involved in development.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

