---
title: LPI Exam Session 5
kind: event
speakers:
  -
    name: Klaus Behrla
    slug: klaus_behrla
    url: /schedule/speaker/klaus_behrla
slug: lpi_5
track: Certification
track_url: /schedule/track/certification
track_rank: 200
room: Guillissen
room_url: /schedule/room/guillissen
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 524
event_type: certification
start: 2012-02-05 15:00:00.000000000 +00:00
end: 2012-02-05 16:45:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/certification">Certification</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/guillissen">Guillissen</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>15:00</dd>
    <dt>End:</dt>
    <dd>16:45</dd>
</dl>

<p>See https://fosdem.org/certification</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

