---
title: LPI Item Writing Workshop
kind: event
speakers:
  -
    name: G. Matthew Rice
    slug: g_matthew_rice
    url: /schedule/speaker/g_matthew_rice
slug: lpi_workshop
track: Certification
track_url: /schedule/track/certification
track_rank: 200
room: UA2.114
room_url: /schedule/room/ua2114
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 939
event_type: certification
start: 2012-02-05 11:00:00.000000000 +00:00
end: 2012-02-05 17:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/certification">Certification</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ua2114">UA2.114</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>11:00</dd>
    <dt>End:</dt>
    <dd>17:00</dd>
</dl>

<p>LPI holds an open attendance item development workshop for the new exam "Linux Essentials". G. Matthew Rice, Director of Product Development at LPI, will guide this workshop.</p>

<p>Participants are invited to write real exam questions and answers for this new exam during the workshop. The purpose of the Linux Essentials Program is to define the basic knowledge required to competently use a desktop or mobile device using a Linux Operating System. The program will guide and encourage youth and those new to Linux and Open Source
to understand the place of Linux and Open Source in the context of the broader IT industry. More information about the Linux Essentials Program are at http://wiki.lpi.org/wiki/LinuxEssentials and at http://wiki.lpi.org/wiki/LinuxEssentialsProgramme</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

