---
title: The Methods of FOSS Activism
kind: event
speakers:
  -
    name: Ambjörn Elder
    slug: ambjorn_elder
    url: /schedule/speaker/ambjorn_elder
slug: methods_of_foss_activism
track: Legal Issues
track_url: /schedule/track/legal_issues
track_rank: 520
room: AW1.125
room_url: /schedule/room/aw1125
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 641
event_type: devroom
start: 2012-02-04 11:30:00.000000000 +00:00
end: 2012-02-04 12:00:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/legal_issues">Legal Issues</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1125">AW1.125</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>11:30</dd>
    <dt>End:</dt>
    <dd>12:00</dd>
</dl>

<p>When changing laws threaten the FOSS community, it pushes back with activist campaigns lead by NGOs and non-profits.  These campaigns look much like the ones conducted by other groups of activists such as the human rights network.  When FOSS gets political, it typically uses a handful of common strategies.  This talk will build on information gathered from interviews and other research to describe what techniques free software advocates use when they try to influence government policy.  It will briefly evaluate their effect, taking examples from the ACTA campaign and from the reaction to proliferating three-strikes laws aimed at enforcing IP policy.  Then it will compare with other activist projects in other fields: FOSS advocates might expand their vocabulary of political action by borrowing the approaches used in other issue areas.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


