---
title: Introduction of the Genode OS Framework
kind: event
speakers:
  -
    name: Norman Feske
    slug: norman_feske
    url: /schedule/speaker/norman_feske
slug: microkernel_intro_genode
track: Microkernel OS
track_url: /schedule/track/microkernel_os
track_rank: 502
room: K.3.201
room_url: /schedule/room/k3201
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 547
event_type: devroom
start: 2012-02-05 10:10:00.000000000 +00:00
end: 2012-02-05 10:55:00.000000000 +00:00
links:
  -
    title: Genode git repository
    url: https://github.com/genodelabs/genode 
  -
    title: Genode Labs website
    url: http://www.genode-labs.com
  -
    title: Genode project website
    url: http://genode.org
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/microkernel_os">Microkernel OS</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k3201">K.3.201</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>10:10</dd>
    <dt>End:</dt>
    <dd>10:55</dd>
</dl>

<p>Today's operating systems try to find a balance between seemingly
conflicting goals. Ease of use is traded against security, resource
utilization is traded against resource accountability, and system
complexity is traded against scalability. For example, SELinux is ill
famed as hard to use and consequently remains widely unused. As another
example, isolation kernels minimize the complexity of critical system
software but at the cost of limiting these solutions to static applications.</p>

<p>The Genode OS architecture shows how these apparently inherent conflicts
can be solved by operating-system design.</p>
<p>By combining a recursive
system structure with capability-based security, mandatory access
control becomes easy to deploy. At the same time, the trusted computing
base can be minimized for each application individually such that the
attack surface for security-critical system functions gets reduced by
orders of magnitude compared to existing approaches. Furthermore, a
concept for trading physical resources among processes allows for
dynamic workloads while maintaining quality of service. That is not just
theory - the system is ready for demonstration and its developers are
planning to use it as development environment by the end of 2012.</p>

<p>After a brief introduction of where Genode comes from, the main part of
the talk will be focused on the OS architecture and give a glimpse at
the implementation via live demonstrations. Finally, the talk will
briefly discuss the planned steps towards using Genode as
general-purpose OS.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="https://github.com/genodelabs/genode ">Genode git repository</a></li>
    <li><a href="http://www.genode-labs.com">Genode Labs website</a></li>
    <li><a href="http://genode.org">Genode project website</a></li>
</ul>

