---
title: Introduction to HelenOS
kind: event
speakers:
  -
    name: Jakub Jermář
    slug: jakub_jermar
    url: /schedule/speaker/jakub_jermar
slug: microkernel_intro_helenos
track: Microkernel OS
track_url: /schedule/track/microkernel_os
track_rank: 502
room: K.3.201
room_url: /schedule/room/k3201
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 548
event_type: devroom
start: 2012-02-05 11:10:00.000000000 +00:00
end: 2012-02-05 11:55:00.000000000 +00:00
links:
  -
    title: HelenOS main repository
    url: bzr://bzr.helenos.org/mainline
  -
    title: HelenOS Developer wiki
    url: http://trac.helenos.org
  -
    title: HelenOS project homepage
    url: http://www.helenos.org
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/microkernel_os">Microkernel OS</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k3201">K.3.201</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>11:10</dd>
    <dt>End:</dt>
    <dd>11:55</dd>
</dl>

<p>HelenOS is a general-purpose multiserver operating system written from scratch. It is based on a custom microkernel, SPARTAN, which currently runs on seven different CPU architectures (ARM, IA-32, x86-64, Itanium, MIPS, PowerPC and SPARC V9) . Most system services (e.g. device drivers, file systems, networking) are implemented in regular user-space processes which communicate via asynchronous messaging.</p>

<p>First, the talk will briefly introduce the HelenOS project history and community structure. Second, we will briefly talk about the major technical areas and specifics of the system (boot and kernel, IPC mechanisms and naming services, devices and filesystems). This part will be supported by demos of the running system as well as by showing the structure of the source code. Last, we will look at what functionality is already there, what is currently being actively worked on and what are the future plans, which aim toward making the system self-hosting.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="bzr://bzr.helenos.org/mainline">HelenOS main repository</a></li>
    <li><a href="http://trac.helenos.org">HelenOS Developer wiki</a></li>
    <li><a href="http://www.helenos.org">HelenOS project homepage</a></li>
</ul>

