---
title: Introduction to the NOVA kernel API
kind: event
speakers:
  -
    name: Julian Stecklina
    slug: julian_stecklina
    url: /schedule/speaker/julian_stecklina
slug: microkernel_intro_nova
track: Microkernel OS
track_url: /schedule/track/microkernel_os
track_rank: 502
room: K.3.201
room_url: /schedule/room/k3201
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 546
event_type: devroom
start: 2012-02-05 09:30:00.000000000 +00:00
end: 2012-02-05 10:00:00.000000000 +00:00
links:
  -
    title: NOVA Microhypervisor homepage
    url: http://hypervisor.org/
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/microkernel_os">Microkernel OS</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k3201">K.3.201</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>09:30</dd>
    <dt>End:</dt>
    <dd>10:00</dd>
</dl>

<p>The NOVA virtualization architecture is comprised of a
microhypervisor and a capability-based multiserver userland with a
specific focus on enabling secure and efficient virtualization using x86
hardware virtualization extensions (VT-x, VT-d, SR-IOV). It does so by
moving almost all of the actual "virtualization" into a per-VM userspace
component that is not in the Trusted Computing Base of other virtual
machines. This talk will give an overview of NOVA's unique execution
model and API with a strong focus on how this enables efficient
execution of a VMM. Specifically, this talk will cover how tasks and
threads are realized in NOVA, how communication between threads works,
how VM exits are handled in NOVA and how this extends to SMP machines.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://hypervisor.org/">NOVA Microhypervisor homepage</a></li>
</ul>

