---
title: Panel discussion
kind: event
speakers:
  -
    name: Jakub Jermář
    slug: jakub_jermar
    url: /schedule/speaker/jakub_jermar
  -
    name: Christian Helmuth
    slug: christian_helmuth
    url: /schedule/speaker/christian_helmuth
  -
    name: Ben Gras
    slug: ben_gras
    url: /schedule/speaker/ben_gras
  -
    name: Julian Stecklina
    slug: julian_stecklina
    url: /schedule/speaker/julian_stecklina
slug: microkernel_discussion
track: Microkernel OS
track_url: /schedule/track/microkernel_os
track_rank: 502
room: K.3.201
room_url: /schedule/room/k3201
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 551
event_type: devroom
start: 2012-02-05 16:00:00.000000000 +00:00
end: 2012-02-05 17:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/microkernel_os">Microkernel OS</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k3201">K.3.201</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>16:00</dd>
    <dt>End:</dt>
    <dd>17:00</dd>
</dl>

<p>Panel discussion on various topics with authors of several microkernel / multiserver operating systems.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

