---
title: Dive into HelenOS Device Drivers
kind: event
speakers:
  -
    name: Jiří Svoboda
    slug: jiri_svoboda
    url: /schedule/speaker/jiri_svoboda
slug: microkernel_helenos_drivers
track: Microkernel OS
track_url: /schedule/track/microkernel_os
track_rank: 502
room: K.3.201
room_url: /schedule/room/k3201
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 550
event_type: devroom
start: 2012-02-05 15:05:00.000000000 +00:00
end: 2012-02-05 15:50:00.000000000 +00:00
links:
  -
    title: Writing Device Drivers for HelenOS wiki article
    url: http://trac.helenos.org/wiki/DeviceDrivers
  -
    title: HelenOS project homepage
    url: http://www.helenos.org
  -
    title: HelenOS main repository
    url: bzr://bzr.helenos.org/mainline
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/microkernel_os">Microkernel OS</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k3201">K.3.201</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>15:05</dd>
    <dt>End:</dt>
    <dd>15:50</dd>
</dl>

<p>Implementing support for device drivers (device driver frameworks) in a microkernel-based/multiserver operating system presents some unique challenges. In this talk we will go through all the important aspects of device drivers in HelenOS, at the hurdles and the ways they can be overcome. We will discuss topics such as:</p>

<ul>
<li>Programmed I/O and DMA in user space</li>
<li>Level interrupt handling and interrupt clearing, tasklets</li>
<li>Cooperation of user-space drivers and kernel (debugging) drivers</li>
<li>DDF and Device Manager - automatic driver start, device enumeration and hot (un)plug</li>
<li>Exposing driver services, Location Service - drivers are not created more equal than others, a.k.a Death of the Pseudo Device</li>
</ul>


<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://trac.helenos.org/wiki/DeviceDrivers">Writing Device Drivers for HelenOS wiki article</a></li>
    <li><a href="http://www.helenos.org">HelenOS project homepage</a></li>
    <li><a href="bzr://bzr.helenos.org/mainline">HelenOS main repository</a></li>
</ul>

