---
title: Mobicents TelScale and RestComm
kind: event
speakers:
  -
    name: Jean Deruelle
    slug: jean_deruelle
    url: /schedule/speaker/jean_deruelle
slug: mobicents
track: Telephony and Communications
track_url: /schedule/track/telephony_and_communications
track_rank: 515
room: H.2213
room_url: /schedule/room/h2213
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 590
event_type: devroom
start: 2012-02-05 10:30:00.000000000 +00:00
end: 2012-02-05 11:10:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/telephony_and_communications">Telephony and Communications</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h2213">H.2213</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>10:30</dd>
    <dt>End:</dt>
    <dd>11:10</dd>
</dl>

<p>RestComm and TelScale make it possible for application developers to easily connect voice applications to Web 2.0 services and networks.</p>
<p>The evolution of cloud computing has given birth to new incredibly successful applications. Cloud based voice and media services can create similar opportunities and add tremendous value to existing web applications. Traditionally voice and media services require capabilities that are well beyond the scope of typical IT department, but Telecom engineers are no longer needed to make enticing value-added services. Any web developer can make telecom apps in minutes and integrate them with Web 2.0 and social networks. This session will explore how this can be made possible through the use of RestComm for adding voice and text to current cloud-based applications and services and explain how RestComm is backed by a powerful and autoscalable PaaS based on Mobicents.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


