---
title: MonoGame
kind: event
speakers:
  -
    name: Dominique Louis
    slug: dominique_louis
    url: /schedule/speaker/dominique_louis
  -
    name: Dean Ellis
    slug: dean_ellis
    url: /schedule/speaker/dean_ellis
  -
    name: Kenneth Pouncey
    slug: kenneth_pouncey
    url: /schedule/speaker/kenneth_pouncey
slug: mono_monogame
track: Mono
track_url: /schedule/track/mono
track_rank: 504
room: K.3.601
room_url: /schedule/room/k3601
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 773
event_type: devroom
start: 2012-02-04 16:40:00.000000000 +00:00
end: 2012-02-04 17:30:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/mono">Mono</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k3601">K.3.601</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>16:40</dd>
    <dt>End:</dt>
    <dd>17:30</dd>
</dl>

<ol>
<li><p>Talk covering a the history of MonoGame, where we are at and where we want to go. We will show some demos of things running on Mac, PC and iOS/Android devices. This will be presented by Dean Ellis, Kenneth Pouncey  and Me.</p></li>
<li><p>Using advertising within iOS/Android. This will be presented by Dean Ellis &amp; Me.</p></li>
<li><p>Networking within MonoGame. This will be presented by Dean Ellis, and Kenneth Pouncey.</p></li>
</ol>


<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


