---
title: XWT
kind: event
speakers:
  -
    name: Lluis Sanchez
    slug: lluis_sanchez
    url: /schedule/speaker/lluis_sanchez
slug: mono_xwt
track: Mono
track_url: /schedule/track/mono
track_rank: 504
room: K.3.601
room_url: /schedule/room/k3601
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 775
event_type: devroom
start: 2012-02-04 17:45:00.000000000 +00:00
end: 2012-02-04 18:15:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/mono">Mono</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k3601">K.3.601</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>17:45</dd>
    <dt>End:</dt>
    <dd>18:15</dd>
</dl>

<p>XWT is a new cross platform GUI toolkit for Mono and .NET, which is based on the idea of building an abstract widget library on top of platform-specific native widgets. This toolkit is still in a very early development stage, but there are already backends for GTK+, MonoMac and some initial work on WPF. The talk will explain the goals of the project and some details about design principles and internal architecture.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

