---
title: Enough Debian packaging knowledge to hurt yourselves slightly less than you do already
kind: event
speakers:
  -
    name: Jo Shields
    slug: jo_shields
    url: /schedule/speaker/jo_shields
slug: mono_debian_packaging
track: Mono
track_url: /schedule/track/mono
track_rank: 504
room: K.3.601
room_url: /schedule/room/k3601
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 735
event_type: devroom
start: 2012-02-04 11:00:00.000000000 +00:00
end: 2012-02-04 11:45:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/mono">Mono</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k3601">K.3.601</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>11:00</dd>
    <dt>End:</dt>
    <dd>11:45</dd>
</dl>

<p>There are millions of users running a Debian-based Linux distribution. Increase distribution of your hottest Mono apps by making them available in .deb format. Learn the basics, caveats, gotchas, and fastest shortcuts involved in making distribution-integrated packages for Debian and Ubuntu</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


