---
title: Using Moose objects with Memcached
kind: event
speakers:
  -
    name: Marius Olsthoorn
    slug: marius_olsthoorn
    url: /schedule/speaker/marius_olsthoorn
slug: moose_memcached
track: Perl
track_url: /schedule/track/perl
track_rank: 519
room: AW1.121
room_url: /schedule/room/aw1121
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 921
event_type: devroom
start: 2012-02-05 16:20:00.000000000 +00:00
end: 2012-02-05 16:40:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/perl">Perl</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1121">AW1.121</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>16:20</dd>
    <dt>End:</dt>
    <dd>16:40</dd>
</dl>

<p>2dehands/2ememain uses Memcached for caching Moose objects. We use MooseX::Storage for this, and have extended it in some interesting
ways.</p>
<p>We deal with issues such as:</p>

<ul>
<li>We cannot flush the cache, so we need an upgrade path for new object versions.</li>
<li>We wanted to isolate some changes that are normaly global settings.</li>
</ul>


<p>In this talk Marius will describe how they use Moose with Memcached and show how they used the standard Moose/MOP tools to extend MooseX::Storage to support their needs.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


