---
title: Linux Kernel MultiPath TCP
kind: event
speakers:
  -
    name: Christoph Paasch
    slug: christoph_paasch
    url: /schedule/speaker/christoph_paasch
slug: multipathtcp
track: Lightning Talks
track_url: /schedule/track/lightning_talks
track_rank: 20
room: Ferrer
room_url: /schedule/room/ferrer
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 453
event_type: lightningtalk
start: 2012-02-04 14:00:00.000000000 +00:00
end: 2012-02-04 14:15:00.000000000 +00:00
links:
  -
    title: Main Website
    url: http://mptcp.info.ucl.ac.be
  -
    title: Video recording
    url: http://video.fosdem.org/2012/lightningtalks/Multipath_TCP.webm
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/lightning_talks">Lightning Talks</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ferrer">Ferrer</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>14:00</dd>
    <dt>End:</dt>
    <dd>14:15</dd>
</dl>

<p>MultiPath TCP, a major extension to TCP, allows the simultaneous use of a smartphone's 3G and WiFi interface to increase throughput and better resilience.
We implement MultiPath TCP in the Linux Kernel, publicly available at http://mptcp.info.ucl.ac.be</p>
<p>TCP, the most used Transport Protocol on the Internet, does not allow the simultaneous usage of multiple Interfaces. Smartphones with 3G and WiFi interfaces would benefit from a simultaneous use of both interfaces.
MultiPath TCP is a major extension to TCP, allowing the use of multiple Interfaces for a single data-stream, without the need to modify the applications. This allows an increased throughput and better resilience to failures.</p>

<p>The IP Networking Lab (http://inl.info.ucl.ac.be) of the Université Catholique de Louvain is implementing MultiPath TCP in the Linux Kernel. The publicly available source-code (http://mptcp.info.ucl.ac.be) modifies/adds about 10000 lines to the Linux Kernel's TCP-stack.</p>

<p>The implementation has shown very good performance. For example, a throughput of up to 15 Gbps across two 10 Gig interfaces, whereas regular TCP can only use a single interface and thus 10 Gbps.</p>

<p>We are now considering inclusion in the mainline kernel and would like to encourage people to test our implementation and/or submit patches to help improving it.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://mptcp.info.ucl.ac.be">Main Website</a></li>
    <li><a href="http://video.fosdem.org/2012/lightningtalks/Multipath_TCP.webm">Video recording</a></li>
</ul>

