---
title: Multiarch - why it's important
kind: event
speakers:
  -
    name: Wookey
    slug: wookey
    url: /schedule/speaker/wookey
slug: multiarch
track: CrossDistribution
track_url: /schedule/track/crossdistribution
track_rank: 499
room: H.1302
room_url: /schedule/room/h1302
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 819
event_type: devroom
start: 2012-02-04 13:00:00.000000000 +00:00
end: 2012-02-04 14:00:00.000000000 +00:00
links:
  -
    title: Video recording
    url: http://video.fosdem.org/2012/crossdistro/Multiarch___why_it_s_important.webm
  -
    title: Multiarch project at Debian
    url: http://wiki.debian.org/Multiarch
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/crossdistribution">CrossDistribution</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1302">H.1302</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>13:00</dd>
    <dt>End:</dt>
    <dd>14:00</dd>
</dl>

<p>Multiarch is a properly generic solution to the installation and use of library packages from one than one architecture at a time, which changes the way running non-native binaries and crossbuilding are dealt with in a fundamental way. It is both powerful and intrusive and has taken a long time to make happen.</p>

<p>This talk explains what it is, how it works, and what you can do with it. We will also discuss future adoption by other distros.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://video.fosdem.org/2012/crossdistro/Multiarch___why_it_s_important.webm">Video recording</a></li>
    <li><a href="http://wiki.debian.org/Multiarch">Multiarch project at Debian</a></li>
</ul>

