---
title: NanoBSD and the art of Timekeeping with appliances.
kind: event
speakers:
  -
    name: Rudi van Drunen
    slug: rudi_van_drunen
    url: /schedule/speaker/rudi_van_drunen
slug: nanobsd
track: Embedded
track_url: /schedule/track/embedded
track_rank: 509
room: Lameere
room_url: /schedule/room/lameere
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 697
event_type: devroom
start: 2012-02-04 11:00:00.000000000 +00:00
end: 2012-02-04 12:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/embedded">Embedded</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/lameere">Lameere</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>11:00</dd>
    <dt>End:</dt>
    <dd>12:00</dd>
</dl>

<p>The time has come to make the switch from embedded Linux to embedded BSD....
In this talk we will focus on the building of embedded appliances in the BSD world,
and more specifically on using NanoBSD to create FreeBSD images that run on
embedded systems.
In the stock FreeBSD distribution an application (script) called NanoBSD is present
that takes a configuration file and builds an image for a flash disk which then can be
used on an embedded system. A short cookbook will be presented on the steps
needed to actually create the image, and deploy it. Also the in-system upgrading of
the image will be discussed.
The use case we will present is an Stratum 0 NTP appliance that serves as network
time server using GPS with PPS synchronization. This appliance is capable of
providing highly accurate time service to a network of servers and desktop
machines, even when disconnected from the internet. The example will use a Soekris
4501 embedded board and an OEM hockey puck-style GPS device and some tricks to
use the high-res timing on the board, together with a temperature controlled crystal
oscillator.
The contents of talk have previously been published by the presenter in ;login:.
the USENIX periodical [1]</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

