---
title: Native KVM Tool
kind: event
speakers:
  -
    name: Sasha Levin
    slug: sasha_levin
    url: /schedule/speaker/sasha_levin
slug: native_kvm
track: Hypervisors
track_url: /schedule/track/hypervisors
track_rank: 100
room: Janson
room_url: /schedule/room/janson
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 360
event_type: main
start: 2012-02-04 17:00:00.000000000 +00:00
end: 2012-02-04 17:50:00.000000000 +00:00
links:
  -
    title: git tree
    url: git://github.com/penberg/linux-kvm.git
  -
    title: Video recording
    url: http://video.fosdem.org/2012/maintracks/janson/Native_Linux_KVM_Tool.webm
  -
    title: github url
    url: https://github.com/penberg/linux-kvm
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/hypervisors">Hypervisors</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/janson">Janson</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>17:00</dd>
    <dt>End:</dt>
    <dd>17:50</dd>
</dl>

<p>The goal of the Native Linux KVM Tool is to provide a clean, from-scratch, lightweight
KVM host tool implementation that can boot Linux guest images with no
BIOS dependencies and with only the minimal amount of legacy device
emulation.</p>
<p>The Native KVM tool was started as a response to Ingo Molnar's proposal
about a userspace tool which would sit under the /tools/ directory in the
kernel tree and be the usermode counterpart of the kernel side KVM
(the mail &amp; related thread can be found at
thread.gmane.org/gmane.linux.kernel/962051/focus=962620 )</p>

<p>Biggest features of the tool are:
- Zero-config userspace networking for guests that have DHCP enabled
- SMP support
- No external BIOS required
- Experimental GUI support with SDL and VNC
- Host filesystem access via 9P/virtio
- Raw image support
- Host block devices as in-memory copy-on-write guest images on 64-bit hosts
- PPC64 Support
- Experimental QCOW2 image support</p>

<p>The tool was developed over the course of almost two years, and is now
in a stage where it is ready for merging into the kernel tree.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="git://github.com/penberg/linux-kvm.git">git tree</a></li>
    <li><a href="http://video.fosdem.org/2012/maintracks/janson/Native_Linux_KVM_Tool.webm">Video recording</a></li>
    <li><a href="https://github.com/penberg/linux-kvm">github url</a></li>
</ul>

