---
title: NoSQL/Graph Database Visualization, The case of Gephi and Neo4j 
kind: event
speakers:
  -
    name: Martin Skurla
    slug: martin_skurla
    url: /schedule/speaker/martin_skurla
slug: neo4j_gephi_visualization
track: Graph Processing
track_url: /schedule/track/graph_processing
track_rank: 521
room: AW1.125
room_url: /schedule/room/aw1125
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 721
event_type: devroom
start: 2012-02-05 15:40:00.000000000 +00:00
end: 2012-02-05 15:55:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/graph_processing">Graph Processing</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1125">AW1.125</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>15:40</dd>
    <dt>End:</dt>
    <dd>15:55</dd>
</dl>

<p>We are recently witnesses of the significant movement and adoption of NoSQL databases. In particular, the
graph databases become an important technology as we deal with a high increase of relational data.
They not only store graph data structures much more efficiently, but also provide powerful graph traversal
capabilities that make them suitable for this kind of data.</p>

<p>However we need to ease the exploration and understanding of these large amount of data. Visualizing the graph
structure (relationships between nodes and edges) is critical to many situations like: verifying the reliability of new
data input, optimizing an architecture based on the shape of the data, and even creating new services based on facts
discovered in the data.</p>

<p>In this talk, you will learn how to understand the graph structure easily using Gephi &amp; Neo4j!</p>

<p>We will go through the installation and showcase of visualization capabilities of Neo4j graph database
in Gephi. The talk will cover exploration of general useful features of Gephi applying them on imported Neo4j
database.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

