---
title: A New OSI For A New Decade
kind: event
speakers:
  -
    name: Simon Phipps
    slug: simon_phipps
    url: /schedule/speaker/simon_phipps
slug: new_osi
track: Keynotes
track_url: /schedule/track/keynotes
track_rank: 10
room: Janson
room_url: /schedule/room/janson
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 526
event_type: keynote
start: 2012-02-04 12:00:00.000000000 +00:00
end: 2012-02-04 12:30:00.000000000 +00:00
links:
  -
    title: Video recording
    url: http://video.fosdem.org/2012/maintracks/janson/A_New_OSI_for_A_New_Decade.webm
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/keynotes">Keynotes</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/janson">Janson</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>12:00</dd>
    <dt>End:</dt>
    <dd>12:30</dd>
</dl>

<p>The OSI (Open Source Initiative) is reorganizing its governance from a board-only organization into a member-based structure in 2012.</p>

<p>Simon will give us a brief explanation of what that is, what it means, and how to join.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://video.fosdem.org/2012/maintracks/janson/A_New_OSI_for_A_New_Decade.webm">Video recording</a></li>
</ul>

