---
title: Pandora - a mobile Linux computer including gaming controls
kind: event
speakers:
  -
    name: Michael Mrozek
    slug: michael_mrozek
    url: /schedule/speaker/michael_mrozek
slug: open_pandora
day: Sun
start: 12:40
end: 12:40
event_id: 535
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/open_source_game_development">Open Source Game Development</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1120">AW1.120</a></dd>
    <dt>Day:</dt>
    <dd>Sunday</dd>
    <dt>Start:</dt>
    <dd>12:40</dd>
    <dt>End:</dt>
    <dd>13:25</dd>
</dl>

<p>The Pandora is a handheld produced to run Linux. It's not only a gaming device (it features gaming controls), but basically a full Mini-Linux PC the size of a Nintendo DS. It has come a long ways and many many issues occurred during the production. The mass production will finally start in Germany in February, making it easily available for everyone. This talk will give a small introduction to those who don't know what the Pandora is, explaining a bit about the history and the community behind it as well as showing what it can do.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

