---
title: OpenICC - Colour Standards for Linux
kind: event
speakers:
  -
    name: Kai-Uwe Behrmann
    slug: kai_uwe_behrmann
    url: /schedule/speaker/kai_uwe_behrmann
  -
    name: Peter Linnell
    slug: peter_linnell
    url: /schedule/speaker/peter_linnell
slug: openicc
track: X.org+OpenICC
track_url: /schedule/track/xorg+openicc
track_rank: 503
room: K.3.401
room_url: /schedule/room/k3401
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 779
event_type: devroom
start: 2012-02-05 13:00:00.000000000 +00:00
end: 2012-02-05 14:00:00.000000000 +00:00
links:
  -
    title: OpenICC Wiki
    url: http://www.openicc.info
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/xorg+openicc">X.org+OpenICC</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k3401">K.3.401</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>13:00</dd>
    <dt>End:</dt>
    <dd>14:00</dd>
</dl>

<p>Who are the people behind OpenIcc and what do they do for open source colour management? What are standards exist and are primarily maintained by OpenIcc and what work is in progress?</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://www.openicc.info">OpenICC Wiki</a></li>
</ul>

