---
title: OpenQA
kind: event
speakers:
  -
    name: Bernhard M. Wiedemann
    slug: bernhard_m_wiedemann
    url: /schedule/speaker/bernhard_m_wiedemann
  -
    name: Dominik Heidler
    slug: dominik_heidler
    url: /schedule/speaker/dominik_heidler
slug: openqa
track: CrossDistribution
track_url: /schedule/track/crossdistribution
track_rank: 499
room: H.1301
room_url: /schedule/room/h1301
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 817
event_type: devroom
start: 2012-02-04 15:45:00.000000000 +00:00
end: 2012-02-04 16:30:00.000000000 +00:00
links:
  -
    title: Video recording
    url: http://video.fosdem.org/2012/crossdistro/OpenQA.webm
  -
    title: OpenQA site
    url: http://openqa.opensuse.org
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/crossdistribution">CrossDistribution</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1301">H.1301</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>15:45</dd>
    <dt>End:</dt>
    <dd>16:30</dd>
</dl>

<p>Testing is an important task. But testing daily development-snapshots of a Linux-distribution would mean testing the same things every day, which would be pretty tiresome to testers. Yet, no one likes to break his system with untested code.</p>

<p>This presentation will be about my solution to this problem, using automated testing with KVM or VirtualBox for openQA.openSUSE.org to guarantee some minimum quality.  This will show some unique features like audio-testing, GUI-testing, and support for multiple distributions like Debian, Archlinux and Fedora. It will also have installation videos which are cool, fun and useful.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://video.fosdem.org/2012/crossdistro/OpenQA.webm">Video recording</a></li>
    <li><a href="http://openqa.opensuse.org">OpenQA site</a></li>
</ul>

