---
title: Opening talk
kind: event
speakers:
  -
    name: Achim Friedland
    slug: achim_friedland
    url: /schedule/speaker/achim_friedland
  -
    name: Pere  Urbón-Bayes
    slug: pere_urbon_bayes
    url: /schedule/speaker/pere_urbon_bayes
slug: opening_talk
day: Sun
start: 09:10
end: 09:10
event_id: 604
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/graph_processing">Graph Processing</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1125">AW1.125</a></dd>
    <dt>Day:</dt>
    <dd>Sunday</dd>
    <dt>Start:</dt>
    <dd>09:10</dd>
    <dt>End:</dt>
    <dd>09:25</dd>
</dl>

<p>Room opening talk</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

