---
title: ! 'OpenJDK on ARM: Quo vadis?'
kind: event
speakers:
  -
    name: Andrew Haley
    slug: andrew_haley
    url: /schedule/speaker/andrew_haley
slug: openjdk_on_arm
track: Free Java
track_url: /schedule/track/free_java
track_rank: 507
room: K.4.401
room_url: /schedule/room/k4401
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 712
event_type: devroom
start: 2012-02-05 12:30:00.000000000 +00:00
end: 2012-02-05 13:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/free_java">Free Java</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k4401">K.4.401</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>12:30</dd>
    <dt>End:</dt>
    <dd>13:00</dd>
</dl>

<p>This talk will cover progress with OpenJDK on ARM.  It's
basically a progress report, but with some technical detail
about the changes needed for:</p>

<ul>
<li>The new Hard FP ABI.</li>
<li>ARM 7.</li>
</ul>


<p>I'll also discuss the issues that arise from the Java Memory Model
(also known as JSR 233.)  The talk will then be in two
halves, one part being very specific to Ed Nevill's ARM Assembler
interpreter and JIT, and the other part will cover the ARM more
generally.</p>

<p>If there's any time left I'll also cover the upcoming ARM8
architecture.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

