---
title: Open Web Documentation aimed at Web Devs
kind: event
speakers:
  -
    name: Jean-Yves Perrier
    slug: jean_yves_perrier
    url: /schedule/speaker/jean_yves_perrier
slug: open_web_documentation_aimed_at_web_devs
day: Sat
start: 17:00
end: 17:00
event_id: 770
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/mozilla">Mozilla</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ud2218a">UD2.218A</a></dd>
    <dt>Day:</dt>
    <dd>Saturday</dd>
    <dt>Start:</dt>
    <dd>17:00</dd>
    <dt>End:</dt>
    <dd>17:30</dd>
</dl>

<p>I will describe the technical and social aspects of documenting the Open Web, trying to extract common points applying to any open documentation project. I will present the different kinds of articles expected by the different users, their respective constraints and the solution we chose. I will talk about the accuracy problem and the communication processes. Finally I will speak about the challenges that the Open Web documentation is facing, like contributor motivation, the mobile Internet or new technological opportunities to improve the user experience.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

