---
title: ! 'True open hardware: Opencores and OpenRISC'
kind: event
speakers:
  -
    name: Julius Baxter
    slug: julius_baxter
    url: /schedule/speaker/julius_baxter
  -
    name: Olof Kindgren
    slug: olof_kindgren
    url: /schedule/speaker/olof_kindgren
slug: opencores_openrisc_true_open_hw
track: Embedded
track_url: /schedule/track/embedded
track_rank: 509
room: Lameere
room_url: /schedule/room/lameere
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 765
event_type: devroom
start: 2012-02-04 15:00:00.000000000 +00:00
end: 2012-02-04 16:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/embedded">Embedded</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/lameere">Lameere</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>15:00</dd>
    <dt>End:</dt>
    <dd>16:00</dd>
</dl>

<p>This presentation will be delivered in two sections, first an
introduction to the OpenRISC project by Julius Baxter, followed by a
look at embedded hardware development with Open Source IP cores using
the OpenRISC platform and the IP available on OpenCores.org with Olof
Kindgren.</p>

<p>The OpenRISC Project:</p>

<p>This project is aimed at developing embedded RISC microprocessor
architectures and open source RTL implementations. Since its beginning
in 1999, the project has attracted anyone interested in CPU
development and covers everything from ISA definition to RTL
description writing and testing to simulator, tool chain and operating
system porting. The presentation will cover the motivation, recent
progress and future plans of the project.</p>

<p>Open Source Embedded Hardware Development:</p>

<p>Most Open Source embedded developers end their quest for a fully Open
Source system when they get the data sheets. For the FPGA/ASIC
developers at OpenCores, this is where the fun part begins. Instead of
relying on the kindness of the chip manufacturers to deliver the
desired SoC functionality, Open Source hardware developers simply
design their own with the standard peripherals and custom hardware
acceleration that of choice. This requires Open Source IP cores and a
framework to put it all together.</p>

<p>This presentation will contain an introduction to some of the benefits
of open source hardware and an overview of OpenCores. The main focus
will be on how to use the OpenRISC Reference Platform System on Chip
(ORPSoC) to build a custom SoC, which will be demonstrated on the
OpenRISC FPGA development board.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

