---
title: Open Licences before European Courts
kind: event
speakers:
  -
    name: Philippe Laurent
    slug: philippe_laurent
    url: /schedule/speaker/philippe_laurent
slug: open_licences_before_european_courts
track: Legal Issues
track_url: /schedule/track/legal_issues
track_rank: 520
room: AW1.125
room_url: /schedule/room/aw1125
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 640
event_type: devroom
start: 2012-02-04 11:05:00.000000000 +00:00
end: 2012-02-04 11:30:00.000000000 +00:00
links:
  -
    title: Creative Commons Licenses Enforced in Dutch Court
    url: http://creativecommons.org/weblog/entry/5823
  -
    title: Lichôdmapwa v. L'asbl Festival de Theatre de Spa
    url: http://wiki.creativecommons.org/index.php?title=09-1684-A_(Lich%C3%B4dmapwa_v._L%27asbl_Festival_de_Theatre_de_Spa)&redirect=no
  -
    title: ! 'http://gpl-violations.org/'
    url: http://gpl-violations.org/
  -
    title: Paris Court of Appeals condemns Edu4 for violating the GNU General Public License
    url: http://fsffrance.org/news/article2009-09-22.en.html
  -
    title: Enforcement of the GNU GPL in Germany and Europe 
    url: http://www.jipitec.eu/issues/jipitec-1-1-2010/2419/dippadm1268746871.43.pdf
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/legal_issues">Legal Issues</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1125">AW1.125</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>11:05</dd>
    <dt>End:</dt>
    <dd>11:30</dd>
</dl>

<p>Open content licences are tools at the disposal of creative people who want to use their copyrights in a permissive manner.
Their first aim is to allow the sharing and spreading of works, by granting rights to the users on a royalty-free basis.
However, these licences remain binding legal documents, according to which licensees must respect some obligations, and which are enforceable before courts.
The proposed presentation aims at providing an analysis of interesting court decisions where open content licences were at issue.</p>

<p>Please review the links below for background information:</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://creativecommons.org/weblog/entry/5823">Creative Commons Licenses Enforced in Dutch Court</a></li>
    <li><a href="http://wiki.creativecommons.org/index.php?title=09-1684-A_(Lich%C3%B4dmapwa_v._L%27asbl_Festival_de_Theatre_de_Spa)&redirect=no">Lichôdmapwa v. L'asbl Festival de Theatre de Spa</a></li>
    <li><a href="http://gpl-violations.org/">http://gpl-violations.org/</a></li>
    <li><a href="http://fsffrance.org/news/article2009-09-22.en.html">Paris Court of Appeals condemns Edu4 for violating the GNU General Public License</a></li>
    <li><a href="http://www.jipitec.eu/issues/jipitec-1-1-2010/2419/dippadm1268746871.43.pdf">Enforcement of the GNU GPL in Germany and Europe </a></li>
</ul>

