---
title: OpenNebula Project
kind: event
speakers:
  -
    name: Carlos Martín Sánchez
    slug: carlos_martin_sanchez
    url: /schedule/speaker/carlos_martin_sanchez
  -
    name: Daniel Molina Aranda
    slug: daniel_molina_aranda
    url: /schedule/speaker/daniel_molina_aranda
slug: opennebula
track: Virtualization and Cloud
track_url: /schedule/track/virtualization_and_cloud
track_rank: 508
room: Chavanne
room_url: /schedule/room/chavanne
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 563
event_type: devroom
start: 2012-02-04 13:30:00.000000000 +00:00
end: 2012-02-04 13:55:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/virtualization_and_cloud">Virtualization and Cloud</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/chavanne">Chavanne</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>13:30</dd>
    <dt>End:</dt>
    <dd>13:55</dd>
</dl>

<p>The presentation will describe the state of the OpenNebula project for  data center virtualization, with a focus on the different innovative projects and infrastructures using OpenNebula as a platform for innovation and interoperability. We will show how OpenNebula integrates with other projects in the cloud and virtualization ecosystem and the potential areas for collaboration.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


