---
title: Openmoko Freerunner - Present and Future
kind: event
speakers:
  -
    name: Niels Heyvaert
    slug: niels_heyvaert
    url: /schedule/speaker/niels_heyvaert
slug: openmoko_freerunner_present_and_future
track: Open Mobile Linux
track_url: /schedule/track/open_mobile_linux
track_rank: 522
room: AW1.120
room_url: /schedule/room/aw1120
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 593
event_type: devroom
start: 2012-02-04 12:00:00.000000000 +00:00
end: 2012-02-04 12:30:00.000000000 +00:00
links:
  -
    title: Phoenux Project page
    url: http://www.gta04.org
  -
    title: Openmoko Wiki
    url: http://wiki.openmoko.org
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/open_mobile_linux">Open Mobile Linux</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1120">AW1.120</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>12:00</dd>
    <dt>End:</dt>
    <dd>12:30</dd>
</dl>

<p>The Openmoko Freerunner, the open source and HW mobile phone, is alive and kicking. During this talk we provide a status of the current active and stable platforms ported to the Freerunner (SHR, QtMoko, Android and Debian).</p>
<p>The community is also producing the newcomer with codename GTA04. The device is already available for pre-ordering. The new phone is 3,75G enabled, has superior characteristics compared to the Freerunner (GTA02)  and fits in the current Freerunner casing. During the talk we will shed some light on the status of the project.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://www.gta04.org">Phoenux Project page</a></li>
    <li><a href="http://wiki.openmoko.org">Openmoko Wiki</a></li>
</ul>

