---
title: OpenBSD GNUstep ports update
kind: event
speakers:
  -
    name: Sebastian Reitenbach
    slug: sebastian_reitenbach
    url: /schedule/speaker/sebastian_reitenbach
slug: openbsd_gnustep_ports
track: GNUstep
track_url: /schedule/track/gnustep
track_rank: 524
room: AW1.126
room_url: /schedule/room/aw1126
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 728
event_type: devroom
start: 2012-02-04 11:15:00.000000000 +00:00
end: 2012-02-04 11:45:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/gnustep">GNUstep</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1126">AW1.126</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>11:15</dd>
    <dt>End:</dt>
    <dd>11:45</dd>
</dl>

<p>Topics covered:
* Why the hell on OpenBSD
* How easy it is to create a new GNUstep port
* What's new compared to last year
* Problems I encountered over the last year
* Goals for the next year</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

