---
title: ! 'OpenWrt: Evolution of an Embedded Linux Distribution'
kind: event
speakers:
  -
    name: Felix Fietkau
    slug: felix_fietkau
    url: /schedule/speaker/felix_fietkau
slug: openwrt_evolution_of_an_embedded_linux_distribution
track: Embedded
track_url: /schedule/track/embedded
track_rank: 509
room: Lameere
room_url: /schedule/room/lameere
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 757
event_type: devroom
start: 2012-02-04 18:00:00.000000000 +00:00
end: 2012-02-04 19:00:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/embedded">Embedded</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/lameere">Lameere</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>18:00</dd>
    <dt>End:</dt>
    <dd>19:00</dd>
</dl>

<p>In this presentation, I will provide an overview of how big rewrite and
redesign efforts have affected the development of the OpenWrt project.
After showing two past examples of big structural changes, I will
introduce the current effort to redesign large parts of the OpenWrt
user space components.
This redesign aims to bring some interesting approaches from the
Desktop Linux world over to Embedded, without bringing along the
amount of bloat that is usually associated with them.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


