---
title: Optimizing your innodb buffer pool usage
kind: event
speakers:
  -
    name: Steve Hardy
    slug: steve_hardy
    url: /schedule/speaker/steve_hardy
slug: optimiizing_innodb_buffer_pool_usage
day: Sun
start: 14:00
end: 14:00
event_id: 936
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/mysql_and_friends">MySQL and Friends</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1309">H.1309</a></dd>
    <dt>Day:</dt>
    <dd>Sunday</dd>
    <dt>Start:</dt>
    <dd>14:00</dd>
    <dt>End:</dt>
    <dd>14:25</dd>
</dl>

<p>Many of the MySQL servers now support inspection of the InnoDB buffer pool contents. Since effective usage of the InnoDB buffer pool is critical to good MySQL performance, a look into what is in your buffer pool is an effective tool to optimize your table layout and index usage for optimal performance. The presentation shows how to use this information to create efficient tables and indexes by looking at your buffer pool contents.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

