---
title: OS in the Mobile App Stores
kind: event
speakers:
  -
    name: Thomas Bonte
    slug: thomas_bonte
    url: /schedule/speaker/thomas_bonte
slug: os_in_the_mobile_app_stores
track: Open Mobile Linux
track_url: /schedule/track/open_mobile_linux
track_rank: 522
room: AW1.120
room_url: /schedule/room/aw1120
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 473
event_type: devroom
start: 2012-02-04 17:00:00.000000000 +00:00
end: 2012-02-04 17:30:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/open_mobile_linux">Open Mobile Linux</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1120">AW1.120</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>17:00</dd>
    <dt>End:</dt>
    <dd>17:30</dd>
</dl>

<p>"Apple drops GPL apps" was a headline in the Linux User &amp; Developer Magazine in 2011. Later Windows followed the example of Apple. So does this mean GPL licensed apps can't go mobile? Luckily, it's not that dramatic. This talk will share the first hand experience of the challenges and opportunities of releasing GPL based apps in the Apple app store.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

