---
title: OpenStack developers meeting & Distribution panel
kind: event
speakers:
  -
    name: Thierry Carrez
    slug: thierry_carrez
    url: /schedule/speaker/thierry_carrez
slug: osdem
track: Virtualization and Cloud
track_url: /schedule/track/virtualization_and_cloud
track_rank: 508
room: Chavanne
room_url: /schedule/room/chavanne
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 570
event_type: devroom
start: 2012-02-04 18:00:00.000000000 +00:00
end: 2012-02-04 18:55:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/virtualization_and_cloud">Virtualization and Cloud</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/chavanne">Chavanne</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>18:00</dd>
    <dt>End:</dt>
    <dd>18:55</dd>
</dl>

<p>The OpenStack developers ecosystem consists of OpenStack core developers, but also upstream project developers and downstream distribution packagers, producers of compatible tools... In this town hall meeting, we will all gather for an informal workshop where we'll openly discuss issues and how we can solve them as a community. In particular, we'll have a panel discussion with packagers from various distributions, but we also expect themes like project policies, QA or governance to be addressed. Come and join us !</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


