---
title: Politics, Positives, Paperwork and Pain - Our year to date in the JCP
kind: event
speakers:
  -
    name: Martijn Verburg
    slug: martijn_verburg
    url: /schedule/speaker/martijn_verburg
  -
    name: Ben Evans
    slug: ben_evans
    url: /schedule/speaker/ben_evans
slug: our_year_to_date_in_the_jcp
track: Free Java
track_url: /schedule/track/free_java
track_rank: 507
room: K.4.401
room_url: /schedule/room/k4401
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 690
event_type: devroom
start: 2012-02-04 14:30:00.000000000 +00:00
end: 2012-02-04 15:00:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/free_java">Free Java</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k4401">K.4.401</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>14:30</dd>
    <dt>End:</dt>
    <dd>15:00</dd>
</dl>

<p>In 2011 the London Java Community (LJC) stood for, and overwhelmingly
won a seat in the open elections for a seat on the JCP Executive
Committee (JCP EC), enough acronyms yet?  We haven't even started!
It's been a whirlwind trip so far with a great deal learned about
politics, acronyms, the due diligence required on a JSR, flights to
exotic places (Jersey City!?), wrangling over the wording of a
sentence and of course launching some developer lead initiatives.</p>

<p>There have of course been some great successes in moving Free Java
forward such as the JSR-348 which is the start of reforming the JCP
and JSRs towards a truly open and transparent model.  This talk covers
the good works done so far, some anecdotes of what it's like to work
as a developer amongst a mix of technologists and bearucrats and what
we think is left to be done.</p>
<p>What the audience will learn from the talk:</p>

<p>An insight to how the JCP really works and the surprising fact that
Oracle and the other large corporates are generally pushing for a Free
Java.</p>

<p>How can people help out with the project, what feedback are you looking for?</p>

<p>We want people to start supporting the JCP again and working with it
to change it for the better, JSR-348 has proven that steps can be
taken although we recognize there is still a long way to go.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


