---
title: Cross Platform Colour Management with Oyranos
kind: event
speakers:
  -
    name: Kai-Uwe Behrmann
    slug: kai_uwe_behrmann
    url: /schedule/speaker/kai_uwe_behrmann
slug: oyranos
track: X.org+OpenICC
track_url: /schedule/track/xorg+openicc
track_rank: 503
room: K.3.401
room_url: /schedule/room/k3401
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 783
event_type: devroom
start: 2012-02-05 15:30:00.000000000 +00:00
end: 2012-02-05 16:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/xorg+openicc">X.org+OpenICC</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k3401">K.3.401</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>15:30</dd>
    <dt>End:</dt>
    <dd>16:00</dd>
</dl>

<p>The Colour Management System exists since 2004 with a long history of new ideas for Linux ICC style Colour Management. Find out what it does and what is hot.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

