---
title: Perlito
kind: event
speakers:
  -
    name: Flávio Glock
    slug: flavio_glock
    url: /schedule/speaker/flavio_glock
slug: perlito
track: Perl
track_url: /schedule/track/perl
track_rank: 519
room: AW1.121
room_url: /schedule/room/aw1121
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 911
event_type: devroom
start: 2012-02-05 11:05:00.000000000 +00:00
end: 2012-02-05 11:45:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/perl">Perl</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1121">AW1.121</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>11:05</dd>
    <dt>End:</dt>
    <dd>11:45</dd>
</dl>

<p>MiniPerl6 ("perlito") is a subset of Perl 6, which was designed as a light bootstrapping language. MiniPerl6 is now self-hosted in Javascript, Lisp and in Perl 5.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

