---
title: ! 'POSIX::1003'
kind: event
speakers:
  -
    name: Mark Overmeer
    slug: mark_overmeer
    url: /schedule/speaker/mark_overmeer
slug: posix1003
track: Perl
track_url: /schedule/track/perl
track_rank: 519
room: AW1.121
room_url: /schedule/room/aw1121
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 919
event_type: devroom
start: 2012-02-05 15:00:00.000000000 +00:00
end: 2012-02-05 15:40:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/perl">Perl</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1121">AW1.121</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>15:00</dd>
    <dt>End:</dt>
    <dd>15:40</dd>
</dl>

<p>"POSIX" stands for "Portable Operating System Interface".  The POSIX module in "Perl core" is ancient, full of quirks and historical mistakes. However, for that same reason, it will not get fixed. The new "POSIX::1003" (living on CPAN) tries to be an alternative: same functionality (and more), more consistent, and documented by function group.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

