---
title: ! 'Managing rights in PostgreSQL: from the basics to SE-PostgreSQL'
kind: event
speakers:
  -
    name: Nicolas Thauvin
    slug: nicolas_thauvin
    url: /schedule/speaker/nicolas_thauvin
slug: postgresql_managing_rights_in_postgresql_from_the_basics_to_se_postgresql
track: PostgreSQL
track_url: /schedule/track/postgresql
track_rank: 506
room: K.4.201
room_url: /schedule/room/k4201
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 674
event_type: devroom
start: 2012-02-04 16:00:00.000000000 +00:00
end: 2012-02-04 16:50:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/postgresql">PostgreSQL</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k4201">K.4.201</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>16:00</dd>
    <dt>End:</dt>
    <dd>16:50</dd>
</dl>

<p>PostgreSQL offers powerful means to enforce access and security policy on databases and their contents. This talk presents how to manage users and theirs rights from the basics to SE-PostgreSQL.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


