---
title: PostgreSQL on NFS
kind: event
speakers:
  -
    name: Koen Martens
    slug: koen_martens
    url: /schedule/speaker/koen_martens
slug: postgresql_on_nfs
day: Sat
start: 17:00
end: 17:00
event_id: 675
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/postgresql">PostgreSQL</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k4201">K.4.201</a></dd>
    <dt>Day:</dt>
    <dd>Saturday</dd>
    <dt>Start:</dt>
    <dd>17:00</dd>
    <dt>End:</dt>
    <dd>17:50</dd>
</dl>

<p>When asked by a client to help them setting up a PostgreSQL cluster with NFS-based storage, my first gut reaction was: don't. But as it turns out, this is not such an unholy combination; as long as you keep in mind the effects different settings have on both the NFS client and NFS server and the expections PostgreSQL has regarding file operations, one can get away with it.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

