---
title: You're doing it wrong!
kind: event
speakers:
  -
    name: Bryan Østergaard
    slug: bryan_ostergaard
    url: /schedule/speaker/bryan_ostergaard
slug: really_grow_community
track: Community
track_url: /schedule/track/community
track_rank: 110
room: K.1.105
room_url: /schedule/room/k1105
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 404
event_type: main
start: 2012-02-05 15:00:00.000000000 +00:00
end: 2012-02-05 15:50:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/community">Community</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k1105">K.1.105</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>15:00</dd>
    <dt>End:</dt>
    <dd>15:50</dd>
</dl>

<p>Based on his experiences with aggressively growing and maintaining the Exherbo community Bryan dives into the secrets and experience leading to this success.</p>

<p>Exherbo averages 5 new contributors every month despite being a small and relatively unknown project. The contributors stay quite active within the project and stay with the project for years.</p>

<p>Bryan drives straight into the heart of his community management techniques and explains how you can easily achieve a similar success for your project, be it open source or a otherwise peer driven project. He'll also turn it on it's head and explain how users can benefit from the exact same techniques to get faster and much better responses when dealing with developers. And how to get the upper hand when dealing with the system administrators at the office..</p>

<p>Secrets revealed includes:
* why you should only be looking for inexperienced developers
* why you should openly apply social engineering techniques when dealing with developers
* what makes inexperienced developers such a big asset for Exherbo
* how users can manipulate developers into fixing their bugs and many more.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

