---
title: Re-thinking system and distro development
kind: event
speakers:
  -
    name: Lars Wirzenius
    slug: lars_wirzenius
    url: /schedule/speaker/lars_wirzenius
slug: rethinking
track: Keynotes
track_url: /schedule/track/keynotes
track_rank: 10
room: Janson
room_url: /schedule/room/janson
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 443
event_type: keynote
start: 2012-02-04 12:30:00.000000000 +00:00
end: 2012-02-04 13:20:00.000000000 +00:00
links:
  -
    title: Video recording
    url: http://video.fosdem.org/2012/maintracks/janson/Re_thinking_system_and_distro_development.webm
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/keynotes">Keynotes</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/janson">Janson</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>12:30</dd>
    <dt>End:</dt>
    <dd>13:20</dd>
</dl>

<p>We believe system (and distribution) development needs to be
re-thought from the basic concepts upwards. We've implemented some
ideas for streamlining development, reducing development friction,
speeding up system upgrades and adding support for downgrades and
rollbacks, and generally making development of entire systems faster
and more fun.</p>

<p>At the level of individual, atomic projects, several great tools and
development methods have been developed over the past decade or so.
Few of them are applied at the system or distribution level. The Linux
kernel development, for example, greatly benefits from the ease of
branching and merging that git provides, but it is not possible to branch
and merge the whole system, or distribution, consisting of hundreds
or tens of thousands of individual projects.</p>

<p>From the agile development worlds, automated testing, test driven
development, and continuous integration are common-place for individual
projects, but not so much for complete systems development. Would it not
be nice to have them?</p>

<p>Packages have been the darling child of Linux distribution development
since the early days. They are a natural, modular concept, and have been
one of the key factors behind the success of the distribution concept.
Package managers have made it easy to install and remove and upgrade
each piece of software separately, and to upgrade the whole system by
upgrading each installed package. However, a modern distribution consists
of tens of thousands of packages, and the combinatorial explosion of
dependencies and interaction may be getting out of hand. In this talk
we explore another way of approaching the packaging problem.</p>

<p>We believe these and other changes are useful for bridging the current
gap between upstream development and end users, to speed up system
and distribution development, and to let system builders bravely
hack what no-one has hacked before.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://video.fosdem.org/2012/maintracks/janson/Re_thinking_system_and_distro_development.webm">Video recording</a></li>
</ul>

