---
title: Anatomy of a role playing game
kind: event
speakers:
  -
    name: Arthur Huillet
    slug: arthur_huillet
    url: /schedule/speaker/arthur_huillet
slug: role_playing_game
day: Sun
start: 10:00
end: 10:00
event_id: 531
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/open_source_game_development">Open Source Game Development</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1120">AW1.120</a></dd>
    <dt>Day:</dt>
    <dd>Sunday</dd>
    <dt>Start:</dt>
    <dd>10:00</dd>
    <dt>End:</dt>
    <dd>10:45</dd>
</dl>

<p>This presentation will walk the audience through the design principles of an isometric role playing game engine. The specimen to be dissected is an actively developed yet fully playable game called FreedroidRPG. A general presentation of the game will be made, before the architecture of its engine is exposed. Examples of good and bad design decisions will be provided, and the way to pull out of ugly situations without compromising stability explained. The game covers most of its objectives but some open questions remain which will be exposed to the audience.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

