---
title: ! 'Rygel: Free and Open Mobile DLNA'
kind: event
speakers:
  -
    name: Jens Georg
    slug: jens_georg
    url: /schedule/speaker/jens_georg
slug: rygel_mobile_dlna
track: Open Mobile Linux
track_url: /schedule/track/open_mobile_linux
track_rank: 522
room: AW1.120
room_url: /schedule/room/aw1120
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 637
event_type: devroom
start: 2012-02-04 17:30:00.000000000 +00:00
end: 2012-02-04 18:00:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/open_mobile_linux">Open Mobile Linux</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1120">AW1.120</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>17:30</dd>
    <dt>End:</dt>
    <dd>18:00</dd>
</dl>

<p>Getting to the point of having a working, low-resource DLNA-ready
implementation is a hard task. Fortunately there's an easy way out -
Rygel. It is a modular and extensible solution to help you out of that
dilemma with minimum effort.</p>

<p>Rygel started its life for GNOME Mobile and was the designated UPnP/DLNA
stack for Maemo Freemantle and MeeGo/Harmattan. It is supposed to work
out-of-the box with no setup required, operating nicely with all kinds
of quirky devices.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


