---
title: Session Border Control with SEMS
kind: event
speakers:
  -
    name: Stefan Sayer
    slug: stefan_sayer
    url: /schedule/speaker/stefan_sayer
slug: sbc_sems
track: Telephony and Communications
track_url: /schedule/track/telephony_and_communications
track_rank: 515
room: H.2213
room_url: /schedule/room/h2213
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 586
event_type: devroom
start: 2012-02-05 12:35:00.000000000 +00:00
end: 2012-02-05 13:15:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/telephony_and_communications">Telephony and Communications</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h2213">H.2213</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>12:35</dd>
    <dt>End:</dt>
    <dd>13:15</dd>
</dl>

<p>The SIP Express Media Server can be used to provide SBC-like functionality in various ways, and this presentation will demonstrate two of them.</p>
<p>SEMS, the SIP Express Media Server, is the media and application server counterpart to SIP Express Router aka Kamailio/OpenSER, the leading open source SIP Signalling server from iptel.org. Since 2004 SEMS has been used to implement classical value added services in VoIP networks like announcements, conferencing, voicemail and RBT, and converged services as web conferencing and voice message broadcasting.</p>

<p>More recently, its integrated Back-to-Back User Agent has been extended and improved for flexibility and high performance, making it one of the few open source solutions for high volume session border control. But there's more to it: Thanks to its flexibility, it can also be used as core call routing element, and be a useful tool in various situations for the VoIP platform engineer.</p>

<p>The talk will present the SEMS SBC functionality and typical performance numbers, and then show how developers can use the internal call control API to create custom call routing in the SBC with two examples: Using a RESTful interface, a web app server implemented with the Play! framework is used for user controlled call routing, and by accessing a blacklist database in REDIS, SEMS' SBC can be used to block SPIT.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


