---
title: Secure SIP Communications with Kamailio
kind: event
speakers:
  -
    name: Daniel-Constantin Mierla
    slug: daniel_constantin_mierla
    url: /schedule/speaker/daniel_constantin_mierla
slug: secure_sip_kamailio
track: Telephony and Communications
track_url: /schedule/track/telephony_and_communications
track_rank: 515
room: H.2213
room_url: /schedule/room/h2213
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 589
event_type: devroom
start: 2012-02-05 14:50:00.000000000 +00:00
end: 2012-02-05 15:30:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/telephony_and_communications">Telephony and Communications</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h2213">H.2213</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>14:50</dd>
    <dt>End:</dt>
    <dd>15:30</dd>
</dl>

<p>With SIP networks being used for more than just Voice/Video calls, it has become important that the SIP infrastructure provide secure signaling channels; this talk will present features of Kamailio and how they can be used to provide this security.</p>
<p>Besides quick update of what is new lately in Kamailio SIP Server project, the presentation will focus on showing how to use Kamailio to build a secure communication platform for SIP. Kamailio features a scalable SIP routing engine for dispatching of Voice/Video calls and Instant Messages as well as rich SIMPLE presence server for user availability states with embedded XCAP server for management of privacy rules and buddy list. With IM and Presence traffic being carried via signaling channel, encrypting SIP channel is the only way of ensuring confidentiality and protection of data exchanged. Today, Kamailio offers asynchronous TLS communication layer, tested and improved over last years for robustness and cope with the demands of telecom-grade deployments.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

