---
title: Smart card workshop
kind: event
speakers:
  -
    name: Jean-Michel Pouré
    slug: jean_michel_poure
    url: /schedule/speaker/jean_michel_poure
slug: smartcard_workshop
track: Security
track_url: /schedule/track/security
track_rank: 516
room: H.2214
room_url: /schedule/room/h2214
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 949
event_type: devroom
start: 2012-02-05 13:00:00.000000000 +00:00
end: 2012-02-05 15:00:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/security">Security</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h2214">H.2214</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>13:00</dd>
    <dt>End:</dt>
    <dd>15:00</dd>
</dl>

<p>Workshop on how to use smart cards with popular open source software.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


