---
title: Spice "Open remote computing" introduction
kind: event
speakers:
  -
    name: Hans de Goede
    slug: hans_de_goede
    url: /schedule/speaker/hans_de_goede
slug: spice
day: Sun
start: 09:00
end: 09:00
event_id: 573
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/virtualization_and_cloud">Virtualization and Cloud</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/chavanne">Chavanne</a></dd>
    <dt>Day:</dt>
    <dd>Sunday</dd>
    <dt>Start:</dt>
    <dd>09:00</dd>
    <dt>End:</dt>
    <dd>09:25</dd>
</dl>

<p>In one sentence: "The Spice project aims to provide a complete open source solution for interaction with virtualized desktop services". This talk will give an overview of:
* What Spice is
* How Spice works (globally)
* What makes it better then using ie vnc to access a remote virtual machine
* Future features</p>
<p>The purposes of this talk are:
* To inform people about the Spice protocol and the Spice project
* Get feedback for future versions
* Hopefully get people to use Spice and maybe even become contributors</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

