---
title: Succeeding in the Google Summer of Code as a large project
kind: event
speakers:
  -
    name: Donnie Berkholz
    slug: donnie_berkholz
    url: /schedule/speaker/donnie_berkholz
slug: succeeding_gsoc
track: CrossDistribution
track_url: /schedule/track/crossdistribution
track_rank: 499
room: H.1302
room_url: /schedule/room/h1302
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 818
event_type: devroom
start: 2012-02-04 15:45:00.000000000 +00:00
end: 2012-02-04 16:30:00.000000000 +00:00
links:
  -
    title: Google Summer of Code
    url: https://code.google.com/soc/
  -
    title: Video recording
    url: http://video.fosdem.org/2012/crossdistro/Succeeding_in_the_Google_Summer_of_Code_as_a_large_project.webm
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/crossdistribution">CrossDistribution</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1302">H.1302</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>15:45</dd>
    <dt>End:</dt>
    <dd>16:30</dd>
</dl>

<p>The Google Summer of Code (GSoC) has been a huge boon to the world of free and open-source software, and to Gentoo Linux in particular. In this talk, I'm going to share some of our successes, like how we manage 15–20 simultaneous internships and how we recruit a very large proportion of our students to continue as Gentoo developers.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="https://code.google.com/soc/">Google Summer of Code</a></li>
    <li><a href="http://video.fosdem.org/2012/crossdistro/Succeeding_in_the_Google_Summer_of_Code_as_a_large_project.webm">Video recording</a></li>
</ul>

