---
title: Sustainable mentorship
kind: event
speakers:
  -
    name: Dave Neary
    slug: dave_neary
    url: /schedule/speaker/dave_neary
slug: sustainablementorship
track: CrossDesktop
track_url: /schedule/track/crossdesktop
track_rank: 511
room: H.1308
room_url: /schedule/room/h1308
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 624
event_type: devroom
start: 2012-02-04 14:20:00.000000000 +00:00
end: 2012-02-04 14:50:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/crossdesktop">CrossDesktop</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1308">H.1308</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>14:20</dd>
    <dt>End:</dt>
    <dd>14:50</dd>
</dl>

<p>The talk will cover a variety of topics including:
* Measuring success - and the success rates of mentoring programs
* Preventing mentor burn-out, recruiting new mentors
* Roping them in - turning interns into community members
* Recruiting for diversity (Women's Outreach Program case study)
* Keeping momentum - how to avoid ghost-towns</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

