---
title: ! 'An update on PIM storage and sync: SyncEvolution'
kind: event
speakers:
  -
    name: Patrick Ohly
    slug: patrick_ohly
    url: /schedule/speaker/patrick_ohly
slug: syncevolution_update
track: Open Mobile Linux
track_url: /schedule/track/open_mobile_linux
track_rank: 522
room: AW1.120
room_url: /schedule/room/aw1120
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 599
event_type: devroom
start: 2012-02-04 16:30:00.000000000 +00:00
end: 2012-02-04 17:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/open_mobile_linux">Open Mobile Linux</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/aw1120">AW1.120</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>16:30</dd>
    <dt>End:</dt>
    <dd>17:00</dd>
</dl>

<p>SyncEvolution has been the main synchronization engine in Moblin, MeeGo (together with Buteo) and will also be used in
Tizen. In addition there have been stable, regular upstream releases for desktop Linux since 2005. Ports to the N900 and N9
are available, using their native PIM storage. This talk will give an overview of the architecture and introduce the latest features: KDE support, CalDAV/CardDAV synchronization, and ActiveSync.</p>
<p>The slides can be viewed at http://syncevolution.org/blogs/pohly/2012/fosdem-2012</p>

<p>PIM storage and synchronization are important topics on mobile
devices because of the central role that the data plays and the
intermittent network connectivity - thus the need to keep local
copies of important data and synchronize when online.</p>

<p>One (but not the only) supported storage backend is Evolution
Data Server. When Nokia left MeeGo, Intel reverted back to EDS
as the main storage for PIM data in MeeGo and started to improve
it. The initial round of improvements were aimed at minimizing
overhead for sync and have been accepted by the upstream
project. This talk summarizes these changes and outlines some
further ideas.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

