---
title: Telephony and Communications Roundtable
kind: event
speakers:
  -
    name: Kevin Fleming
    slug: kevin_fleming
    url: /schedule/speaker/kevin_fleming
slug: tel_comm_roundtable
track: Telephony and Communications
track_url: /schedule/track/telephony_and_communications
track_rank: 515
room: H.2213
room_url: /schedule/room/h2213
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 738
event_type: devroom
start: 2012-02-05 16:20:00.000000000 +00:00
end: 2012-02-05 17:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/telephony_and_communications">Telephony and Communications</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h2213">H.2213</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>16:20</dd>
    <dt>End:</dt>
    <dd>17:00</dd>
</dl>

<p>A round-table discussion about VoIP and related topics with the day's speakers.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

