---
title: Discussion about the future of XBL
kind: event
speakers:
  -
    name: Neil Deakin
    slug: neil_deakin
    url: /schedule/speaker/neil_deakin
slug: the_future_of_xbl
track: Mozilla
track_url: /schedule/track/mozilla
track_rank: 510
room: UD2.218A
room_url: /schedule/room/ud2218a
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 866
event_type: devroom
start: 2012-02-05 16:30:00.000000000 +00:00
end: 2012-02-05 17:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/mozilla">Mozilla</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ud2218a">UD2.218A</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>16:30</dd>
    <dt>End:</dt>
    <dd>17:00</dd>
</dl>

<p>A overview and discussion of the existing state of XBL and ways in which we can finally improve it for performance, stability and to make it more flexible, powerful and easier to use. Specifically, we look at the XBL2 specification, some proposals for similar features from Google, as well as other ideas based on the experience developing Firefox.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

