---
title: The state of new CSS features in the CSSWG and in Mozilla
kind: event
speakers:
  -
    name: David Baron
    slug: david_baron
    url: /schedule/speaker/david_baron
slug: the_state_of_new_css_features_in_the_csswg_and_in_mozilla
track: Mozilla
track_url: /schedule/track/mozilla
track_rank: 510
room: UD2.218A
room_url: /schedule/room/ud2218a
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 771
event_type: devroom
start: 2012-02-04 17:30:00.000000000 +00:00
end: 2012-02-04 18:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/mozilla">Mozilla</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ud2218a">UD2.218A</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>17:30</dd>
    <dt>End:</dt>
    <dd>18:00</dd>
</dl>

<p>A brief overview of, first, what CSS features have been implemented recently in Firefox, second, what new CSS features are in development in the CSS Working Group at W3C, how far along they are, and when they're likely to come to browsers.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

