---
title: The IcedRobot of Dawn, a one year long Free Sofware journey
kind: event
speakers:
  -
    name: Mario Torre
    slug: mario_torre
    url: /schedule/speaker/mario_torre
  -
    name: Roman Kennke
    slug: roman_kennke
    url: /schedule/speaker/roman_kennke
slug: the_icedrobot_of_dawn
day: Sun
start: 14:30
end: 14:30
event_id: 714
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/free_java">Free Java</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k4401">K.4.401</a></dd>
    <dt>Day:</dt>
    <dd>Sunday</dd>
    <dt>Start:</dt>
    <dd>14:30</dd>
    <dt>End:</dt>
    <dd>15:00</dd>
</dl>

<p>IcedRobot is an attempt to bring the Android API on OpenJDK.</p>

<p>It was first announced at Fosdem 2011, and after only two months of development and a team assembled during the customary Fosdem Free Java Hackers dinner, it was already able to translate most Android bytecode format to Java.</p>

<p>This presentation will review the last year of development and will explain future direction and plans for the project.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

