---
title: ! 'Thermostat: Taking over the Java tooling world with Open Source Software'
kind: event
speakers:
  -
    name: Jon VanAlten
    slug: jon_vanalten
    url: /schedule/speaker/jon_vanalten
  -
    name: Omair Majid
    slug: omair_majid
    url: /schedule/speaker/omair_majid
slug: thermostat
track: Free Java
track_url: /schedule/track/free_java
track_rank: 507
room: K.4.401
room_url: /schedule/room/k4401
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 706
event_type: devroom
start: 2012-02-04 18:00:00.000000000 +00:00
end: 2012-02-04 18:30:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/free_java">Free Java</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k4401">K.4.401</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>18:00</dd>
    <dt>End:</dt>
    <dd>18:30</dd>
</dl>

<p>One area in which proprietary JDK releases have traditionally showed superiority over OpenJDK is in monitoring and instrumentation tools.  We aim to overcome this shortcoming and even reverse the trend by introducing a new, scalable tool to the the ecosystem: Thermostat.  During the last half year, we've been quietly coming up with a plan for how this tool should work, and we're now ready to share what we've come up with.  By working with others in the open Java community, we believe that we can make the most useful, most comprehensive, and all around best application of its kind.</p>

<p>In our presentation, we will describe our extensible model for collecting JVM and system monitoring data side by side.  Attendees will learn about the features we have planned, see a short demo of what is already working, and hopefully be inspired to join us in in making this awesome tool a reality.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

