---
title: Tracking Firefox performance via Telemetry
kind: event
speakers:
  -
    name: Taras Glek
    slug: taras_glek
    url: /schedule/speaker/taras_glek
slug: tracking_firefox_performance_via_telemetry
day: Sun
start: 10:30
end: 10:30
event_id: 856
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/mozilla">Mozilla</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ud2218a">UD2.218A</a></dd>
    <dt>Day:</dt>
    <dd>Sunday</dd>
    <dt>Start:</dt>
    <dd>10:30</dd>
    <dt>End:</dt>
    <dd>11:00</dd>
</dl>

<p>Traditionally Mozilla measured Firefox performance with a set of performance tests called Talos. For features not covered by Talos developers benchmarked individual features themselves.
However, it turns it is extremely difficult to design a representative testsuite. Reproducing performance problems is often harder than fixing them.
Telemetry is a way to measure Firefox performance &amp; usage in the field. It allows developers to insert lightweight probes and then use them to track how Firefox behaves in the wild. We have been using Telemetry to improve Firefox since version 7. We will soon roll out Telemetry to addon developers so they can benefit from the same infrastructure. This talk will cover how Telemetry is used and the kinds of problems it helped us fix so far.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

