---
title: ! 'Transifex: Localizing your application'
kind: event
speakers:
  -
    name: Apostolos Bessas
    slug: apostolos_bessas
    url: /schedule/speaker/apostolos_bessas
slug: transifex
day: Sat
start: 17:40
end: 17:40
event_id: 468
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/lightning_talks">Lightning Talks</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ferrer">Ferrer</a></dd>
    <dt>Day:</dt>
    <dd>Saturday</dd>
    <dt>Start:</dt>
    <dd>17:40</dd>
    <dt>End:</dt>
    <dd>17:55</dd>
</dl>

<p>Transifex is an open-source localization platform. It helps developers manage the localization process for their software. Especially in the open-source world, localizing the software is very important. This talk will explain briefly what localization is, what are the issues that arise and how Transifex can help projects manage the translation workflow.</p>
<p>Transifex is an open-source localization platform. It is already used by a lot of open-source projects, including fedora and meego, with great success.
The talk will focus on explaining what localization is and why it is important. It will also describe how Transifex works and how it can help the developers integrate translations in their workflow and the translators to cooperate better to help with the translations.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

