---
title: How to trick a developer into being a designer?
kind: event
speakers:
  -
    name: Seif Lotfy
    slug: seif_lotfy
    url: /schedule/speaker/seif_lotfy
  -
    name: Allan Day
    slug: allan_day
    url: /schedule/speaker/allan_day
slug: trickdevintodesigner
track: CrossDesktop
track_url: /schedule/track/crossdesktop
track_rank: 511
room: H.1308
room_url: /schedule/room/h1308
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 619
event_type: devroom
start: 2012-02-05 13:30:00.000000000 +00:00
end: 2012-02-05 14:10:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/crossdesktop">CrossDesktop</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1308">H.1308</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>13:30</dd>
    <dt>End:</dt>
    <dd>14:10</dd>
</dl>

<p>We can't get anywhere with free software if the developers don't do
design. They always did. It just sucked because they went with whatever
the first iteration was. The focal point changed and "we'll add some UI
later" is not design. Interaction with the software is key.</p>

<p>Design requires you to have a general idea about the interaction
upfront, but not everything. Once a general idea is out there an agreed
upon, the second part of the design process kicks in.</p>

<p>"Prototyping"</p>

<p>Prototypes help you see the flaws of a design more clearly, and missing
features can be added to accelerate the design/development of the
project. Frequent and agile iterations between visual designing &amp;
prototyping is part of a healthy design process.</p>

<p>Since developers can write code they can also prototype, (as long as
they don't get attached to their code).</p>

<p>This talk is about how designers tricked a developer to be one of
them...</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

