---
title: Using Qt for non-graphical applications
kind: event
speakers:
  -
    name: Thomas Petazzoni
    slug: thomas_petazzoni
    url: /schedule/speaker/thomas_petazzoni
slug: using_qt_for_non_graphical_applications
track: Embedded
track_url: /schedule/track/embedded
track_rank: 509
room: Lameere
room_url: /schedule/room/lameere
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 700
event_type: devroom
start: 2012-02-05 13:00:00.000000000 +00:00
end: 2012-02-05 14:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/embedded">Embedded</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/lameere">Lameere</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>13:00</dd>
    <dt>End:</dt>
    <dd>14:00</dd>
</dl>

<p>The Qt framework is best known by most developers as a graphical
toolkit library, which allows to build graphical interfaces with
windows, buttons, checkboxes and drop-down lists.</p>

<p>However, Qt is not limited to graphical application development and
through this talk, we would like to highlight the multiple features
that Qt offers to embedded Linux developers developping non-graphical
applications.</p>

<p>Based on the experience of a real non-graphical application developped
for a customer, we will detail how Qt has helped integrating features
such as communication with multiple devices over serial ports,
communication with a GSM modem, XML parsing, HTTP requests,
communication with Linux input devices, and more.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

