---
title: ! 'Virtualization with KVM: bottom to top, past to future'
kind: event
speakers:
  -
    name: Paolo Bonzini
    slug: paolo_bonzini
    url: /schedule/speaker/paolo_bonzini
slug: virt_kvm
day: Sat
start: 15:00
end: 15:00
event_id: 444
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/hypervisors">Hypervisors</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/janson">Janson</a></dd>
    <dt>Day:</dt>
    <dd>Saturday</dd>
    <dt>Start:</dt>
    <dd>15:00</dd>
    <dt>End:</dt>
    <dd>15:50</dd>
</dl>

<p>The KVM hypervisor entered the Linux kernel at the beginning of 2007 and, since then, it has progressed a lot in terms of scalability, performance and features.  Together with it, an entirely open-source stack of user-mode virtualization tools has come into existence and seen vigorous development.  Its components include management tools (libvirt, oVirt), guest rescue and inspection tools (guestfish), desktop virtualization (spice), user interfaces (virt-manager and now Boxes).  The stability of the hypervisor and the fast-paced development of the tools created a virtuous circle that is quickly bridging the gap between proprietary and open-source virtualization.</p>

<p>In this talk, I will highlight the recent additions to KVM and the accompanying tools, and present features that are new or in the works.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

