---
title: Toolkits on Wayland - how we're doing!
kind: event
speakers:
  -
    name: Rob Bradford
    slug: rob_bradford
    url: /schedule/speaker/rob_bradford
slug: waylandtk
day: Sun
start: 10:00
end: 10:00
event_id: 618
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/crossdesktop">CrossDesktop</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1308">H.1308</a></dd>
    <dt>Day:</dt>
    <dd>Sunday</dd>
    <dt>Start:</dt>
    <dd>10:00</dd>
    <dt>End:</dt>
    <dd>10:40</dd>
</dl>

<p>Wayland is a next generation display manager that is hopefully the
future for graphics in the Free Desktop. It provides an opportunity to
avoid some of the historical baggage associated with X - and enable
smoother and more flexible user experiences.</p>

<p>In this talk i'll show of the status quo of various toolkits running
on Wayland - including GTK+, Clutter, Mx and with a special guest
appearance from Tiago Vignatti to show off the state of the QT port.</p>

<p>We'll talk about what works and what doesn't and what application
level programmers need to think about when porting their application
to run under Wayland. In particular input is a field where X has
lagged behind current technology - Tiago will show how the exemplary
input architecture in Wayland can be exploited to create compelling
modern user experiences.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

