---
title: Wayland Q & A for toolkit developers. 
kind: event
speakers:
  -
    name: Kristian Høgsberg
    slug: kristian_hogsberg
    url: /schedule/speaker/kristian_hogsberg
  -
    name: Rob Bradford
    slug: rob_bradford
    url: /schedule/speaker/rob_bradford
slug: wayland_qa
track: X.org+OpenICC
track_url: /schedule/track/xorg+openicc
track_rank: 503
room: K.3.401
room_url: /schedule/room/k3401
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 925
event_type: devroom
start: 2012-02-05 11:30:00.000000000 +00:00
end: 2012-02-05 12:00:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/xorg+openicc">X.org+OpenICC</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k3401">K.3.401</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>11:30</dd>
    <dt>End:</dt>
    <dd>12:00</dd>
</dl>

<p>This talk is aimed at developers porting toolkits to run on Wayland. It will include an overview of some of the lessons learnt from porting various toolkits over to Wayland and provide an opportunity for developers to raise questions.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


