---
title: Wazaabi - Model your UI ... live
kind: event
speakers:
  -
    name: Gregoire de Hemptinne
    slug: gregoire_de_hemptinne
    url: /schedule/speaker/gregoire_de_hemptinne
slug: wazaabi
track: Lightning Talks
track_url: /schedule/track/lightning_talks
track_rank: 20
room: Ferrer
room_url: /schedule/room/ferrer
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 463
event_type: lightningtalk
start: 2012-02-04 18:40:00.000000000 +00:00
end: 2012-02-04 18:55:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/lightning_talks">Lightning Talks</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ferrer">Ferrer</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>18:40</dd>
    <dt>End:</dt>
    <dd>18:55</dd>
</dl>

<p>UI development usually consists in building software components that rely on a business data model. But business data models need to change frequently to adapt user requirement updates. This implies to adapt frequently the UI components.</p>

<p>Nowadays, existing solutions provide a way to support these changes by providing code generation and data binding. But, these solutions are still slow. Then, the development cost increases rapidly if you have frequently requirement updates and/or many UI components.</p>

<p>Wazaabi aims to reduce this cost by providing a solution based on models which doesn't require code generation. Based on Eclipse EMF, Wazaabi provides an open source framework that implements a dynamic declarative UI mechanism. The Wazaabi framework is directly based on the business data model and will evolve with it.</p>

<p>This presentation aims to give a look inside this framework.</p>
<p>Wazaabi is an open source framework for declarative live UI-model. In this term two different concepts are included.
* The declarative UI, means that Wazaabi enables the designer to describe the UI declaratively.
* Model means that the declaration build an instance of a model of the GUI. A model is a conceptual representation of the UI.
* Live model means that we do not generate code from the Model as it is usually the case with the MDA approach. In Wazaabi the UI is a running instance of the model and an engine is responsible for  rendering the model in the target UI technology (SWT, SWING, JSF, etc.)</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

