---
title: Web security, and how to stop the next DigiNotar
kind: event
speakers:
  -
    name: Kai Engert
    slug: kai_engert
    url: /schedule/speaker/kai_engert
slug: web_security_and_how_to_stop_the_next_diginotar
track: Mozilla
track_url: /schedule/track/mozilla
track_rank: 510
room: UD2.218A
room_url: /schedule/room/ud2218a
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 767
event_type: devroom
start: 2012-02-04 15:00:00.000000000 +00:00
end: 2012-02-04 15:30:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/mozilla">Mozilla</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ud2218a">UD2.218A</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>15:00</dd>
    <dt>End:</dt>
    <dd>15:30</dd>
</dl>

<p>In 2011 we learned that Certificate Authorities get hacked. What does this mean for the security of https and SSL/TLS? This talk covers the proposed solutions, why we aren't using any of them (yet), and how you can help.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


