---
title: WebKitGTK+ status and roadmap to WebKit2
kind: event
speakers:
  -
    name: Mario Sánchez Prada
    slug: mario_sanchez_prada
    url: /schedule/speaker/mario_sanchez_prada
  -
    name: Philippe Normand
    slug: philippe_normand
    url: /schedule/speaker/philippe_normand
slug: webkit2
track: CrossDesktop
track_url: /schedule/track/crossdesktop
track_rank: 511
room: H.1308
room_url: /schedule/room/h1308
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 623
event_type: devroom
start: 2012-02-05 15:00:00.000000000 +00:00
end: 2012-02-05 15:40:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/crossdesktop">CrossDesktop</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h1308">H.1308</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>15:00</dd>
    <dt>End:</dt>
    <dd>15:40</dd>
</dl>

<p>In the talk we will talk about WebKitGTK+ [1] current status
and work done in the last months since last desktop summit. A
lot of things have happened in these months, we will summarize
the various WebKitGTK+ improvements in rendering (accelerated
compositing), accessibility, networking, etc. Also we will cover
WebKit2 architecture and initial version of the API, we will detail
the roadmap for WebKit2 support for WebKitGTK+. And or course some
nice demos :).</p>

<p>The talk should be interesting for embedders and those considering
integration of the web with the free desktop</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

