---
title: Why the community should welcome Average Jane and Joe
kind: event
speakers:
  -
    name: Claire Corgnou
    slug: claire_corgnou
    url: /schedule/speaker/claire_corgnou
slug: why_welcome_average_jane_and_joe
track: Community
track_url: /schedule/track/community
track_rank: 110
room: K.1.105
room_url: /schedule/room/k1105
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 555
event_type: main
start: 2012-02-05 14:00:00.000000000 +00:00
end: 2012-02-05 14:50:00.000000000 +00:00
links:
  -
    title: Video recording
    url: http://video.fosdem.org/2012/maintracks/k.1.105/Why_the_community_should_welcome_Average_Jane_and_Joe.webm
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/community">Community</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k1105">K.1.105</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>14:00</dd>
    <dt>End:</dt>
    <dd>14:50</dd>
</dl>

<p>Clarissa would like to convince "geeks" that they need "normal people". She wants to convince geeks about what an Average Jane or Joe can bring to FLOSS, because she wants geeks to make some efforts to welcome them.</p>
<p>Indeed, it has been quite difficult for her to enter the community. Difficult, but not impossible! And now, she simply loves FLOSS. So she'd like to explain how Mozillians managed to catch her attention. And which kind of contributions geeks can propose to "normal people" to attract them, and to keep them in the community...
You'll see that Average Jane or Joe can be useful ;-)</p>

<p>She thinks geeks need Average Jane or Joe to understand what the public really wants or needs. It's the only way to really open up the Web!</p>

<p>So throughout this talk, she will explain what you can do to attract "normal people".</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://video.fosdem.org/2012/maintracks/k.1.105/Why_the_community_should_welcome_Average_Jane_and_Joe.webm">Video recording</a></li>
</ul>

