---
title: Wikiotics - Bridging the FOSS and Edu worlds through language instruction 
kind: event
speakers:
  -
    name: Ian Sullivan
    slug: ian_sullivan
    url: /schedule/speaker/ian_sullivan
slug: wikiotics
track: Lightning Talks
track_url: /schedule/track/lightning_talks
track_rank: 20
room: Ferrer
room_url: /schedule/room/ferrer
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 515
event_type: lightningtalk
start: 2012-02-04 17:20:00.000000000 +00:00
end: 2012-02-04 17:35:00.000000000 +00:00
links:
  -
    title: Wikiotics free language instruction project
    url: http://wikiotics.org
  -
    title: Video recording
    url: http://video.fosdem.org/2012/lightningtalks/Wikiotics.webm
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/lightning_talks">Lightning Talks</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ferrer">Ferrer</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>17:20</dd>
    <dt>End:</dt>
    <dd>17:35</dd>
</dl>

<p>The people who believe in free software and open education have a lot in common, but few shared projects. Wikiotics has run for three years as a one such hybrid project and in the process spent a lot of time talking about education at free software conferences and about free software at education ones. If you have ever wondered why there aren't more projects like Wikipedia out there, come hear about some of the difficulties and opportunities for Foss/Edu collaboration.</p>
<p>Openness, sharing, collaboration, and everyone's right to use, for any purpose. With these shared values, the partnership between free software and education should be natural, yet too often these communities operate without ever interacting. At Wikiotics, a language instruction project built from our own free software, we have faced puzzled looks at every turn. As the only education project at free software conferences and the only free software project at education ones, we have talked to many people from both communities about our common values and learned a lot about the barriers to working together and the incredible potential for social change when we collaborate.  Come hear a little bit about our strategies for overcoming them.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://wikiotics.org">Wikiotics free language instruction project</a></li>
    <li><a href="http://video.fosdem.org/2012/lightningtalks/Wikiotics.webm">Video recording</a></li>
</ul>

