---
title: ! 'Applications: Real-Time Text for Smooth and Rapid Communication '
kind: event
speakers:
  -
    name: Gunnar Hellström
    slug: gunnar_hellstrom
    url: /schedule/speaker/gunnar_hellstrom
slug: xmpp_real_time_text
track: Jabber and XMPP
track_url: /schedule/track/jabber_and_xmpp
track_rank: 514
room: H.2213
room_url: /schedule/room/h2213
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 910
event_type: devroom
start: 2012-02-04 16:30:00.000000000 +00:00
end: 2012-02-04 17:00:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/jabber_and_xmpp">Jabber and XMPP</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h2213">H.2213</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>16:30</dd>
    <dt>End:</dt>
    <dd>17:00</dd>
</dl>

<p>Motivations for real-time text in XMPP, the seamless addition of the feature, the protocol in XEP-0301, and its use.</p>
<p>The presentation describes the functionality of real-time text added</p>

<pre><code>to the XMPP environment by draft extension XEP-0301.
By application to both sending and receiving XMPP clients, a more
fluent conversation by text is achieved, where text is displayed at
the far end at the rate it is typed by the transmitting party.
This reduces stress and waiting time in intensive text communication
situations.   

The extension can be seamlessly applied, so that if it is not
supported by both ends, the functionality is as plain message based
XMPP. Therefore introduction can be made gradually.
In order to not overload servers and networks, the trasmission
itervals can be kept long, and instead the real-time impression get
recreated by a feature called "Natural Typing". 

Opportunities for interoperability with real-time text in other
environments will be explained, and indications given for easy
integration in other XMPP implementations.

Demonstrations will be made of the RealJabber client, implementing
the draft as an open source project, managed by the author of the
XEP-0301 draft, Mark Rejhon.

It is with the experience, need and interest from people with
communications related disabilities that this extension is
developed, but it has apparent benefits for all.
</code></pre>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


