---
title: ! 'Coding: ObjXMPP - An XMPP framework for Objective C with ObjFW'
kind: event
speakers:
  -
    name: Jonathan Schleifer
    slug: jonathan_schleifer
    url: /schedule/speaker/jonathan_schleifer
  -
    name: Florian Zeitz
    slug: florian_zeitz
    url: /schedule/speaker/florian_zeitz
slug: xmpp_objective_c
day: Sat
start: 18:15
end: 18:15
event_id: 918
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/jabber_and_xmpp">Jabber and XMPP</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h2213">H.2213</a></dd>
    <dt>Day:</dt>
    <dd>Saturday</dd>
    <dt>Start:</dt>
    <dd>18:15</dd>
    <dt>End:</dt>
    <dd>18:30</dd>
</dl>

<p>This talk will introduce ObjXMPP, a portable XMPP library written in Objective-C. Achievements made since this project was started at FOSDEM 2011, as well as some code examples will be presented.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

