---
title: ! 'Cairo: How to render tomorrow''s user interfaces.'
kind: event
speakers:
  -
    name: Chris Wilson
    slug: chris_wilson
    url: /schedule/speaker/chris_wilson
slug: xorg_cairo
track: X.org+OpenICC
track_url: /schedule/track/xorg+openicc
track_rank: 503
room: K.3.401
room_url: /schedule/room/k3401
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 926
event_type: devroom
start: 2012-02-04 13:00:00.000000000 +00:00
end: 2012-02-04 14:00:00.000000000 +00:00
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/xorg+openicc">X.org+OpenICC</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k3401">K.3.401</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>13:00</dd>
    <dt>End:</dt>
    <dd>14:00</dd>
</dl>

<p>Cairo is the drawing API that is used predominantly by the GTK stack along with Firefox and couple of ports of WebKit. It is designed as a comprehensible page layout API rather than as a high performance interface to the GPU. It is Cairo's job to bridge the gap between an easy-to-use drawing model and efficient rendering. This is not always as easy as it sounds...</p>

<p>The talk will present the origins of Cairo, its successes, some of its failures, and the promising technologies for the future.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

