---
title: XQuery 3.0 Rocks
kind: event
speakers:
  -
    name: William Candillon
    slug: william_candillon
    url: /schedule/speaker/william_candillon
slug: xquery
track: Lightning Talks
track_url: /schedule/track/lightning_talks
track_rank: 20
room: Ferrer
room_url: /schedule/room/ferrer
day: Sunday
day_url: /schedule/day/sunday
shortday: Sun
event_id: 465
event_type: lightningtalk
start: 2012-02-05 10:00:00.000000000 +00:00
end: 2012-02-05 10:15:00.000000000 +00:00
links:
  -
    title: Zorba Website
    url: http://www.zorba-xquery.com
  -
    title: Video recording
    url: http://video.fosdem.org/2012/lightningtalks/XQuery_3.0_Rocks.webm
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/lightning_talks">Lightning Talks</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/ferrer">Ferrer</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/sunday">Sunday</a></dd>
    <dt>Start:</dt>
    <dd>10:00</dd>
    <dt>End:</dt>
    <dd>10:15</dd>
</dl>

<p>XQuery has been designed by the W3C as a general purpose XML processing language.
Although XQuery is mainly known as a query language for XML collections, it is a fully fledged programming language useful in a variety of architectures and environments.
With an extremely powerful support for database queries, scripting, and full-text search, XQuery is providing a unified framework for building web applications.
The aim of this talk is to briefly introduce some of the new language features in XQuery 3.0 and demo how XQuery &amp; HTML5 can work together to build applications that are 300% awesome.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

<h3>Links</h3>
<ul>
    <li><a href="http://www.zorba-xquery.com">Zorba Website</a></li>
    <li><a href="http://video.fosdem.org/2012/lightningtalks/XQuery_3.0_Rocks.webm">Video recording</a></li>
</ul>

