---
title: X Server 1.12 and beyond.
kind: event
speakers:
  -
    name: Keith Packard
    slug: keith_packard
    url: /schedule/speaker/keith_packard
slug: xserver
track: X.org+OpenICC
track_url: /schedule/track/xorg+openicc
track_rank: 503
room: K.3.401
room_url: /schedule/room/k3401
day: Saturday
day_url: /schedule/day/saturday
shortday: Sat
event_id: 933
event_type: devroom
start: 2012-02-04 17:00:00.000000000 +00:00
end: 2012-02-04 18:00:00.000000000 +00:00
links:
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/xorg+openicc">X.org+OpenICC</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/k3401">K.3.401</a></dd>
    <dt>Day:</dt>
    <dd><a href="/schedule/day/saturday">Saturday</a></dd>
    <dt>Start:</dt>
    <dd>17:00</dd>
    <dt>End:</dt>
    <dd>18:00</dd>
</dl>

<p>Version 1.12 of the X server is scheduled to be released in early March, shortly after FOSDEM occurs. The talk will cover what has changed since 1.11, including multi-touch support, and a raft of code cleanups to try and bring the server out of the last century.  Beyond 1.12, this presentation will outline further work planned for the Linux desktop. How X and Wayland will work together, the work remaining to support OpenGL 3.0 and beyond within the X environment and further plans to streamline and modernize the code base.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>


