---
title: From zero to VoIP provider in 15 minutes
kind: event
speakers:
  -
    name: Andreas Granig
    slug: andreas_granig
    url: /schedule/speaker/andreas_granig
slug: zero_to_voip_provider
day: Sun
start: 11:15
end: 11:15
event_id: 585
---

<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><a href="/schedule/track/telephony_and_communications">Telephony and Communications</a></dd>
    <dt>Room:</dt>
    <dd><a href="/schedule/room/h2213">H.2213</a></dd>
    <dt>Day:</dt>
    <dd>Sunday</dd>
    <dt>Start:</dt>
    <dd>11:15</dd>
    <dt>End:</dt>
    <dd>11:55</dd>
</dl>

<p>By using the sip:provider Community Edition, an open source VoIP soft-switch
leveraging powerful and widely used open source components, we will in 15
minutes create a VoIP deployment from scratch in order to provide future-proof
voice and video communication services, preceded by an introduction into the
system architecture.</p>
<p>There are various open source components (e.g. Kamailio, Asterisk, Freeswitch
and Sems) available to build a reasonably sized VoIP service from scratch.
There are also some administrative web interfaces (e.g.  Webmin, Siremis),
allowing you to control the most basic things in such a system. And in order to
escape the lab stage, you can even put an open source billing engine (e.g.
a2billing) into the mix. Since your customers would like to manage their
accounts and features, you will then develop a customer self-care interface as
well.  Time to market: at least two months. Feature set: basic. Service
quality: uncertain at best. Future-proof: not.</p>

<p>There is a solution to that though. During this talk, I will present how to
deploy a solid VoIP Provider platform from scratch in just a few minutes, using
the Sipwise sip:provider CE (SPCE) v2.4. The SPCE is a free and open source
soft-switch based on Kamailio, Sems and Asterisk, providing fully featured and
seamlessly integrated administrative and customer-self-care web interfaces,
SOAP/XMLRPC provisioning APIs, a flexible rating engine and a huge load of
subscriber features like conferencing, voicemail, call forwards, block lists
etc. On reasonable hardware, the SPCE can serve 50k subscribers and more.</p>

<p>As an introduction, I will outline the basic elements involved in a VoIP
deployment. Then I will dive into the architecture of the SPCE, showing the
building blocks and their interaction. Finally, I am going to do a live
presentation on how to configure an SPCE instance for a typical deployment.</p>

<h3>Speakers</h3>
<table>
    <tbody>
        <% @item[:speakers].each do |s| %>
        <tr>
            <% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><% if photo %><a href="<%= s[:url] %>"><img height="<%= photo[:height] %>" width="<%= photo[:width] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><a href="<%= s[:url] %>"><%= s[:name] %></a></td>
        </tr>
        <% end %>
    </tbody>
</table>

