# vim: set sw=2 ts=2 et ai:

#########################################################################
# FOSDEM site specific configuration:
#########################################################################

# Whether to compute SHA256 digests on asset files (CSS, JavaScript, images, ...)
# and use those as part of the resulting URLs and filenames, to enable very
# aggressive caching of larger files where the URLs don't matter
digest_assets: true

# Same, for the CSS file(s) -- useful on false for development/design
# changes and experimentations, should be true for production:
digest_css: true
# Same as above: false is convenient for hacking, true for production:
minify_css: true

# Same thing as above but for sponsor logos:
digest_sponsor_logos: true

# Should we also include the digest of the schedule grid PDFs in their
# filenames? Makes it good for caching, but also means that there is no
# direct URL to them.. so probably not, but it is a flag anyway:
digest_pdfs: false

# Whether to render the time table grids as PDFs (only to be turned
# on for testing or when the schedule is sufficiently complete to
# make any sense):
pdf_grid: true

#########################################################################
# everything below is standard nanoc configuration stuff

# A list of file extensions that nanoc will consider to be textual rather than
# binary. If an item with an extension not in this list is found,  the file
# will be considered as binary.
text_extensions: [ 'css', 'erb', 'haml', 'htm', 'html', 'js', 'less', 'markdown', 'md', 'php', 'rb', 'sass', 'scss', 'txt', 'xhtml', 'xml', 'coffee', 'ics' ]

# The path to the directory where all generated files will be written to. This
# can be an absolute path starting with a slash, but it can also be path
# relative to the site directory.
output_dir: output

# Leave this commented out to use the year of the first conference day from
# the Pentabarf database as the prefix (e.g. 2013-02-01 => /2013), or set it
# here to enforce a specific value -- if so, make sure it starts with a /
# and does not end with a /
#prefix: /2013

# Colors to use for events and tracks in various grids.
# These are a combination of two sets of colors from colorlovers.com,
# namely the following:
# https://www.colourlovers.com/palette/2510621/NARANJA
# https://www.colourlovers.com/palette/92095/Giant_Goldfish
colors: '69D2E7 A7DBD8 E0E4CC F38630 FA6900 EA813D E7A350 FCC777 C3DBB9 A79474'

# A list of index filenames, i.e. names of files that will be served by a web
# server when a directory is requested. Usually, index files are named
# “index.html”, but depending on the web server, this may be something else,
# such as “default.htm”. This list is used by nanoc to generate pretty URLs.
index_filenames: [ 'index.html' ]

# Whether or not to generate a diff of the compiled content when compiling a
# site. The diff will contain the differences between the compiled content
# before and after the last site compilation.
enable_output_diff: false

base_url: 'https://fosdem.org'

# configure auto_prune here because of a bug in the configuration lookup
# in nanoc <= 3.5 (reported upstream)
auto_prune: true

prune:
  # Whether to automatically remove files not managed by nanoc from the output
  # directory. For safety reasons, this is turned off by default.
  auto_prune: true

  # Which files and directories you want to exclude from pruning. If you version
  # your output directory, you should probably exclude VCS directories such as
  # .git, .svn etc.
  exclude: [ '.git', '.hg', '.svn', 'CVS' ]

# The data sources where nanoc loads its data from. This is an array of
# hashes; each array element represents a single data source. By default,
# there is only a single data source that reads data from the “content/” and
# “layout/” directories in the site directory.
data_sources:
  -
    # The type is the identifier of the data source. By default, this will be
    # `filesystem_unified`.
    type: filesystem_unified

    # The path where items should be mounted (comparable to mount points in
    # Unix-like systems). This is “/” by default, meaning that items will have
    # “/” prefixed to their identifiers. If the items root were “/en/”
    # instead, an item at content/about.html would have an identifier of
    # “/en/about/” instead of just “/about/”.
    items_root: /

    # The path where layouts should be mounted. The layouts root behaves the
    # same as the items root, but applies to layouts rather than items.
    layouts_root: /

    # Make sure it always uses UTF-8, whatever the environment, whatever
    # the platform (actually required to function properly on nanoc.f.o)
    encoding: UTF-8

    # Whether to allow periods in identifiers. When turned off, everything
    # past the first period is considered to be the extension, and when
    # turned on, only the characters past the last period are considered to
    # be the extension. For example,  a file named “content/about.html.erb”
    # will have the identifier “/about/” when turned off, but when turned on
    # it will become “/about.html/” instead.
    allow_periods_in_identifiers: false

  -
    type: schedule

# Configuration for the “watch” command, which watches a site for changes and
# recompiles if necessary.
watcher:
  # A list of directories to watch for changes. When editing this, make sure
  # that the “output/” and “tmp/” directories are _not_ included in this list,
  # because recompiling the site will cause these directories to change, which
  # will cause the site to be recompiled, which will cause these directories
  # to change, which will cause the site to be recompiled again, and so on.
  dirs_to_watch: [ 'content', 'layouts', 'lib' ]

  # A list of single files to watch for changes. As mentioned above, don’t put
  # any files from the “output/” or “tmp/” directories in here.
  files_to_watch: [ 'config.yaml', 'Rules' ]

  # When to send notifications (using Growl or notify-send).
  notify_on_compilation_success: true
  notify_on_compilation_failure: true

deploy:
  archive:
    kind: rsync
    dst:  "www-archive@www-public0.fosdem.org:/var/www/archive.fosdem.org/public"
    options: [ '-glPrtvzPO', '--exclude=searcher', '--exclude=404.html', '--exclude=favicon.ico' ]
  public:
    kind: rsync
    dst:  "www-live@www-public0.fosdem.org:/var/www/fosdem.org/public"
    options: [ '-avzP', '--delete-after' ]
  default:
    kind: rsync
    dst:  "www-staging@www-public0.fosdem.org:/var/www/staging.fosdem.org/public"
    options: [ '-avzP', '--delete-after' ]

search:
  user: "solr"
  host: "search.int.fosdem.org"
  command: "./service/searcher/solrize"

pentabarf:
  conference_id: FOSDEM24
  username: nanoc
  database: pentabarf
  host:     pgsql.fosdem.org
  port:     5432
  schema:   public
  meta_export_file: export/pentabarf.yaml
  export_roots:
    photos:      export/speaker/photos
    thumbnails:  export/speaker/thumbnails
    attachments: export/events/attachments
    eventlogos:  export/events/logo
  thumbnail:
    width: 32
    height: 32
  photo:
    width: 220
    height: 180
  eventlogo:
    width: 200
    height: 200

pretalx:
  conference_slug: fosdem-2024
  host: https://pretalx.fosdem.org
  meta_export_file: export/pentabarf.yaml

keysigning:
  submission_deadline: 2024-01-22
  homework_due: 2024-04-30
  # Change these when the submission window opens/closes.
  submission_notyet: true
  submission_closed: false
  # Change this when the list of keys is published.
  list_published: false

deadlines:
  lightningtalks:
    - 2012-12-01
    - 2012-12-21
  main_speakers:
    - 2012-12-01
  stands:
    - 2012-11-28
    - 2012-12-15

news:
  items_on_index_page: 3
  news_page_items: 6

virtual: false
go_live: true
matrix_works: true

# Use this to build the site as it will appear at a specific time
# Example: "2021-02-06 14:15:00.000000000 +0100"
override_time: false
schedule_time: ""
