---
title: Conference Floor
---
<% keynotes = tracks.select{|t| ['maintrack', 'lightningtalks'].include? t[:type] } %>
<% devrooms = tracks.select{|t| ['devroom'].include? t[:type] } %>
<% stands = tracks.select{|t| ['standtrack'].include? t[:type] } %>
<% track_nice_types = {'devroom' => 'Devroom', 'maintrack' => 'Main track', 'lightningtalks' => 'Lightning talk'} %>
<% go_live = @site.config.fetch(:go_live) %>
<% matrix_works = @site.config.fetch(:matrix_works) %>
<div class="s-block">

    <div class="text-block" style="margin-bottom: 5em;">
      <h2>Welcome to the conference floor for FOSDEM 2022!</h2>
        <p>Welcome to our fully virtual version of the ULB, thanks to the amazing people at Matrix.org! FOSDEM is
            spread out over a lot of rooms at <i>chat.fosdem.org</i>.</p>
      <p>Click on any of the tracks or stands to visit or view them; no registration or configuration required.</p>
      <p><a href="page:schedule">Visit the schedule</a> to find out what's on in each room, then click on your favourite room, sit back and relax.</p>
      <p>Confused? Unsure how to proceed? <a href="page:practical/online">Visit the practical information page</a>, <a href="page:faq">look in the FAQ</a>
    or <a href="https://matrix.to/#/#INFODESK:fosdem.org?web-instance[element.io]=chat.fosdem.org">talk to a human at the Infodesk</a>!</p>
      <p class="btn-news"><a href="#keynotes">To the main tracks.</a></p>
      <p class="btn-news"><a href="#devrooms">To the devrooms.</a></p>
      <p class="btn-news"><a href="#stands">To the stands.</a></p>
      <p class="btn-news"><a href="page:schedule">To the schedule.</a></p>
      <p class="btn-news"><a href="https://chat.fosdem.org/#/room/#fosdem2022:fosdem.org">To the FOSDEM 2022 Matrix space.</a></p>
    </div>
    <div class="container">
    </div>
</div>
