---
title: Friday Beer Event
aliases: /beerevent, /about/beerevent
---
<img src="asset:beer" alt="" style="float:left; margin-right: 1em;"/>
<p>
While coming over to Brussels to attend FOSDEM, don’t miss this great
opportunity to taste some of the finest
<a href="http://en.wikipedia.org/wiki/Belgian_beer">beer in Belgium</a>
(and hence in the world).
</p>

<h2>When?</h2>

<p>
  <span title="<%= (days.first[:conference_day] - 1).strftime("%Y-%m-%d") %>"
    class="dtstart">
    <%= (days.first[:conference_day] - 1).strftime("%A, %e %B %Y") %>
  </span>
  from 16h00 onwards, but feel free to join the party at any time of the
  evening.
  We will be there until the bar closes (well after midnight).
</p>

<h2>Beer, Beer and some more Beer</h2>
<p>
  The Beer Event will again take place at the
  <a href="http://www.deliriumcafe.be/">Delirium Caf&eacute;</a>,
  in a beautiful alley near the
  <a href="http://en.wikipedia.org/wiki/Grand_Place">Grand Place</a>
  in Brussels.
</p>

<p>
  For efficiency reasons, the available beers are limited.
</p>
<p>
</p>

<h2>Virtual Beer Distribution Algorithm v3.3 (stable)</h2>

<p>
  After about ten years of incremental improvements to our notorious Beer
  Distribution Algorithm, we appear to have reached a stable version with the
  algorithm used: v3.3.
  We have no changes to the algorithm to announce this year.
</p>

<h2>Security measures / access control</h2>
<p>
  We have reserved the ground floor of the bar (<em>Delirium Caf&eacute;</em>)
  as a private party for FOSDEM, and this between 18h00 and 1h00. You are welcome to
  join before 18h00, as well as stay after 1h00.  FOSDEM volunteers will help us keep 
  this area FOSDEM-only. If you meet a volunteer or a guard at the entrance to the bar or
  at the entrace to the alley, make it clear to him or her that you are there for the
  FOSDEM party. Wearing appropriately geeky attire tends to do the trick, as does 
  mentioning the name FOSDEM and answering some tricky questions to prove you've
  been initiated into geekdom.
</p>

<h2>Beer Tokens</h2>
<p>
  Tokens pricing starts at &euro;5 for one token and decreases to &euro;3.5 each
  if you buy ten or more at a time.
  One token, one glass (25cl) of draught beer (<em>draft</em> for our intercontinental
  visitors).
  For the sake of simplicity, <em>soda</em> (cola, lemonade, water, etc) is beer
  too&mdash;at least as far as tokens are concerned.
  Tokens may be bought individually or in bigger quantities, but FOSDEM staff 
  prefers to deal with bigger quantities and paper money rather than metal money. 
  It’s lighter, easier to sort and recycles perfectly. No electronic payments
  are supported, please ensure you have cash money (in euros) if you plan to
  quench that thirst!
  Tokens will be sold as of 18h00 (at the same time when our reserved space becomes
  exclusive for FOSDEM visitors).
  FOSDEM tokens are also accepted at the <em>Floris Bar</em>&mdash;consisting or
  the <em>Tequileria</em>, the <em>Garden</em> and the <em>Monasterium</em>&mdash;
  (across the alley from the <em>Delirium Caf&eacute;</em>)
  as well as at the bar in the basement (<em>Taphouse</em>).
</p>

<p>
  When you arrive at the bar, find the token selling booth (look for arrows, 
  as well as a bunch of people in flashy yellow and orange t-shirts).
  In exchange for money, you will receive “beer tokens”.
</p>

<h2>Beers</h2>
<p>
  For this edition, these beers have been selected and await your judgement:
</p>
<ul>
 <li>Floris Cactus (Fruit Beer, 4.2%)</li>
 <li>Campus (Lager, 5%)</li>
 <li>Floris White (White Beer, 5%)</li>
 <li>Oud Beersel Lambic (Lambic/Sour, 5.7%)</li>
 <li>Precieux IPA Jack (India Pale Ale, 5.9%)</li>
 <li>Brugse Zot Blonde (Blonde Ale, 6%)</li>
 <li>Waterloo Recolte (White Beer, 6%)</li>
 <li>Averbode (Abbey Beer, Blonde Ale, 7.5%)</li>
 <li>Barbar (Honey Ale, 8%)</li>
 <li>Chimay Triple (Abbey Beer, 8%)</li>
 <li>Delirium Red (Cherry Beer, 8%)</li>
 <li>Delirium Tremens (Ale, 8.5%)</li>
 <li>Delirium Nocturnum (Dark Ale, 8.5%)</li>
 <li>Guillotine (Belgian Ale, 8.5%)</li>
 <li>Bersalis Triple (Abbey Triple, 9%)</li>
 <li>Straffe Hendrik IV Ale (Quadrupel Ale, 11%)</li>
</ul>

<h2>Quality of Service</h2>
<p>
  To keep latencies low and throughput high, we need everyone’s help.
  The easiest way to keep things going smoothly is for everyone to implement a
  transmit and receive window, as well as implement multiplexing.
  Send out one person at a time to acquire resources for your group. There's no
  reason why each member of your group should go and get tokens. It's a double
  win: less people in the queue, and more tokens for the same amount (1 token 
  costs more per token than 10).
  Do not order individual beers&mdash;order beers for people around you too!
  Trays will be made available to efficiently move more than one beer from the
  bar to where they are needed.
  Similarly, when ordering beer, please take a moment to collect any empty
  glasses around you on a tray and send them back to the bar with whoever is
  ordering beer.
</p>

<p>
  The Delirium Caf&eacute; staff is working hard to make our evening as pleasant
  as possible, but we’re legion.
</p>

<h2>Laws of Physics</h2>
<p>
  Sadly, even the FOSDEM Beer Event is subject to the fundamental laws of
  physics.
  Our request for an exception for the principle that no two solid objects
  can occupy the same space at the same time resulted in an <code>RSET</code>.
  If you find the bar getting too crowded, it might help to go for dinner and
  come back later.
  Some of the bars will be open until 06:00 (that’s 6am to intercontinental geeks).
  While FOSDEM staff will stop distributing tokens a couple of hours before closure
  (we have a conference to set up early in the morning), the tokens will be valid
  all night and after tokens run out, beer can be exchanged directly for cash
  too.
  From past experience the bar service has a very high packet loss&mdash;as well as
  a high number of collisions and retries&mdash;between 22:30 and 01:00.
</p>

<h2>A note of caution</h2>
<p>
  Unlike some other beers, Belgian beer is not just coloured water.
  Some beers contain significant quantities of alcohol and <em>will</em> give
  you a pounding hangover (as a side note, consuming lots of (pure) water helps
  preventing that, and Club Mate can get you back into shape the next day,
  the bar at FOSDEM has this nectar available on Saturday and Sunday).
  FOSDEM staff is not responsible for any hallucinations you may experience as a
  result of this event. <code>:-)</code>
</p>

<h2>Be there!</h2>
<p>
  A lot of work has gone into making this beer event the best ever.
  We’ve taken into account the suggestions from previous years and are confident
  that this edition will be a blast.
  Bring your friends and join us for a great evening out as well as a great
  opportunity to socialise with fellow contributors from all around the world.
</p>

<h2>Location</h2>
<div align="center">
  <a href="http://osm.org/go/0EoTgZPpj-">
    <img src="asset:beermap" alt="map to the Beer Event venue"/>
  </a>
</div>

<h2>Footnote</h2>
<p>
  FOSDEM is always looking for volunteers, even for the Beer Event. If you want to apply,
  contact Jan Gyselinck (take the first letter of the given name, the full surname (at) fosdem.org and you'll have the email address).</a>
</p>

