---
title: Certification Exams
---
<%
# vim: et ft=eruby sw=2 ts=2
certs = events.select{|e| e[:type] == 'certification'}.sort_by{|e| e[:start_datetime]}
%>

<p>
  A number of certification exams are offered at <%= conference()[:title] %>.
</p>

<p>
  The <a href="http://lpi.org/">Linux Professional Institute</a> and the <a
  href="http://bsdca.org/">BSD Certification Group</a>
  will organise exam sessions during <%= conference()[:title] %>.  
  Interested candidates will be able to
  register for exams with the respective certification groups.
</p>

<% unless certs.empty? %>
  <p>
    The <a href="<%= pathof '/schedule/' %>#certification">schedule for the
    exam sessions</a> is now available.</p>
<% else %>
  <p><span class="label label-info">Certification exams have not been scheduled yet.</span></p>
<% end %>

<img src="asset:lpi-big" alt="" style="float:right; margin-left: 1em; margin-right: 1em;"/>

<h3>
  LPI offers discounted certification exams at <%= conference()[:title] %>.
</h3>

<p>
  As in previous years, the Linux Professional Institute, will again offer a
  discount to examination candidates at <%= conference()[:title] %>.  The level
  1, level 2 and level 3 exams are offered at a <strong>discount of nearly
  50%</strong>.
</p>
</div>

<p>
  The following examinations are offered.  Exams will be in English (all LPICs)
  or French (LPIC 101 and 102 only).
</p>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Certification</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>LPI Essentials</td>
      <td>&euro; 50.00</td>
    </tr>
    <tr>
      <td>LPI 10x, 20x</td>
      <td>&euro; 90.00</td>
    </tr>
    <tr>
      <td>LPI 301</td>
      <td>&euro; 150.00</td>
    </tr>
    <tr>
      <td>LPI 302, 303, 3041</td>
      <td>&euro; 90.00</td>
    </tr>
  </tbody>
</table>

<p>
  <span class="label label-info">
    The registration procedure for exam sessions is yet to be announced.
  </span>
</p>
