---
title: Home
navcat: true
nohead: true
breadcrumbs: false
visual: true
---
<%
# vim: set ts=2 sw=2 et ai ft=eruby:
maxnews = @config.fetch(:news).fetch(:items_on_index_page).to_i
%>
  <div class="s-block">
    <div class="text-block">
      <h2>FOSDEM is a free event for software developers to meet, share ideas and collaborate.</h2>
      <p>Every year, thousands of developers of free and open source software from all over the world gather at the event in Brussels.</p>
      <p class="btn-news"><a href="page:practical">No registration necessary.</a></p>
    </div>
    <div class="logo-block">
      <h3><a href="page:/about/sponsors/">SPONSORS</a></h3>
      <%
        cornerstone, other = sponsors.select{|s| s.include_in_toplevel?}.partition{|s| s.cornerstone?}
        cornerstone.each do |c|
      %>
      <a class="logo-sponsor-cornerstone logo-<%= c.id %>" href="<%= c.path %>"><%= c.name %></a>
      <%
        end
      %>
      <% unless other.empty? %>
        <ul class="logo-list">
          <% other.each do |s| %>
            <li class="logo-sponsor-other logo-<%= s.id %>"><a href="<%= s.path %>"><%= s.name %></a></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="news-block">
    <h2>FOSDEM 2016: 30 &amp; 31 January 2016</h2>
    <p>
      FOSDEM 2016 will take place at ULB Campus Solbosch on Saturday 30 and
      Sunday 31 January 2016.<br/>
      Further details and calls for participation will be announced in the
      coming weeks and months.
    </p>
    <p>
      Have a nice summer!
    </p>
  </div>
  </div>

  <div class="location-block">
    <h2>LOCATION</h2>
    <p>FOSDEM will take place at the ULB Solbosch Campus, <strong>Brussels, Belgium</strong>, Europe, Earth.</p>
    <div class="location-info">
      <div class="map">
        <img style="float: right; text-align: right" src="asset:campusmap" alt="ULB Solbosch Campus map: Location of FOSDEM" title="ULB Solbosch Campus map: Location of FOSDEM"}/>
      </div>
      <div class="location-text">
        <a class="logo-ulb-big" href="#">Université libre de bruxelles</a>
        <ul class="location-list">
	  <li>ULB</li>
          <li>Campus du Solbosch</li>
          <li>Av. F. D. Roosevelt 50</li>
          <li>1050 Bruxelles</li>
          <li>Belgium</li>
        </ul>
        <div class="btn-location">
          <a class="btn-purple" href="<%= pathof '/practical/transportation/' %>">venue &amp; travel</a>
        </div>
      </div>
    </div>
  </div>

