---
title: FOSDEM 2021 Live
---
<div class="s-block">

    <div class="text-block">
      <h2>Welcome to FOSDEM 2021 &ndash; virtual edition!</h2>
      <p>Rooms you like</p>
      <p class="btn-news"><a href="page:practical">No registration necessary.</a></p>
    </div>

    <div class="news-block">
        <h2>FOSDEM 2021</h2>
        <ul class="room-grid">
        <%
        tracks.each do | track |
            %>
            <li class="room-grid-item">
            <% if track[:rooms][0] %>
            <%= track[:name] %>: https://chat.fosdem.org/#/room/#<%= track[:rooms][0][1..-1] %>:fosdem.org
            <% else %>
            <%= track[:name] %>: https://chat.fosdem.org/#/room/#<%= track[:rooms][0] %>:fosdem.org
            <% end %>
            </li>
        <% end %>
    </ul>
    </div>
</div>