---
title: Schedule
sponsors_under_navigation: true
navcat: true
---
<%
# vim: set ts=2 sw=2 et ai ft=eruby:
# encoding: utf-8
require 'time'

keynotes = events.select{|e| e[:type] == 'keynote'}.sort_by{|e| e[:start_datetime]}
maintracks = tracks.select{|t| t[:type] == 'maintrack'}.sort_by{|t| [ t[:rank], t[:conference_track_id] ] }
devrooms = tracks.select{|t| t[:type] == 'devroom'}.sort_by{|t| [ t[:rank], t[:conference_track_id] ] }
standtracks = tracks.select{|t| t[:type] == 'standtrack'}.sort_by{|t| [ t[:rank], t[:conference_track_id] ] }
lt_track = tracks.select{|t| t[:type] == 'lightningtalk'}.first
ltalks = events.select{|e| e[:type] == 'lightningtalk'}.sort_by{|e| e[:start_datetime]}
certs = events.select{|e| e[:type] == 'certification'}.sort_by{|e| e[:start_datetime]}
boftracks = tracks.select{|t| t[:type] == 'bof'}.sort_by{|t| [ t[:rank], t[:conference_track_id] ] }
columns = 3
%>

<div class="info-block">
  <div class="more-info">
    <h2>Quick links:</h2>
<ul>
  <li>Timetables: 
    <%= l days %>
  </li>
  <li>Overview of <a href="<%= pathof '/schedule/roomtracks/' %>">rooms per days</a></li>
  <li>Mobile apps: <a href="<%= pathof '/schedule/mobile/' %>">many platforms</a></li>
  <li>What's on now: <a href="page:/schedule/streaming">Live streaming</a></li>
  <li>Programme <a href="page:/schedule/amendments">Schedule amendments</a></li>
<%
  pdfs = items.select{|x| x.identifier =~ %r{^/schedule/pdf/[^/]+/$}}.sort_by{|x| x[:page_size]}.reverse
  unless pdfs.empty?
%>
  <li>Printable PDF:
  <% pdfs.each do |pdf| %>
    <%= l(pdf, pdf[:page_size].to_s.upcase) %>
  <% end %>
<% end %>
</ul>
    </div>
    <div>


<p>
  Every year, FOSDEM hosts a wide variety of activities.
  This page gives an overview with links to further information about
  scheduled events. <b>All times CET (UTC+1).</b>
</p>

<p>
  FOSDEM is a rather busy conference.
<% if speakers.size > 100 and events.size > 100 %>
  This edition features <%= speakers.size %> speakers, <%= events.size + 1 %>
  events, and <%= tracks.size %> tracks.
<% else %>
  Recent editions featured 400+ speakers, 500+ events and a wealth of tracks.
<% end %>
  We do our best to provide you with as much information and navigation options
  about the schedule as we can.
</p>

<p>
  Activities take place in <a href="<%= pathof '/schedule/rooms/' %>">
<% if rooms.size > 10 %>
  <%= rooms.size %>
<% else %>
  several
<% end %>
  rooms</a>.
  An <a href="<%= pathof '/schedule/roomtracks/' %>">overview of the room
  occupation by track</a> is available, too.
</p>

<p>
  There are essentially the following categories of sessions and activities:
<% unless keynotes.empty? and @site.config.fetch(:virtual) %>
  <a href="#keynotes">keynotes</a>,
<% end %>
  <a href="#maintracks">main tracks</a>,
  <a href="#devrooms">developer rooms</a>,
  <a href="#lightningtalks">lightning talks</a>,
  <a href="#stands">stands</a> and
  <a href="#bofs">BOFs</a>.
  <!--a href="#certification">certification exams</a-->
</p>

<p>
  For a complete (but crowded) overview, there is also a
  <a href="page:/schedule/events">page that lists all events</a>.<br/>

  A <a href="page:/schedule/speakers">list of all speakers</a> is available, too.
</p>

  <p>During the event, the <a href="page:/schedule/streaming">live streaming page</a> is also 
  updated every few minutes to show you what is currently scheduled in each room.</p>
    </div>
</div>

<% unless keynotes.empty? and @site.config.fetch(:virtual) %>
<a name="keynotes"></a>
<h3>Keynotes</h3>
<p>
  Like almost every other conference, FOSDEM invites speakers to gently start
  the day with talks concerning slightly less technical, but nevertheless
  interesting topics from the Open Source realm.
  The closing keynote at the end of the conference helps everyone digest the
  vast amount of insightful information collected over the weekend.
</p>

<% unless keynotes.empty? %>
<p>
  For this edition, the keynotes are as follows:
</p>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th>Speaker(s)</th>
      <th>Day</th>
      <th>When</th>
      <th>Room</th>
    </tr>
  </thead>
  <tbody>
    <% keynotes.each do |e| %>
    <tr>
      <td><%= l e %></td>
      <td>
      <%=
        e[:speakers].map{|s| $item_by_id.fetch("/schedule/speaker/#{s}/")}.map do |s|
          photo = if s[:thumbnail]
            $item_by_id.fetch(s[:thumbnail].fetch(:identifier))
          else
            nil
          end
          text = ""
          text << "<img class=\"thumb\" src=\"#{photo.path}\"
	    width=\"#{photo[:width]}\" height=\"#{photo[:height]}\"
	    alt=\"Photo of #{s[:name]}\"/>" if photo
          text << l(s)
          text
          end.join(", ")
      %>
      </td>
      <td><%= l(day(e[:day])) %></td>
      <td><%= e[:start_time] %> - <%= e[:end_time] %></td>
      <td><%= l(room(e[:room])) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% else # unless keynotes.empty? %>
<p>
  <span class="label label-info">The keynotes have not been confirmed yet.</span>
</p>
<% end %>
<% end %>

<a name="maintracks"></a>
<h3>Main tracks</h3>
<p>
  The <q>main tracks</q> consist of series of talks that are organised by topic,
  where the FOSDEM program committee selects suggestions and actively invites
  speakers on those topics.
</p>

<% unless maintracks.empty? %>
<p>
  For this edition the main tracks are:
</p>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Track</th>
      <% days.each do |d| %>
        <th><%= d[:title] %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% maintracks.each do |t| %>
    <tr>
      <td><%= l t %></td>
      <%
        days.each do |d|
          rooms = t[:events_per_room_per_day].fetch(d[:slug].to_sym, {}).keys
      %>
      <% unless rooms.empty? %>
      <td><%= rooms.map(&$to_room).map{|r| l(r) + (r[:occupation_by_day] ? ": #{r[:occupation_by_day][d[:slug].to_sym][:start_time]}-#{r[:occupation_by_day][d[:slug].to_sym][:end_time]}" : "")}.join(', ') %></td>
      <% else %>
      <td>-</td>
      <% end %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p><span class="label label-info">Main tracks have not been confirmed yet.</span></p>
<% end %>

<h3><a name="devrooms"></a>Developer rooms</h3>
<p>
  The vast majority of events (talks, hacking sessions, open discussions) are
  held in so-called <q>developer rooms</q> (<q>devrooms</q>), which are
  organized and managed by open source projects themselves, or even
  associations between several such projects on a common topic in order to
  foster collaboration.
</p>
<%
  devrooms_announcement = @items.select{|i| i.identifier =~ %r{^/news/.*accepted-devrooms.*/$}}.first
  if not devrooms.empty?
%>
<p>
  Here is the list of the devrooms that are present at this edition of FOSDEM,
  in alphabetical order:
</p>
<div class="container-fluid">
    <div class="row-fluid">
        <% columns = [columns, devrooms.size].min %>
        <% devrooms.sort_by{|x| x[:rank]}.each_slice((devrooms.size.to_f / columns).ceil) do |list| %>
        <div class="span<%= 12 / columns %>">
            <ul>
                <% list.each do |t| %>
                <li><%= l t, :name %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
    </div>
</div>
<% elsif devrooms_announcement %>
  <p>While no schedule is available yet, the list of <a href="<%= devrooms_announcement.path %>">confirmed devrooms</a>
  is available <a href="<%= devrooms_announcement.path %>">here</a>.</p>
<% else %>
  <p><span class="label label-info">Devrooms have not been confirmed yet.</span></p>
<% end %>

<a name="lightningtalks"></a>
<h3>Lightning talks</h3>
<p>
  The lightning talk is a very popular format, used at many conferences, where
  speakers have a mere 15 minutes at their disposal to showcase an open
  source project, an idea, or a concept thereof.
</p>

<p>
  While that brief lapse of time may seem awkward, it almost always leads the
  presenters to concentrate on the absolute essence and what is really
  important, which is why it is often a much appreciated approach, as is the
  wide variety of the topics.
</p>

<% unless ltalks.empty? %>
<p>
  There are currently <a href="<%= lt_track.path %>"><%= ltalks.size %>
  lightning talks in the schedule</a>.
</p>
<% else %>
<p>
  <span class="label label-info">Lightning talks have not been scheduled
  yet.</span>
</p>
<% end %>

<a name="stands"></a>
<h3>Stands<h3>
<p>
  Stands offer a unique chance to get in touch with developers or project
  members, and discover at a glance what they do.
</p>

<% unless standtracks.empty? %>
<p>
  Here is the list of the stands that are present at this edition of FOSDEM,
  in alphabetical order:
</p>
<div class="container-fluid">
    <div class="row-fluid">
        <% standtracks.sort_by{|x| x[:title].downcase}.each_slice((standtracks.size / columns).ceil) do |list| %>
        <div class="span<%= 9 / columns %>">
            <ul>
                <% list.each do |t| %>
                <li><%= l t, :name %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
    </div>
</div>
<% else %>
<p>
  A list of projects that will be present with a stand can be found on the
  <a href="page:/stands/">FOSDEM stands page</a>.
</p>
<% end %>

<a name="bofs"></a>
<h3>BOFs<h3>
<p>
  BOF stands for Birds Of a Feather who, as the saying goes, flock together.
  FOSDEM has three meeting rooms that may be booked in 30 or 60 minute blocks
  for discussions.  All the meetings are public so anyone who is interested can
  attend if there is enough space. 
</p>

<% unless boftracks.empty? %>
<div class="container-fluid">
    <div class="row-fluid">
        <% boftracks.sort_by{|x| x[:title].downcase}.each_slice((boftracks.size / columns).ceil) do |list| %>
        <div class="span<%= 9 / columns %>">
            <ul>
                <% list.each do |t| %>
                <li><%= l t, :name %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
    </div>
</div>
<% end %>

<h3><a id="junior"/>FOSDEM Junior<h3>
<p>
  FOSDEM Junior is a collaboration between FOSDEM, Code Club, CoderDojo, developers, and volunteers to organize workshops and activities for children from age 7 to 17 during the FOSDEM weekend. These activities are for children to learn and get inspired about technology. Last year's activities included microcontrollers, embroidery, plotting, game development, mobile application development, Raspberry Pi's, and Java development.
</p>

<p>
  Further details are available on the <a href="page:/schedule/track/junior">FOSDEM Junior page</a>.
</p>

<!--a name="certification"></a>
<h3> Certification Exams</h3>
<p>
  Several certification organizations provide FOSDEM visitors with the
  opportunity of taking certification exams during the conference.
</p>
<p>
  Further details are available on the <a href="page:/certification/">certification page</a>.
</p>
<% unless certs.empty? %>
  <%
    h = {}
    certs.each do |c|
      family = c[:title].gsub(/\s+\d+$/, '').gsub(/\s+session$/i, '').gsub(/\s+exam$/i, '')
      h[family] = [] unless h.has_key? family
      h[family] << c
    end
  %>
  <p>The following type<%= h.keys.size > 1 ? 's' : '' %> of exams are available at
  <%= conference()[:title] %><% if h.keys.size > 1 %>, in alphabetical order<% end %>:</p>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>Session</th>
        <th>Room</th>
        <th>Day</th>
        <th>When</th>
      </tr>
    </thead>
    <tbody>
      <% h.keys.sort.each do |family| %>
        <tr>
          <th colspan="4"><h4><%= family %></h4></th>
        </tr>
        <% h[family].sort_by{|s| [s[:conference_day_id], s[:start_time]]}.each do |e| %>
          <tr>
            <td><%= l(e) %></td>
            <td><%= l(room(e[:room])) %></td>
            <td><%= e[:day_name] %></td>
            <td><%= e[:start_time] %> - <%= e[:end_time] %></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
<% else %>
  <p><span class="label label-info">Certification exams have not been scheduled yet.</span></p>
<% end %>
-->

<a name="fringe"></a>
<h3> The FOSDEM Fringe</h3>
<p>
  The FOSDEM Fringe consists of independent events involving free and open source software taking place in the days around the FOSDEM weekend.  Why not extend your trip?
</p>
<p>
  Further details are available on the <a href="page:/fringe/">FOSDEM Fringe page</a>.
</p>

<h3>Mobile Apps</h3>
<p>People have submitted a variety of <a href="page:/schedule/mobile/">apps for mobile devices</a> that display the FOSDEM schedule.
</p>

<h3>Raw schedule data</h3>
<p>
The schedule data is available in:
<ul>
<li>Pentabarf <a href="<%= pathof '/schedule/pentabarf/' %>">XML</a>
<li><a href="<%= pathof '/schedule/ical/' %>">iCal</a>
<li><a href="<%= pathof '/schedule/xcal/' %>">xCal</a>
</ul>
</p>
