---
layout: false
relativize: false
---
<%
  cornerstone_sponsors, other_sponsors = sponsors.select{|s| s.include_in_toplevel?}.partition{|s| s.cornerstone?}
%>
<% unless cornerstone_sponsors.empty? %>
<li class="nav-header">Cornerstone Sponsors</li>
<% cornerstone_sponsors.each do |s| %>
    <a href="<%= s.path %>">
        <%
        if s.logo?
          h, w = image_size s.logo
        %>
        <img src="<%= s.logo %>" class="sponsor-box-logo" height="<%= h %>" width="<%= w %>" alt="<%= s.name %>" title="<%= s.name %>"/>
        <% else %>
            <%= s.name %>
        <% end %>
    </a>
<% end %>
<% end %>
<% unless other_sponsors.empty? %>
<li class="nav-header">Other Sponsors</li>
<% other_sponsors.each do |s| %>
    <a href="<%= s.path %>">
        <%
        if s.thumb?
          h, w = image_size s.thumb
        %>
        <img src="<%= s.thumb %>" class="sponsor-box-logo" width="<%= w %>" height="<%= h %>" alt="<%= s.name %>" title="<%= s.name %>"/>
        <% else %>
            <%= s.name %>
        <% end %>
    </a>
<% end %>
<% end %>
