---
layout: false
relativize: false
---
<li class="nav-header">Cornerstone Sponsors</li>
<% sponsors.select{|s| s.include_in_toplevel? and s.cornerstone?}.each do |s| %>
    <a href="<%= s.path %>">
        <% if s.logo? %>
            <img src="<%= s.logo %>" alt="<%= s.name %>" title="<%= s.name %>"/>
        <% else %>
            <%= s.name %>
        <% end %>
    </a>
<% end %>
<li class="nav-header">Other Sponsors</li>
<% sponsors.select{|s| s.include_in_toplevel? and (not s.cornerstone?)}.each do |s| %>
    <a href="<%= s.path %>">
        <% if s.thumb? %>
            <img src="<%= s.thumb %>" alt="<%= s.name %>" title="<%= s.name %>"/>
        <% else %>
            <%= s.name %>
        <% end %>
    </a>
<% end %>
