---
title: Stands
navtitle: Stands
---
<%
# vim: set ts=2 sw=2 et ai ft=eruby:
%>
<div class="container">
<% go_live = @site.config.fetch(:go_live) %>
<% stand_tracks = tracks.select{|t| ['standtrack'].include? t[:type] } %>
<% stand_tracks.each_with_index do | stand, i | %>
    <% if i == 0 || i % 3 == 0 %>
        <div class="row">
    <% end %>
            <div class="span4">
                <div>
                    <h4><%= stand[:name] %> <small>Stand</small></h4>
                    <% if stand[:rooms] && stand[:rooms][0] %>
                        <p>Visit the stand at <a href="https://stands.fosdem.org/stands/<%= link_schedule_to_stand(stand[:rooms][0]) %>">stands.fosdem.org</a>!</p>
                    <% end %>
                    <% if go_live && stand[:rooms] && stand[:rooms][0] %>
                    <p><a href="<%= stream_link(stand, is_chat=true) %>">Take part in the conversation.</a></p>
                    <% else %>
                    <p>We haven't started yet. <a href="page:schedule/track/<%= stand[:slug] %>">Visit the schedule</a> to see what we have planned.</p>
                    <% end %>
                </div>
            </div>
    <% if i % 3 == 2 || i == stand_tracks.length() - 1 %>
        </div>
    <% end %>
    <% end %>
</div>
