---
title: Stands
navtitle: Stands
---
<%
# vim: set ts=2 sw=2 et ai ft=eruby:
%>
<p>
Stands can be used to share information, demo software, sell merchandising,
give away goodies and so forth, and to present themselves to the visitors
in a more personal fashion.
</p>
<p>
The following stands will be present at <%= conference()[:title] %>.
</p>

<div class="container-fluid">
  <% $item_by_id.fetch('/stands-building/')[:stand_list].each do |building| %>
  <div class="row-fluid">
    <div class="col">
      <h3><%= building[:name] %></h3>
      <div>
        <img src="asset:buildings/<%= building[:map] %>" alt="Map <%= building[:name] %>" width="450px" />
      </div>
    </div>
  </div>
  <% building[:groups].each do | group | %>
  <div class="row-fluid">
      <table class="table table-condensed table-striped table-bordered">
          <thead>
            <tr>
              <th colspan="2"><h4><%= group[:info][:building] %> level <%= group[:info][:floor] %> (group <%= group[:info][:group] %>) </h4></th>
            </tr>
          </thead>
          <tbody>
            <% i = 0 %>
            <% group[:stands].each do | theme | %>
              <tr>
                <td colspan="2"><h5><%= theme[:theme] %></h5></td>
              </tr>
              <% theme[:stands][:all].each do | stand | %>
                <% i += 1 %>
                <tr>
                  <td><%= i %></td>
                  <td><%= stand[:name].to_s %></td>
                </tr>
              <% end %>
              <% if theme[:stands].key?(:saturday) && theme[:stands].key?(:sunday) %>
              <% theme[:stands][:saturday].each_with_index do | stand, idx | %>
                <% i += 1 %>
                <tr>
                  <td><%= i %></td>
                  <td><%= stand[:name].to_s %> (Saturday) &mdash; <%= theme[:stands][:sunday][idx][:name].to_s %> (Sunday)</td>
                </tr>
              <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
  </div>
  <% end %>
  <% end %>
</div> <!-- .row -->