---
title: Stands
navtitle: Stands
---
<%
# vim: set ts=2 sw=2 et ai ft=eruby:
%>
<p>
Stands can be used to share information, demo software, sell merchandising,
give away goodies and so forth, and to present themselves to the visitors
in a more personal fashion.
</p>
<p>
The following stands will be present at <%= conference()[:title] %>.
</p>

<div class="container-fluid">
  <% $item_by_id.fetch('/stands-building/')[:stand_list].each do |building| %>
  <div class="row-fluid">
      <table class="table table-condensed table-striped table-bordered">
          <thead>
            <tr>
              <th colspan="2"><h4><%= building[:info][:building] %> level <%= building[:info][:floor] %> (group <%= building[:info][:group] %>) </h4></th>
            </tr>
          </thead>
          <tbody>
            <% i = 0 %>
            <% building[:stands].each do | theme | %>
              <tr>
                <td colspan="2"><h5><%= theme[:theme] %></h5></td>
              </tr>
              <% theme[:stands].each do | stand | %>
                <% i += 1 %>
                <tr>
                  <td><%= i %></td>
                  <td><%= stand.to_s %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
  </div>
  <% end %>
</div> <!-- .row -->
