---
title: Promote
---
<h2>Flyers, posters and banners</h2>

<p>These are some <a href="#banners">banners</a> to add to your personal (or Open Source project)
website in order to reference FOSDEM. Feel free to use them to promote the event</p>

<p>Our news page has an <a href="page:atom">RSS feed</a>. Feel free to aggregate it!</p>

<a name="banners"></a><h2>Banners</h2>
<table class="table table-striped table-bordered">
    <tbody>
        <%
          # pro tip: do not name your banner files 250x250.png etc, they will be blocked by adblock
          @items.select do |i|
            i.identifier =~ %r{^/assets/promote/banner/[^/]+/$} and i.binary? and ['png', 'gif', 'jpg', 'jpeg'].include? i[:extension]
          end
          .sort_by{|i| i.identifier}
          .each do |badge|
            # need to include width and height attributes here or it will be processed
            # by a filter which won't find the files as they might be routed with their
            # digest filename later
            w, h = image_size(badge[:filename])
        %>
        <tr>
          <td>
            <p><a href="<%= badge.path %>"><img width="<%= w %>" height="<%= h %>" src="<%= badge.path %>"/></a></p>
          </td>
	  <td>
            <p>Link: <a href="<%= badge.path %>"><%= badge.path %></a></p>
            <p>HTML markup:<br/>
            <code>&lt;a href="http://fosdem.org"&gt;&lt;img src="<%= badge.path %>" alt="FOSDEM"/&gt;&lt;/a&gt;</code></p>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>

