---
title: Alistair Riddoch
kind: speaker
name: Alistair Riddoch
slug: alistair_riddoch
first_name: Alistair
last_name: Riddoch
person_id: 589
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Alistair began programming Open Source games in 1999 after a brief career on the lunatic fringe of kernel hacking. Inspired primarily by the Ultima series and burning belief that all things are made better if they are network enabled he joined WorldForge in 2000 to help build something that the emerging massively multiplayer online games industry had not yet provided. More than 10 years later, after half a dozen career changes with a determination to steer clear of the mainstream games industry, he is still hacking away on the same code he started working on in his first year. Networking, middleware and primarily server software have been his main focus while at WorldForge
When not working on WorldForge he wrangles production services at Google in the Site Reliability team and dreams of one day owning a cat.</p>


<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/worldforge">The Dynamic Data Driven Worlds of WorldForge</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/aw1120">AW1.120</a></td>
            <td><a href="/schedule/track/open_source_game_development">Open Source Game Development</a></td>
            <td>11:45</td>
            <td>12:30</td>
    </tbody>
</table>
