---
title: Andrew Hughes
kind: speaker
name: Andrew Hughes
slug: andrew_hughes
first_name: Andrew
last_name: Hughes
person_id: 220
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Free Java Software Engineer
Red Hat, Inc.</p>

<h3>Links</h3>
<ul>
    <li><a href="http://blog.fuseyism.com/" title="Blog">Blog</a></li>
</ul>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/free_java">Welcome to the Free Java DevRoom</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/k4401">K.4.401</a></td>
            <td><a href="/schedule/track/free_java">Free Java</a></td>
            <td>11:00</td>
            <td>11:05</td>
    </tbody>
</table>
