---
title: Ben Klang
kind: speaker
name: Ben Klang
slug: ben_klang
first_name: Ben
last_name: Klang
person_id: 445
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Ben Klang is the leader of the Adhearsion project and contributes to many other open source efforts directly with code and indirectly through evangelism.  A regular speaker on open source telephony, he has spoken at several large and small conferences throughout the United States and Europe. He currently serves the Adhearsion Foundation as leader of the Adhearsion Project and also holds a position on the core team for the Horde Project.  Klang is the founder and Technology Strategist at Mojo Lingo, an Atlanta firm specializing in telephony application development.</p>
<p>Ben Klang has been involved in the Open Source community since 1996, when he first installed Linux for his high school's web server.  Since then he has contributed directly to many open source projects, including Asterisk, Horde, ldap2dns, Adhearsion and many others.  Today he is part of the core team for the <a href="http://horde.org">Horde Project</a> and leader of the <a href="http://adhearsion.com">Adhearsion project</a>.  His company, <a href="http://mojolingo.com">Mojo Lingo</a>, provides services to organizations looking to create voice applications with Adhearsion.</p>

<p>Klang has 15+ years experience in diverse technology disciplines such as telephony, system administration, software development and networking.  His interests include hacking competitions, information security, making phones do unexpected things, playing music loudly and asking lots of questions.</p>


<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/voice_apps">Voice Applications for the Modern Open Source Hacker</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/k1105">K.1.105</a></td>
            <td><a href="/schedule/track/network_and_io">Network and IO</a></td>
            <td>10:00</td>
            <td>10:50</td>
    </tbody>
</table>
