---
title: Ben Kero
kind: speaker
name: Ben Kero
slug: ben_kero
first_name: Ben
last_name: Kero
person_id: 658
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Ben is a system administrator by trade,and has experience with the Ganeti project from several sources. He has been a community systems administrator at the OSU Open Source Lab, where he helped and administered dozens of high-profile open source projects. Ben held this position for 4 years while attending classes at Oregon State University.</p>

<p>While at OSU, Ben held the role of the Linux Users Group's Safety Officer, and gave presentations on secure (and advanced) SSH usage and a tutorial on VIM to crowds of 15-30 people of varying technical abilities, including live demonstrations. Ben has also given several technical presentations at the local Beaver Barcamp, some of which were viewed by over 100 people.</p>

<p>After graduating with a degree in Computer Science and Business Administration, he joined Mozilla as a systems administrator. Mozilla gave him the opportunity to diversify his skill-set to operate on the scale of hundreds of millions of users.</p>


<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/it_at_mozilla_open_sourcing_the_infrastructure">IT@Mozilla: Open sourcing the infrastructure</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/ud2218a">UD2.218A</a></td>
            <td><a href="/schedule/track/mozilla">Mozilla</a></td>
            <td>14:30</td>
            <td>15:00</td>
    </tbody>
</table>
