---
title: Ben Evans
kind: speaker
name: Ben Evans
slug: ben_evans
first_name: Ben
last_name: Evans
person_id: 273
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Ben Evans (CEO - TeamSparq) is a technology professional with well
over 10 years experience developing and running world-class projects
in a number of sectors including OSS, finance, gaming, media and
third-sector. His primary technical interests are in building
high-performance, highly scalable architectures and applying
cutting-edge tech to provide competitive advantage. He helps to run
the London Java Community, and represents the user community as a
voting member on Java’s executive governing body - the Java SE/EE
Executive Committee. Ben's first book "The Well-Grounded Java
Developer" with Martijn Verburg is being published by Manning, his
talks on Modern Concurrency and Polyglot programming are in high
demand by major conferences (JavaOne, Devoxx, OSCON, etc) where he is
known for scaring the audience with Otters.</p>

<h3>Links</h3>
<ul>
    <li><a href="http://www.java7developer.com/blog" title="Blog">Blog</a></li>
    <li><a href="http://twitter.com/kittylyst" title="twitter">twitter</a></li>
</ul>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/free_java">Welcome to the Free Java DevRoom</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/k4401">K.4.401</a></td>
            <td><a href="/schedule/track/free_java">Free Java</a></td>
            <td>11:00</td>
            <td>11:05</td>
        <tr>
            <td><a href="/schedule/event/our_year_to_date_in_the_jcp">Politics, Positives, Paperwork and Pain - Our year to date in the JCP</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/k4401">K.4.401</a></td>
            <td><a href="/schedule/track/free_java">Free Java</a></td>
            <td>14:30</td>
            <td>15:00</td>
    </tbody>
</table>
