---
title: Bogdan Marinescu
kind: speaker
name: Bogdan Marinescu
slug: bogdan_marinescu
first_name: Bogdan
last_name: Marinescu
person_id: 734
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Bogdan Marinescu is a 33-years old software
engineer from Bucharest (Romania) with many years of experience in
software and hardware development. He started the eLua project in 2008
and has been actively involved in developing eLua and building a
community around it since then. He is also the author of eLuaBrain and
other devices built around eLua.</p>


<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/eluabrain_educational_computer">eLuaBrain: a 32-bit MCU based educational computer</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/lameere">Lameere</a></td>
            <td><a href="/schedule/track/embedded">Embedded</a></td>
            <td>10:00</td>
            <td>11:00</td>
    </tbody>
</table>
