---
title: Carsten Haitzler
kind: speaker
name: Carsten Haitzler
slug: carsten_haitzler
first_name: Carsten
last_name: Haitzler
person_id: 409
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Some may better know me as Raster or Rasterman. I've been using Linux as my only operating system since 1996. I've been developing applications for Linux since then, and before that I also wrote some software for Solaris.
At that time I was at University (UNSW) in Sydney, Australia. Since then I have worked and lived around the world in many countries, all of it being related to Linux professionally.
I have written Window Managers (well 1, but re-written 3 times now), compositors, image processing and rendering libraries, toolkits, and many other utilities.
I've contributed to GTK+ and GNOME, and am the founder/lead for Enlightenment. I now have been working with Samsung for about 3 years on a Linux platform that now has been made public under the name of Tizen. Over the past few years the vast majority of my time has been sucked into EFL
(Enlightenment Foundation Libraries) that originally started as a simple separated toolkit set to help write Enlightenment, but that have since grown an entire life of their own due to the many cool things they do and how well they do them.</p>

<h3>Links</h3>
<ul>
    <li><a href="http://www.enlightenment.org" title="Enlightenment">Enlightenment</a></li>
</ul>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/efl">EFL, the toolkit for up and coming Linux mobile devices</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/k1105">K.1.105</a></td>
            <td><a href="/schedule/track/future_of_ui">Future of UI</a></td>
            <td>15:00</td>
            <td>15:50</td>
    </tbody>
</table>
