---
title: Christian Helmuth
kind: speaker
name: Christian Helmuth
slug: christian_helmuth
first_name: Christian
last_name: Helmuth
person_id: 648
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>In 2008, Christian co-founded Genode Labs, the company behind the
Genode OS project. Before then, he finished his diploma thesis and
conducted research of microkernel-based operating systems in the OS
group of TU Dresden. Christian's mission is to push Genode to the OS
for day-to-day usage.</p>

<h3>Links</h3>
<ul>
    <li><a href="https://plus.google.com/105801807312497993181" title="Genode Labs G+">Genode Labs G+</a></li>
</ul>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/microkernel_discussion">Panel discussion</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/k3201">K.3.201</a></td>
            <td><a href="/schedule/track/microkernel_os">Microkernel OS</a></td>
            <td>16:00</td>
            <td>17:00</td>
    </tbody>
</table>
