---
title: Christoph Paasch
kind: speaker
name: Christoph Paasch
slug: christoph_paasch
first_name: Christoph
last_name: Paasch
person_id: 465
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p><p>Christoph Paasch is an Engineer in Computer Science, specialized in Networking and Security.
He graduated at the "Université catholique de Louvain" in 2009, worked one year at
Alcatel-Lucent as a Software Design Engineer in Alcatel's IP Division.
Currently he is a PhD Student at the IP Networking Lab of the UCLouvain,
working on improvements to Multipath TCP and its open source Linux Kernel implementation
(available at http://mptcp.info.ucl.ac.be).</p></p>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/multipathtcp">Linux Kernel MultiPath TCP</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/ferrer">Ferrer</a></td>
            <td><a href="/schedule/track/lightning_talks">Lightning Talks</a></td>
            <td>14:00</td>
            <td>14:15</td>
    </tbody>
</table>
