---
title: Erik Huelsmann
kind: speaker
name: Erik Huelsmann
slug: erik_huelsmann
first_name: Erik
last_name: Huelsmann
person_id: 915
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p><p>Long time FOSS contributor as full committer for Subversion, LedgerSMB, ArmedBear Common Lisp and a number of smaller projects as well as contributions to numerous projects.</p></p>
<p><p>Erik Huelsmann is a long time Subversion committer and the original designer of the WC-NG new working copy format in Subversion 1.7 as well as being a major contributor in several other projects (LedgerSMB, ArmedBear Common Lisp. With current business activities ranging from being one of the driving forces behind the Tech Coop (http://tech.coop/) hosting business [a hosting service  specialized at running webapplications written in Common Lisp] to being a business and information analyst in both logistics and financial services industries, Erik brings with him a wide range of business experiences.</p></p>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/ledgersmb_perl">LedgerSMB: Open source accounting running on Perl</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/aw1121">AW1.121</a></td>
            <td><a href="/schedule/track/perl">Perl</a></td>
            <td>12:25</td>
            <td>12:45</td>
    </tbody>
</table>
