---
title: Gregoire de Hemptinne
kind: speaker
name: Gregoire de Hemptinne
slug: gregoire_de_hemptinne
first_name: Gregoire
last_name: de Hemptinne
person_id: 499
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Gregoire is an Open-Source enthusiast and is involved in several projects promoting Free Software and Free Culture since a while. He studied computer engineering at UCL (Belgium) and is now software architect at Euranova. He essentially works on Eclipse RCP/EMF technologies and in particular on the Wazaabi open-source project. In his free time he is also the webmaster of the planet-libre.org project.</p>


<h3>Links</h3>
<ul>
    <li><a href="http://www.theclimber.be" title="Website">Website</a></li>
    <li><a href="http://theclimber.fritalk.com" title="Technical blog">Technical blog</a></li>
</ul>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/wazaabi">Wazaabi - Model your UI ... live</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/ferrer">Ferrer</a></td>
            <td><a href="/schedule/track/lightning_talks">Lightning Talks</a></td>
            <td>18:40</td>
            <td>18:55</td>
    </tbody>
</table>
