---
title: Gunnar Wagenknecht
kind: speaker
name: Gunnar Wagenknecht
slug: gunnar_wagenknecht
first_name: Gunnar
last_name: Wagenknecht
person_id: 478
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p><p>Gunnar is a software engineer who loves server and application
architectures especially those involving Equinox/OSGi. In his primary
role at AGETO he is thrilled to work on open source software, emerging
platforms and technologies, and to help companies understand Eclipse and
OSGi and execute on their business objectives in an open source context.
He has been a member of the Eclipse Community since its beginning and
he is a prolific contributor with many years of experience on numerous
Eclipse projects; Gunnar leads the Technology PMC and is a member of the
Eclipse Architecture Council. Apart from Eclipse he loves chatting about
fishing, diving and his family and other things that matters over a good
beer or a glass of dry, barrel aged red wine.</p></p>
<p><p>Gunnar is a software engineer who loves server and application
architectures especially those involving Equinox/OSGi. In his primary
role at AGETO he is thrilled to work on open source software, emerging
platforms and technologies, and to help companies understand Eclipse and
OSGi and execute on their business objectives in an open source context.
He has been a member of the Eclipse Community since its beginning and
he is a prolific contributor with many years of experience on numerous
Eclipse projects; Gunnar leads the Technology PMC and is a member of the
Eclipse Architecture Council. Apart from Eclipse he loves chatting about
fishing, diving and his family and other things that matters over a good
beer or a glass of dry, barrel aged red wine.</p></p>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/eclipsert">An introduction to EclipseRT</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/ferrer">Ferrer</a></td>
            <td><a href="/schedule/track/lightning_talks">Lightning Talks</a></td>
            <td>10:40</td>
            <td>10:55</td>
    </tbody>
</table>
