---
title: Hervé Bitteur
kind: speaker
name: Hervé Bitteur
slug: herve_bitteur
first_name: Hervé
last_name: Bitteur
person_id: 543
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Software engineering has been my passion for 30+ years, through many exciting projects notably at French Civil Aviation, Schlumberger, Alcatel, Sun Microsystems.
Software development on Optical Music Recognition began as a hobby, and went on for several years, besides my day job at Sun. Beginning of 2011, I left Sun and created Audiveris company to now work full-time on Audiveris OMR software.
[A long time ago, I graduated from Ecole polytechnique (X72) and ENAC (Ecole Nationale de l'Aviation Civile)]</p>

<h3>Links</h3>
<ul>
    <li><a href="http://www.linkedin.com/profile/view?id=1175779&authType=NAME_SEARCH&authToken=K1FH&locale=en_US&srchid=a4b46d96-3508-48ad-98d1-86f63de12793-0&srchindex=1&srchtotal=2&goback=.fps_PBCK_*1_+_Bitteur_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*1_fr%3A0_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2&pvs=ps&trk=pp_profile_name_link" title="Profile on LinkedIn">Profile on LinkedIn</a></li>
</ul>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/audiveris">Audiveris: Optical Music Recognition</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/ferrer">Ferrer</a></td>
            <td><a href="/schedule/track/lightning_talks">Lightning Talks</a></td>
            <td>15:00</td>
            <td>15:15</td>
    </tbody>
</table>
