---
title: Ivan Zoratti
kind: speaker
name: Ivan Zoratti
slug: ivan_zoratti
first_name: Ivan
last_name: Zoratti
person_id: 710
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p><p>With 25 years of experience in computer science and IT, Ivan started his career at Digital Equipment Corporation, following his passion for the kernel of the PdP 11 machines, RSX and VMS Macro programming. Entrepreneur since 1988, he set up and managed IT companies in Europe. He has been an independent journalist and author of technical books for 15 years. Ivan has worked on Data Warehouse and BI projects since the early 90s, with DEC RDB, Informix, Oracle, SQLServer and later MySQL. In 1997, he joined MicroStrategy? as Director of Professional Services and Advanced Solutions in Europe, where he has been directly involved in the architecture and development of some of the largest DW on the planet. Ivan joined MySQL in 2005 and led the European Pre-Sales team for the Software Infrastructure Group at Sun Microsystems. At SkySQL, Ivan is responsible for the Field Services team in Europe.</p>

<p>A native of Italy, Ivan has lived in Windsor, UK since 2000</p></p>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/mysql_ha_reloaded">MySQL HA reloaded - old tricks and cool new tools to guarantee high availability to your MySQL Servers</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/h1309">H.1309</a></td>
            <td><a href="/schedule/track/mysql_and_friends">MySQL and Friends</a></td>
            <td>10:00</td>
            <td>10:25</td>
    </tbody>
</table>
