---
title: Jakub Jermář
kind: speaker
name: Jakub Jermář
slug: jakub_jermar
first_name: Jakub
last_name: Jermář
person_id: 604
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p><p>Jakub is a long-time developer of the HelenOS operating system and one
of the project founders. Jakub helped to design and develop various
parts of the system, including its kernel and the file system layer.</p></p>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/microkernel_welcome">Welcome! or Why do we meet here today</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/k3201">K.3.201</a></td>
            <td><a href="/schedule/track/microkernel_os">Microkernel OS</a></td>
            <td>09:00</td>
            <td>09:25</td>
        <tr>
            <td><a href="/schedule/event/microkernel_intro_helenos">Introduction to HelenOS</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/k3201">K.3.201</a></td>
            <td><a href="/schedule/track/microkernel_os">Microkernel OS</a></td>
            <td>11:10</td>
            <td>11:55</td>
        <tr>
            <td><a href="/schedule/event/microkernel_discussion">Panel discussion</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/k3201">K.3.201</a></td>
            <td><a href="/schedule/track/microkernel_os">Microkernel OS</a></td>
            <td>16:00</td>
            <td>17:00</td>
    </tbody>
</table>
