---
title: Jamie Marshall
kind: speaker
name: Jamie Marshall
slug: jamie_marshall
first_name: Jamie
last_name: Marshall
person_id: 614
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p><p>Jamie Marshall is Expertise Manager at Prologue SA. He desigbed the overall architecture of CompatibleOne and represents Prologue within OW2.</p></p>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/compatibleone">Open Cloud Interoperability with CompatibleOne</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/chavanne">Chavanne</a></td>
            <td><a href="/schedule/track/virtualization_and_cloud">Virtualization and Cloud</a></td>
            <td>14:30</td>
            <td>14:55</td>
    </tbody>
</table>
