---
title: José F. Ruiz
kind: speaker
name: José F. Ruiz
slug: jose_f_ruiz
first_name: José F.
last_name: Ruiz
person_id: 863
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p><p>Dr. José F. Ruiz is a Senior Software Engineer who joined AdaCore in 2002. He received his Ph.D. Degree from the Technical University of Madrid for his work in the field of real-time and multimedia systems, including scheduling policies and resource management in operating systems. He is a specialist in embedded real-time high-integrity systems in Ada, an area where he has been working for more than 15 years, having authored/coauthored over 30 papers in those domains.</p></p>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/multicore_in_ada">Multicore programming support in Ada</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/aw1121">AW1.121</a></td>
            <td><a href="/schedule/track/ada">Ada</a></td>
            <td>14:00</td>
            <td>14:50</td>
        <tr>
            <td><a href="/schedule/event/lego_mindstorms_in_ada">Programming LEGO MINDSTORMS robots in Ada </a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/aw1121">AW1.121</a></td>
            <td><a href="/schedule/track/ada">Ada</a></td>
            <td>16:00</td>
            <td>16:50</td>
    </tbody>
</table>
