---
title: Karen Sandler
kind: speaker
name: Karen Sandler
slug: karen_sandler
first_name: Karen
last_name: Sandler
person_id: 448
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p><p>Karen M. Sandler is currently the Executive Director of the GNOME
Foundation and prior to taking up this position was General Counsel of
the Software Freedom Law Center (SFLC). Karen continues to do pro bono
legal work with SFLC and Question Copyright and serves as an officer
of both the Software Freedom Conservancy and SFLC. Before joining
SFLC, Karen worked as an associate in the corporate departments of
Gibson, Dunn &amp; Crutcher LLP in New York and Clifford Chance in New
York and London. Karen received her law degree from Columbia Law
School in 2000, where she was a James Kent Scholar and co-founder of
the Columbia Science and Technology Law Review. Karen received her
bachelor’s degree in engineering from The Cooper Union. She is a
recipient of an O'Reilly Open Source Award and also co-host of the
"Free as in Freedom" podcast.</p></p>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/legal_issues">Welcome to the Legal Issues DevRoom</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/aw1125">AW1.125</a></td>
            <td><a href="/schedule/track/legal_issues">Legal Issues</a></td>
            <td>11:00</td>
            <td>11:05</td>
        <tr>
            <td><a href="/schedule/event/software_patent_panel">Panel on Software Patents</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/aw1125">AW1.125</a></td>
            <td><a href="/schedule/track/legal_issues">Legal Issues</a></td>
            <td>18:00</td>
            <td>18:30</td>
    </tbody>
</table>
