---
title: Kashyap Chamarthy
kind: speaker
name: Kashyap Chamarthy
slug: kashyap_chamarthy
first_name: Kashyap
last_name: Chamarthy
person_id: 910
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>



<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/dogtag">Overview and a demo of  Dogtag Certificate system</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/h2214">H.2214</a></td>
            <td><a href="/schedule/track/hardware_cryptography">Hardware Cryptography</a></td>
            <td>13:00</td>
            <td>13:45</td>
    </tbody>
</table>
