---
title: Laszlo Papp
kind: speaker
name: Laszlo Papp
slug: laszlo_papp
first_name: Laszlo
last_name: Papp
person_id: 471
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p><p>Laszlo Papp (djszapi) graduated in electric engineering. He is a 26 year old
Senior Software Engineer currently employed by Symbio Software Oy in Helsinki,
Finland. He has been working on the Maemo/MeeGo project with a genuine interest
in smart embedded systems. He had been working as a Linux kernel developer for
years. He has been a Qt/KDE enthusiast in his leisure time for while, visiting
opensource Qt/KDE events and sprints as much as possible all over the world.
He likes reading interesting technical books, playing bass guitar and visiting
opensource local community meetups (MeeGo, Qt, Igda) in order to share ideas.
He is also one of the developers behind the Gluon project which is a free and
opensource game development and distribution platform.</p></p>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/deep_dive_into_kde_mobile_development">Deep Dive into KDE Mobile development on N9/N950 (Harmattan)</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/aw1120">AW1.120</a></td>
            <td><a href="/schedule/track/open_mobile_linux">Open Mobile Linux</a></td>
            <td>14:00</td>
            <td>14:30</td>
    </tbody>
</table>
