---
title: Laura Czajkowski
kind: speaker
name: Laura Czajkowski
slug: laura_czajkowski
first_name: Laura
last_name: Czajkowski
person_id: 31
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Laura Czajkowski is currently based in London and hails from Ireland originally, where she studied Computer System at the University of Limerick. Here she was elected president after being treasurer for two and a half years of the computer society Skynet. This is where she got the bug of open source and organised events and conferences from. She moved to Dublin and joined the Ubuntu Ireland LoCo in in 2008 and became and Ubuntu member soon after. Her enthusiasm and passion for getting things done and helping others in the greater Ubuntu community lead to her being appointed to the Ubuntu LoCo Council in 2009 and re-elected in 2011. Here she had campaigned for locoteams for translations, merchandise and help from Canonical where possible, lead mediation and health checks with locoteams. She was elected in 2011 to the Community Council for her passion with working with localised teams while being a strong leader in the wider community.</p>


<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/contributor_communities">Working with contributor communities (round table)</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/h1301">H.1301</a></td>
            <td><a href="/schedule/track/crossdistribution">CrossDistribution</a></td>
            <td>11:30</td>
            <td>12:30</td>
    </tbody>
</table>
