---
title: Luca Pradovera
kind: speaker
name: Luca Pradovera
slug: luca_pradovera
first_name: Luca
last_name: Pradovera
person_id: 637
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Luca Pradovera is a regular contributor to the Adhearsion project and is involved with local
LUGs to promote Open Source software and standards. A long-time teacher on various IT
subjects, he has had over 300 students over a span of several years learning Open Source
technologies.</p>
<p>Luca Pradovera is a regular contributor to the Adhearsion project and is involved with local LUGs to promote Open Source software and standards. A long-time teacher on various IT subjects, he has had over 300 students over a span of several years learning Open Source technologies.</p>

<p>Luca Pradovera has been an Open Source software enthusiast since 1997, beginning with a Slackware desktop and a few servers managed at local ISPs. He has been involved in teaching open source software and methods over a span of over 10 years, in courses that included Linux usage and management and Web development on the LAMP stack, and organized some Open Source Days at local institutions. Today he is a freelance Ruby developer contributing to the Adhearsion project with Mojo Lingo, a company providing services to organizations looking to create voice applications with Adhearsion. He is also project director at Softplace for various socially involved voice applications using Adhearsion and Asterisk.</p>

<p>Pradovera has almost 15 years of experience in various IT disciplines, especially software development, documentation and teaching. Over the years he has also acquired skills in DevOps and server management. His interests include web services, APIs and mashups, and voice convergence. He is still amazed by making a phone ring by clicking a link in a Web page.</p>

<h3>Links</h3>
<ul>
    <li><a href="http://adhearsion.com" title="Project Website">Project Website</a></li>
    <li><a href="http://mojolingo.com" title="Company Website">Company Website</a></li>
    <li><a href="http://softplace.it" title="Organization Website">Organization Website</a></li>
</ul>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/adhearsion_freepbx">Enhancing FreePBX with Adhearsion</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/h2213">H.2213</a></td>
            <td><a href="/schedule/track/telephony_and_communications">Telephony and Communications</a></td>
            <td>13:20</td>
            <td>14:00</td>
    </tbody>
</table>
