---
title: Martin Děcký
kind: speaker
name: Martin Děcký
slug: martin_decky
first_name: Martin
last_name: Děcký
person_id: 605
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Martin has been with the HelenOS team for more than 6 years now. A life-long operating systems enthusiast, he enjoys everything from bare metal programming and submitting Linux kernel patches to designing the most progressive microkernel and working on its formal verification as a researcher at Charles University in Prague.</p>

<h3>Links</h3>
<ul>
    <li><a href="http://www.helenos.org/" title="HelenOS website">HelenOS website</a></li>
    <li><a href="http://twitter.com/mdecky" title="Martin's twitter feed">Martin's twitter feed</a></li>
    <li><a href="bzr://bzr.helenos.org/mainline " title="HelenOS bzr repository">HelenOS bzr repository</a></li>
</ul>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/microkernel_overhead">The microkernel overhead</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/k3201">K.3.201</a></td>
            <td><a href="/schedule/track/microkernel_os">Microkernel OS</a></td>
            <td>13:00</td>
            <td>14:00</td>
    </tbody>
</table>
