---
title: Martin Zobel-Helas
kind: speaker
name: Martin Zobel-Helas
slug: martin_zobel_helas
first_name: Martin
last_name: Zobel-Helas
person_id: 826
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Martin works for the 'Open Source Support Center' at credativ GmbH as Senior Consultant and Team Leader for Application Operation. In his spare time when not totally busy with his kids or wife, he helps Debian to take over world domination.</p>

<p>Martin is Debian Developer since 2005 and was or is serving inside the following teams inside Debian: Listmaster Team, System Administration Team, Release Team, Volatile Team. He sometimes helps out with website work or press announcement preparation. He also serves as member of the Board of directors of Software in the Public Interest (SPI), which is a non-profit umbrella organization providing services to Debian and other projects.</p>

<h3>Links</h3>
<ul>
    <li><a href="http://blog.zobel.ftbfs.de/" title="Blog">Blog</a></li>
</ul>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/distro_sysadmin">Distributions' infrastructure system administration (round table/Q&A)</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/h1301">H.1301</a></td>
            <td><a href="/schedule/track/crossdistribution">CrossDistribution</a></td>
            <td>13:00</td>
            <td>14:00</td>
    </tbody>
</table>
