---
title: Michael Mrozek
kind: speaker
name: Michael Mrozek
slug: michael_mrozek
first_name: Michael
last_name: Mrozek
person_id: 597
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Michael is 34 years old and comes from Ingolstadt in Germany. He has been supporting OpenSource gaming handhelds for years in Germany, making them easy to buy via his shop (GP2X Shop). He started to develop the Pandora gaming handhelds together with some other guys and a large community backing them. Now he is in charge of the production of the Pandora.</p>


<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/open_pandora">Pandora - a mobile Linux computer including gaming controls</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/aw1120">AW1.120</a></td>
            <td><a href="/schedule/track/open_source_game_development">Open Source Game Development</a></td>
            <td>12:40</td>
            <td>13:25</td>
    </tbody>
</table>
