---
title: Mike McClurg
kind: speaker
name: Mike McClurg
slug: mike_mcclurg
first_name: Mike
last_name: McClurg
person_id: 617
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Mike McClurg joined Citrix in 2010 to work on XenServer's management toolstack, and he soon became involved with the open source XCP project. Mike is a functional programming languages geek, and joined the XenServer toolstack team not because of Xen, but because the toolstack is written in OCaml, a high-performance functional language. He currently lives in Cambridge, UK.</p>


<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/openstack_xcp_ubuntu">Deploying OpenStack with the XCP toolstack on Ubuntu</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/chavanne">Chavanne</a></td>
            <td><a href="/schedule/track/virtualization_and_cloud">Virtualization and Cloud</a></td>
            <td>17:00</td>
            <td>17:25</td>
    </tbody>
</table>
