---
title: Nicholas Perez
kind: speaker
name: Nicholas Perez
slug: nicholas_perez
first_name: Nicholas
last_name: Perez
person_id: 883
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Nick Perez has been an active Perl community participant since 2003. He maintains several modules on CPAN and is a fan of interesting tech including the marriage of POE and Moose. Only recently moving to Amsterdam, NL, Nick lived in the US prior and spoke at a number of Perl events there including YAPC::NA, Perl Oasis, and Frozen Perl.</p>


<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/moose_primer">Moose Primer</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/aw1121">AW1.121</a></td>
            <td><a href="/schedule/track/perl">Perl</a></td>
            <td>09:05</td>
            <td>09:25</td>
        <tr>
            <td><a href="/schedule/event/advanced_moose">Advanced Moose Techniques</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/aw1121">AW1.121</a></td>
            <td><a href="/schedule/track/perl">Perl</a></td>
            <td>09:35</td>
            <td>09:55</td>
    </tbody>
</table>
