---
title: Niibe Yutaka
kind: speaker
name: Niibe Yutaka
slug: niibe_yutaka
first_name: Niibe
last_name: Yutaka
person_id: 838
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p><p>Niibe is a contributer to GNU Project since 1989 and a Debian developer since 2005.
He is one of founders and the chairman of Free Software Initiative of Japan.
He is a long time GNU/Linux developer and the principal author of Gnuk, and the principal designer of FST-01 (Minimum STM32F103 USB computer).</p></p>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/gnuk">Gnuk - OpenPGP USB Token implementation</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/h1301">H.1301</a></td>
            <td><a href="/schedule/track/crossdistribution">CrossDistribution</a></td>
            <td>15:00</td>
            <td>15:45</td>
    </tbody>
</table>
