---
title: Nikolaus Schaller
kind: speaker
name: Nikolaus Schaller
slug: nikolaus_schaller
first_name: Nikolaus
last_name: Schaller
person_id: 328
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>



<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/quantumstep_future">QuantumSTEP</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/aw1126">AW1.126</a></td>
            <td><a href="/schedule/track/gnustep">GNUstep</a></td>
            <td>18:15</td>
            <td>19:00</td>
    </tbody>
</table>
