---
title: Nils Grunwald
kind: speaker
name: Nils Grunwald
slug: nils_grunwald
first_name: Nils
last_name: Grunwald
person_id: 723
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p><p>[Nils Grünwald][https://github.com/ngrunwald] is a developer working for [Linkfluence][http://us.linkfluence.net/], a French startup specializing in the study of social networks on the web. He enjoys
working on web data mining, text mining and natural language processing.</p></p>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/cascalog_hadoop_graph">Using Cascalog and Hadoop for rapid graph processing and exploration </a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/aw1125">AW1.125</a></td>
            <td><a href="/schedule/track/graph_processing">Graph Processing</a></td>
            <td>10:20</td>
            <td>11:05</td>
    </tbody>
</table>
