---
title: Nobuo Ogashiwa
kind: speaker
name: Nobuo Ogashiwa
slug: nobuo_ogashiwa
first_name: Nobuo
last_name: Ogashiwa
person_id: 887
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Nobuo Ogashiwa is an Associated Professor of the Faculty of
International Social Studies, Maebashi Kyoai Gakuen College and is a
Director of ICT Center of Maebashi Kyoai Gakuen College.  His current
research topic is mobile network technologies in college campus and
XMPP software development (URL: http://github.com/ogashiwa/xmppd).  He
is a member of the RSi Project which is a XMPP-based Realtime Service
project in Japan. And he is also a member of the WIDE Project which is
a japanese initiatively internet research project.</p>


<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/xmpp_event_visualization">Applications: Event Visualization in Emergency Call Systems </a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/h2213">H.2213</a></td>
            <td><a href="/schedule/track/jabber_and_xmpp">Jabber and XMPP</a></td>
            <td>17:00</td>
            <td>17:30</td>
    </tbody>
</table>
