---
title: Oli Sennhauser
kind: speaker
name: Oli Sennhauser
slug: oli_sennhauser
first_name: Oli
last_name: Sennhauser
person_id: 279
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Oli is Senior MySQL Consultant and founder of FromDual GmbH. He works with databases since the 2nd half of the Ninety's. Most of the time as consultant. Since 2006 he works as MySQL consultant for many customers mostly in Europe. He likes solving customers problems in various areas like MySQL operations, MySQL Cluster, Performance Tuning, Architecture and Design etc.</p>


<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/new_features_in_mysql56">New Features in MySQL 5.6</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/h1309">H.1309</a></td>
            <td><a href="/schedule/track/mysql_and_friends">MySQL and Friends</a></td>
            <td>09:10</td>
            <td>09:30</td>
        <tr>
            <td><a href="/schedule/event/mysql_synchronous_replication_galera">MySQL synchronous replication in practice with Galera</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/h1309">H.1309</a></td>
            <td><a href="/schedule/track/mysql_and_friends">MySQL and Friends</a></td>
            <td>13:00</td>
            <td>13:25</td>
    </tbody>
</table>
