---
title: Omer Frenkel
kind: speaker
name: Omer Frenkel
slug: omer_frenkel
first_name: Omer
last_name: Frenkel
person_id: 621
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Omer Frenkel is the oVirt engine core maintainer and Team Lead. He works as a Senior Software Engineer at Red Hat.</p>


<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/ovirt_engine_core">oVirt Engine Core: Internals and Infrastructure</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/chavanne">Chavanne</a></td>
            <td><a href="/schedule/track/virtualization_and_cloud">Virtualization and Cloud</a></td>
            <td>11:30</td>
            <td>11:55</td>
    </tbody>
</table>
