---
title: Pierre-Yves Ricau
kind: speaker
name: Pierre-Yves Ricau
slug: pierre_yves_ricau
first_name: Pierre-Yves
last_name: Ricau
person_id: 737
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p><p>Pierre-Yves Ricau is the technical leader of the AndroidAnnotations project. As a Java consultant, he had experiences with good old JEE development as well as Android app coding, and now tries to bring industry standards into Android development. He now works for Siine Ltd on a revolutionary Android keyboard.</p></p>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/androidannotations">Simple and powerful Android code with AndroidAnnotations!</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/lameere">Lameere</a></td>
            <td><a href="/schedule/track/embedded">Embedded</a></td>
            <td>16:00</td>
            <td>17:00</td>
    </tbody>
</table>
