---
title: Raoul-Gabriel Urma
kind: speaker
name: Raoul-Gabriel Urma
slug: raoul_gabriel_urma
first_name: Raoul-Gabriel
last_name: Urma
person_id: 724
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p><p>Raoul-Gabriel Urma is a Java developer, passionate about programming languages and currently doing a PhD in Computer Science at Cambridge University.</p></p>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/openjdk_covariance">Using the OpenJDK to investigate covariance in Java</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/k4401">K.4.401</a></td>
            <td><a href="/schedule/track/free_java">Free Java</a></td>
            <td>14:00</td>
            <td>14:30</td>
    </tbody>
</table>
