---
title: Rene Pickhardt 
kind: speaker
name: Rene Pickhardt 
slug: rene_pickhardt_
first_name: Rene
last_name: Pickhardt 
person_id: 728
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p><p>my short bio is available here: http://www.rene-pickhardt.de/about-rene-pickhardt/
you can also find a one year old graphical cv (just before I started my PhD):  http://www.work-at-google.com/graphical-cv-rene-pickhardt-1-page-150.pdf</p></p>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/graphity_neo4j_social_nets">Graphity: an efficient neo4j based graph model for retrieving the top k news feeds for users in social networks </a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/aw1125">AW1.125</a></td>
            <td><a href="/schedule/track/graph_processing">Graph Processing</a></td>
            <td>12:45</td>
            <td>13:15</td>
    </tbody>
</table>
