---
title: Rob Hawkes 
kind: speaker
name: Rob Hawkes 
slug: rob_hawkes_
first_name: Rob
last_name: Hawkes 
person_id: 594
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p><p>Rob thrives on solving problems through code. He has an addiction to visual programming and can't get enough of HTML5 and JavaScript. He's a Technical Evangelist at Mozilla and leads the gaming side of their work within the developer community.</p></p>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/html5_hacking_session_apps">Introducing the Mozilla Labs Apps Project</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/ud2218a">UD2.218A</a></td>
            <td><a href="/schedule/track/mozilla">Mozilla</a></td>
            <td>16:00</td>
            <td>16:30</td>
        <tr>
            <td><a href="/schedule/event/open_web_gaming">The Future of Open Web Gaming </a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/aw1120">AW1.120</a></td>
            <td><a href="/schedule/track/open_source_game_development">Open Source Game Development</a></td>
            <td>16:15</td>
            <td>17:00</td>
    </tbody>
</table>
