---
title: Robert Bragg
kind: speaker
name: Robert Bragg
slug: robert_bragg
first_name: Robert
last_name: Bragg
person_id: 892
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p><p>Robert works as an open source developer in the Intel OTC Visualization team. He maintains the Cogl 3D graphics library and is part of the Intel
Wayland development team. He also helps maintain Clutter and has a fair amount of window manager and graphics driver development
experience. Before working at Intel, Robert worked at OpenedHand on Clutter and Cogl and before that worked at Imagination Technologies in
the Linux OpenGL driver team.</p></p>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/wayland_compositor">Writing a Wayland Compositor</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/k3401">K.3.401</a></td>
            <td><a href="/schedule/track/xorg+openicc">X.org+OpenICC</a></td>
            <td>09:00</td>
            <td>10:00</td>
    </tbody>
</table>
