---
title: Sasha Levin
kind: speaker
name: Sasha Levin
slug: sasha_levin
first_name: Sasha
last_name: Levin
person_id: 393
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p><p>Sasha Levin is a Linux kernel hacker, specializing in the Kernel Virtual Machine.</p>

<p>For the past 3 years Sasha has been working independently on several KVM related projects both free and commercial.</p></p>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/native_kvm">Native KVM Tool</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/janson">Janson</a></td>
            <td><a href="/schedule/track/hypervisors">Hypervisors</a></td>
            <td>17:00</td>
            <td>17:50</td>
    </tbody>
</table>
