---
title: Stéphane Magnenat
kind: speaker
name: Stéphane Magnenat
slug: stephane_magnenat
first_name: Stéphane
last_name: Magnenat
person_id: 432
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p><p>Stéphane Magnenat is senior researcher at the Autonomous Systems Lab in ETH Zurich. He received the M.Sc degree in computer science (2003) and the Ph.D. degree (2010) from École Polytechnique Fédérale de Lausanne (EPFL). His research interests include software architecture, software integration and scalable artificial intelligence on mobile robots.</p></p>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/aseba">Aseba robot programming</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/lameere">Lameere</a></td>
            <td><a href="/schedule/track/embedded">Embedded</a></td>
            <td>11:00</td>
            <td>12:00</td>
    </tbody>
</table>
