---
title: Stephan Eggermont
kind: speaker
name: Stephan Eggermont
slug: stephan_eggermont
first_name: Stephan
last_name: Eggermont
person_id: 107
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p><p>I am an independent consultant and software developer. I am always interested in ways to make software development better and (even) more fun. I like helping teams in becoming more able to add value to their organizations.
After programming for 15 years, I discovered Seaside and Smalltalk and found out that there was a reasonable way to develop web applications after all.
I also do Technology Roadmapping to help organizations realize and visualize their future(s).</p></p>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/learn_smalltalk">Back to the future, (re) learn smalltalk</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/aw1126">AW1.126</a></td>
            <td><a href="/schedule/track/smalltalk">Smalltalk</a></td>
            <td>14:00</td>
            <td>16:30</td>
    </tbody>
</table>
