---
title: Tom Marble
kind: speaker
name: Tom Marble
slug: tom_marble
first_name: Tom
last_name: Marble
person_id: 418
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Tom Marble formerly worked at Sun
Microsystems as an Enterprise Systems Engineer, then progressed to
Chief Technologist for Sun's national dot.com sales area before
joining R&amp;D as a Senior Java Performance Engineer. Following Sun's
decision to open source the Java programming language he was selected
to be the first to hold the role of OpenJDK Ambassador.</p>

<p>Most recently he has launched Informatique, Inc.: a consultancy to
leverage his electrical engineering background along with his software
development experience for clients in such domains as telematics for
electric vehicles, smart grid interoperability, probabalistic model
checking, autonomous cyber defense, multiplayer online gaming and
highly concurrent software design.</p>

<p>Tom is an enthusiastic open source software contributor
and specializes in the Debian GNU/Linux distribution.</p>

<p>For FOSDEM 2012 Tom is a manager for the Free Java
and Legal Issues DevRooms.</p>

<h3>Links</h3>
<ul>
    <li><a href="http://info9.net/wiki/tmarble/" title="Tom's blog">Tom's blog</a></li>
    <li><a href="http://identi.ca/tmarble" title="Tom's microblog on identi.ca">Tom's microblog on identi.ca</a></li>
    <li><a href="http://twitter.com/#!/tmarble" title="Tom's microblog on twitter">Tom's microblog on twitter</a></li>
</ul>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/legal_issues">Welcome to the Legal Issues DevRoom</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/aw1125">AW1.125</a></td>
            <td><a href="/schedule/track/legal_issues">Legal Issues</a></td>
            <td>11:00</td>
            <td>11:05</td>
        <tr>
            <td><a href="/schedule/event/free_java">Welcome to the Free Java DevRoom</a></td>
            <td>Sat</td>
            <td><a href="/schedule/room/k4401">K.4.401</a></td>
            <td><a href="/schedule/track/free_java">Free Java</a></td>
            <td>11:00</td>
            <td>11:05</td>
    </tbody>
</table>
