---
title: William Candillon
kind: speaker
name: William Candillon
slug: william_candillon
first_name: William
last_name: Candillon
person_id: 519
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>William Candillon is a software engineer at 28msec and member of the W3C XQuery working group.
His focus is on the development of large scale applications in XQuery.
William is also involved with the FLWOR foundation, a non-profit organization that supports the development of open source software based on XML technologies.</p>


<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/xquery">XQuery 3.0 Rocks</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/ferrer">Ferrer</a></td>
            <td><a href="/schedule/track/lightning_talks">Lightning Talks</a></td>
            <td>10:00</td>
            <td>10:15</td>
    </tbody>
</table>
