---
title: Wim Godden
kind: speaker
name: Wim Godden
slug: wim_godden
first_name: Wim
last_name: Godden
person_id: 411
---
<% photo = $item_by_id["/schedule/speaker_photos/#{@item[:slug]}/"] %>
<% if photo %>
<img src="<%= photo.path %>" width="<%= photo[:width] %>" height="<%= photo[:height] %>"/>
<% end %>

<h3>Bio</h3>
<p>Wim Godden is the owner and principal consultant at Cu.be. He has been working with PHP since 1996. In 1999, he developed the advertising software phpAdsNew (now OpenX) and in the years following worked with a wide range of technologies (from PHP over database clusters to Internet backbone infrastructure design).</p>

<p>Since 2005, he's been involved in the construction of several PHP-based CMS and CRM systems at some of the largest Belgian companies and has served as team lead and system/software architect at some of the largest Belgian companies.</p>
<p>Wim Godden is the owner and principal consultant at Cu.be. He has been working with PHP since 1996. In 1999, he developed the advertising software phpAdsNew (now OpenX) and in the years following worked with a wide range of technologies (from PHP over database clusters to Internet backbone infrastructure design).</p>

<p>Since 2005, he's been involved in the construction of several PHP-based CMS and CRM systems at some of the largest Belgian companies and has served as team lead and system/software architect at some of the largest Belgian companies.</p>

<h3>Links</h3>
<ul>
    <li><a href="http://techblog.wimgodden.be" title="Technical blog">Technical blog</a></li>
    <li><a href="http://cu.be" title="Company Website">Company Website</a></li>
    <li><a href="http://www.slideshare.net/wimg/" title="Slideshare">Slideshare</a></li>
    <li><a href="https://twitter.com/#!/wimgtr" title="Twitter">Twitter</a></li>
</ul>

<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Day</th>
            <th>Room</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="/schedule/event/cache_tune_fun">Caching and Tuning fun for high scalability</a></td>
            <td>Sun</td>
            <td><a href="/schedule/room/janson">Janson</a></td>
            <td><a href="/schedule/track/system">System</a></td>
            <td>11:00</td>
            <td>11:50</td>
    </tbody>
</table>
