---
title: Buildings
forcepagelinks: true
---
<% if @site.config.fetch(:virtual) %>
<p>
  While a virtual FOSDEM does not have buildings, our conference management system expects them. So we reused them to group talks by their
  type.
</p>
<p>
  Find an overview below.
</p>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
    <th>Building</th>
    <th style="text-align: center;">Rooms</th>
    </tr>
  </thead>
  <tbody>
    <% $buildings.each do |building, rooms| %>
      <tr>
        <th class="title"><a name="<%= building.downcase %>"></a><%= building %></th>
        <td>
          <ul>
            <% rooms.each do |room| %>
              <li><%= l(room) %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>
The various events are spread over several buildings (clusters of rooms)
over the campus.
</p>
<p>
Here is a list of those buildings, and the rooms in each of them.
</p>

<% cols = $buildings.values.map{|list| list.size}.max %>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
    <th>Building</th>
    <th style="text-align: center;" colspan="<%= cols %>">Physical Rooms</th>
    </tr>
  </thead>
  <tbody>
    <% $buildings.reject{ |b| b =~ /^[DMIS]/ }.each do |building, rooms| %>
      <tr>
        <th class="title"><a name="<%= building.downcase %>"></a><%= building %></th>
        <% rooms.each do |room| %>
          <td><%= l(room) %></td>
        <% end %>
        <% remainder = cols - rooms.size %>
        <% if remainder > 0 %>
          <td colspan="<%= remainder %>"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="map">
   <img style="display: block; margin-left: auto; margin-right: auto" src="asset:campusmap" alt="ULB Solbosch Campus map" title="ULB Solbosch Campus map"}/>
</div>

<h1>Online</h1>
<p><b>Talks shown in rooms prefixed by D take place online.</b></p>
<p>(M.test holds live test data used before the event.)</p>

<% cols = $buildings.values.map{|list| list.size}.max %>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
    <th></th>
    <th style="text-align: center;" colspan="<%= cols %>">Online Rooms</th>
    </tr>
  </thead>
  <tbody>
    <% $buildings.reject{ |b| b =~ /^[^DMIS]/ }.each do |building, rooms| %>
      <tr>
        <th class="title"><a name="<%= building.downcase %>"></a><%= building %></th>
        <% rooms.each do |room| %>
          <td><%= l(room) %></td>
        <% end %>
        <% remainder = cols - rooms.size %>
        <% if remainder > 0 %>
          <td colspan="<%= remainder %>"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<% end %>
