---
title: Events
sponsors_under_navigation: true
titlehead: false
---
<%
require 'uri'

h = begin
      h = {}
      tracks.sort_by{|t| [t[:rank], t[:conference_track_id]]}.each do |t|
        h[t] = t[:events].map(&$to_event)
      end
      h
    end
size = h.values.map(&:size).inject(:+)
%>
<h1><%= size %> Events</h1>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Event</th>
            <th>Speakers</th>
            <th>Room</th>
            <th>Day</th>
            <th>Start</th>
            <th>End</th>
            <th>Attachments</th>
	    <th>Videos</th>
        </tr>
    </thead>
    <tbody>
      <% h.each do |track, list| %>
        <tr>
          <td colspan="8"><h4><%= track[:title] %> (<%= list.size %>)</h4></td>
        </tr>
        <% list.each do |e| %>
        <tr>
            <td><%= l(e) %></td>
            <td><%= l e[:speakers].map(&$to_speaker) %></td>
            <td><%= l room e[:room] %></td>
            <td><%= l day e[:day] %></td>
            <td><%= e[:start_time] %></td>
            <td><%= e[:end_time] %></td>
	    <td>
	      <% e[:attachments].each do |a| %>
	      <a href="<%= @site.config[:base_url] + a[:file] %>"><%= a[:type] %></a>
              <% end %>
	    </td>
	    <td>
	      <% video_webm = (e[:links] or []).select{|k| k[:url] =~ /\/video.fosdem.org\/.*webm/}.map{|k| k[:url]} %>
	      <% video_mp4 = (e[:links] or []).select{|k| k[:url] =~ /\/video.fosdem.org\/.*mp4/}.map{|k| k[:url]} %>
	      <% if not video_webm.empty? %>
		<a href="<%= video_webm[0] %>">webm</a>
	      <% end %>
	      <% if not video_mp4.empty? %>
		<a href="<%= video_mp4[0] %>">mp4</a>
	      <% end %>
	    </td>
        </tr>
        <% end %>
        <% end %>
    </tbody>
</table>

<p>
This information was last updated on <%= @item.mtime.strftime("%A %B %d, %Y at %H:%M:%S %Z") %>.
</p>
