---
title: Speakers
sponsors_under_navigation: true
titlehead: false
---
<% speakers = speakers(:sortname) %>
<h1><%= speakers.size %> Speakers</h1>
<%
columns = 4

h = {}
# Prime the hash with keys for each letter of the English alphabet.
# This lets us print a complete-looking index even if we don't have
# speaker names beginning with some letters.
('A'..'Z').each{|a| h[a] = []}

# Sort speakers into letter buckets by first letter of sortname.
speakers.each do |s|
  i = s[:sortname][0]
  h[i] = [] unless h.has_key? i
  h[i] << s
end

# Work around Ruby's hopelessly inadequate sorting features.
# Tweak sort order by substituting "funny characters" with ASCII
# characters matching desired sorting location.
keys = h.keys.sort_by { |k| k
  .gsub('Š', 'Sz')
  .gsub('Ó', 'Oz')
}
%>

<div class="row-fluid">
  <div class="span12">
    <ul class="horizontal-list name-index-list">
      <% keys.each do |a| %>
        <% if h[a].size > 0 %>
	<%
          # Produce valid XHTML: '#' is not a valid anchor.
          # (Teams sort under #)
          if a == '#' then idx = 'teams' else idx = a end
	%>
          <li><a href="#<%= idx %>"><%= a %></a></li>
        <% else %>
          <li><span class="muted"><%= a %></span></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div class="row-fluid">
<% keys.each_slice(keys.size / columns) do |list| %>
<div class="span<%= 12 / columns %>">
  <% list.each do |k| %>
    <% if h[k].size > 0 %>
    <%
      # Produce valid XHTML: '#' is not a valid anchor.
      # (Teams sort under #)
      if k == '#' then idx = 'teams' else idx = k end
    %>
    <a name="<%= idx %>"></a><h3 class="name-index"><%= k %></h3>
    <ul class="name-index-items">
      <% h[k].each do |s| %>
        <li><%= l(s) %></li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
</div>
<% end %>
</div>
