---
title: Live Streaming
sponsors_under_navigation: true
---
<%
# vim: set ts=2 sw=2 et ai ft=eruby:
%>
<%
  show_video_links = false
  current_day_slug = ''
  current_event = nil

  if @site.config.fetch(:override_time)
    current_time = Time.parse(@site.config.fetch(:schedule_time))
  else
    current_time = Time.now
  end
  current_date = current_time.to_date
%>
<p>Links to the live streaming in each room will appear on this page during the conference.</a>
<p>Static overviews of the <a href="<%= $item_by_id.fetch('/schedule/rooms/').path %>">rooms</a> and the 
<a href="<%= $item_by_id.fetch('/schedule/roomtracks/').path %>">room occupation by track</a>
are available, too.</p>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Room Schedule</th>
      <% days.each do |d|
	  next if d[:conference_day] != current_date
      %>
        <th><%= d[:title] %></th>
      <% end %>
      
      <%
	days.each do |d| 
	  next if d[:conference_day] != current_date
	  current_day_slug = d[:slug]
	  show_video_links = true
      %>
	<th>Happening Now (<%= current_time.strftime("%H:%M %A") %>)</th>
	<th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%
      $buildings.each do |b, brooms|
        #brooms = brooms.reject{|r| r[:events].empty?}.sort_by{|r| [r[:rank], r[:conference_room_id]]}
        brooms = brooms.sort_by{|r| [r[:rank], r[:conference_room_id]]}
        unless brooms.empty?
          brooms.each_with_index do |r, i|
        %>
        <tr>
          <% if i == 0 %>
            <th class="building" rowspan="<%= brooms.size %>"><%= b %></th>
          <% end %>
          <td><%= l(r) %></td>
          <%
            days.each do |d|
	      next if d[:conference_day] != current_date
              dayevents = r[:events_by_day].fetch(d[:slug].to_sym, []).map(&$to_event)
            %>
            <% if dayevents.empty? %>
              <td>-</td>
            <% else %>
              <%
                first = dayevents.map{|e| e[:start_time]}.sort.first
                last  = dayevents.map{|e| e[:end_time]}.sort.last
                daytracks = dayevents.map{|e| e[:track]}.uniq.map(&$to_track).sort_by{|t| [t[:start_time].fetch(d[:slug].to_sym), t[:rank], t[:conference_track_id]]}
              %>
              <td><%= first %>-<%= last %><% unless daytracks.empty? %>: <%= l daytracks, :name %><% end %></td>
            <% end %>
          <% end %>
	  <% if show_video_links %>
	    <%
	      current_event = nil
              dayevents = r[:events_by_day].fetch(current_day_slug.to_sym, []).map(&$to_event)
	      dayevents.each do |e|
                event_start = Time.parse(e[:start_datetime])
                event_end = Time.parse(e[:end_datetime])
                next if event_start - current_time > 7 * 60
                next if event_end - current_time <= 1
		current_event = e
	      end
	    %>
	    <% if current_event %>
	      <td><%= l(current_event) %> - <%= l current_event[:speakers].map(&$to_speaker) %> (<%= current_event[:start_time] %>-<%= current_event[:end_time] %>)</td>
	    <% else %>
	      <td>No event scheduled.</td>
	    <% end %>
	    <% if r[:slug] =~ /corridor/ or r[:slug] =~ /h3227/ or r[:slug] =~ /h3228/ or r[:slug] =~ /level/ or r[:slug] =~ /ub4228/ or r[:slug] =~ /j1106/ or !current_event %>
	      <td></td>
	    <% else %>
            <td><a href="<%=stream_direct_link(current_event)%>">Watch Live!</a></td>
	    <% end %>
	  <% end %>
        </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
