---
title: Tracks
sponsors_under_navigation: true
---
<%
categories = [
    {type: "keynote"},
    {type: "lightningtalk"},
    {type: "certification"},
    {type: "bof"},
    {type: "workshop"},
    {heading: "Main tracks", type: "maintrack"},
    {heading: "Developer rooms", type: "devroom"},
]
%>
<% unless categories.map{|c| tracks.select{|t| t[:type] == c[:type]}.map{|t| t[:events].map(&$to_event).size}.inject(:+)}.select{|s| s == 0}.empty? %>
    <p>Note that lines that do not have a room and times listed
    currently do not have scheduled events yet, but they are
    confirmed to take place.</p>
<% end %>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Track</th>
	    <th>Call For<br /> Papers</th>
            <th>Rooms</th>
            <% days.each do |d| %>
            <th><%= d[:title] %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <%
            categories.each do |category|
                list = tracks.select{|t| t[:type] == category[:type]}
            %>
            <% unless list.empty?  %>
                <% if category[:heading] %>
                    <tr>
                        <th colspan="<%= 3 + days.size %>"><h4><%= category[:heading] %></h4></th>
                    </tr>
                <% end %>
                <%
                    list.each do |t|
                        events = t[:events].map &$to_event
                    %>
                    <% if events.empty? %>
                        <% if category[:heading] %>
                            <tr>
                                <td><%= l t, :name %></td>
			        <td>
			        <% if  t[:conference_call_for_papers_url] && !t[:conference_call_for_papers_url].empty? %>
			            <a href="<%= t[:conference_call_for_papers_url] %>">CfP</a>
			        <% end %>
			        </td>
                                <td colspan="<%= 1 + days.size %>"></td>
                            </tr>
                        <% end %>
                    <% else %>
                        <tr>
                            <td><%= l t, :name %></td>
			    <td>
			    <% if  t[:conference_call_for_papers_url] %>
			        <a href="<%= t[:conference_call_for_papers_url] %>">CfP</a>
			    <% end %>
			    </td>
                            <td><%= l events.map{|e| e[:room]}.uniq.map(&$to_room).sort_by{|r| [r[:rank], r[:conference_room_id]]} %></td>
                            <% days.each do |d| %>
                                <td><%=
                                events_that_day = events.select{|e| e[:conference_day_id] == d[:conference_day_id]}
                                if events_that_day.empty?
                                    "-"
                                else
                                    "#{events_that_day.sort_by{|e| e[:start_time]}.first[:start_time]} - #{events_that_day.sort_by{|e| e[:end_time]}.last[:end_time]}"
                                end
                                %></td>
                            <% end #days %>
                        </tr>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    </tbody>
</table>
