---
title: Sponsors
no_sponsors: true
sponsors_root: true
---
<p>
  FOSDEM would not be possible without the generous help of our sponsors. Thank
  you very much!
</p>
<p>
  If you are interested in sponsoring FOSDEM, send us an email at
  <a href="mailto:sponsors@fosdem.org">sponsors@fosdem.org</a> or see our
  <%= l('/contact/', 'contact') %> page for more information.
</p>

<p>
  While FOSDEM is primarily funded by sponsors and the sale of t-shirts onsite,
  we also gratefully accept voluntary donations. See our
  <%= l('/support/donate/', 'donations') %> page for more information.
</p>

<div id="s-quick-links">
    <% [ lambda{|s| s.cornerstone?}, lambda{|s| not s.cornerstone?} ].each_with_index do |row, i| %>
        <% if i > 0 %><br /><% end %>
        <% sponsors.select{|s| s.include_in_toplevel? }.select(&row).each do |s| %>
            <a href="#<%= s.id %>">
                <% if s.thumb? then %>
                    <%= img s.thumb, {alt: s.name} %>
                <% else %>
                    <%= s.name %>
                <% end %>
            </a>
        <% end %>
    <% end %>
</div>

<hr />

<% [
    { title: 'Cornerstone sponsor', plural: true,  alpha: true,  id: 'cornerstone', section: '',       selector: lambda{|s| s.cornerstone?} },
    { title: 'Main sponsor',        plural: true,  alpha: true,  id: 'main',        section: '',       selector: lambda{|s| not s.cornerstone?} },
    { title: 'Thanks',              plural: false, alpha: false, id: 'thanks',      section: 'thanks', selector: lambda{|s| true} },
].each_with_index do |section, index|
%>
<% unless index == 0 %><hr /><% end %>
<% list = sponsors.select{|s| section[:section] == s.section }.select(&section[:selector]) %>
<a name="<%= section[:id] %>"></a><h2><%= section[:title] %><% if section[:plural] and list.size > 1 %>s<% end %></h2>
<% if section[:alpha] and list.size > 1 %>
    <span class="muted">(in alphabetical order)</span>
<% end %>
<% list.each_with_index do |s, i| %>
<a name="<%= s.id %>"></a>
<h2><a href="<%= s.url %>" title="<%= s.name %> website"><%= s.name %></a></h2>
<div class="s-unit<% if (i+1) == list.size %> s-unit-last<% end %>">
<% if s.logo? %>
<% if s.url? %><a href="<%= s.url %>" title="<%= s.name %> website"><% end %>
<%= img s.logo, {class: "s-logo"} %>
<% if s.url? %></a><% end %>
<% end %>
<%= s.propaganda %>
</div>
<% end %>
<% end %>

