---
title: Sponsors
no_sponsors: true
sponsors_root: true
---
<p>
FOSDEM would not be possible without the generous help of our sponsors.
</p>
<p>
Thank you very much!
</p>
<div id="sponsors-quick-links">
    <% sponsors.select{|s| s.include_in_toplevel? }.reverse.each do |s| %>
	<a href="#<%= s.id %>">
		<% if s.thumb? then %>
        <%= img s.thumb, {alt: s.name} %>
		<% else %>
		<%= s.name %>
		<% end %>
	</a>
	<% end %>
</div>

<hr />

<% [
{
:title => '<h3>In alphabetical order</h3>',
:id => 'sponsors',
:section => '',
},
{
:title => '<h1>Thanks</h1>',
:id => 'thanks',
:section => 'thanks',
},
].each_with_index do |section, index|
%>
<% unless index == 0 %>
<hr />
<% end %>

<%= section[:title] %>

<table id="<%= section[:id] %>">
	<tbody>
        <%
        sponsors
        .select{|s| section[:section] == s.section }
        .each do |s| %>
		<tr>
			<td colspan="2">
                <h2><a name="#<%= s.id %>" id="<%= s.id %>"></a><a href="<%= s.url %>"><%= s.name %></a></h2>
			</td>
		</tr>
		<tr>
            <td><%= s.propaganda %><br/><br/></td>
            <td>
                <% if s.logo? then %>
                <% if s.url? then %>
                <a href="<%= s.url %>" alt="<%= s.url %>" title="<%= s.name %> website">
                <% end %>
                <%= img s.logo %>
                <% if s.url? then %>
                </a>
                <% end %>
                <% end %>
            </td>
		</tr>
		<% end %>
	</tbody>
</table>

<% end %>
