---
title: Devrooms for FOSDEM 2013
---
<p>Here is the list of Developer Rooms that will be present
at FOSDEM 2013:</p>
---MORE---
<%
  daymap = {
    'Saturday' => day('saturday')[:conference_day].strftime('%a, %b %d %Y'),
    'Sunday' => day('sunday')[:conference_day].strftime('%a, %b %d %Y'),
    'Both days' => day('saturday')[:conference_day].strftime('%a %d') + " + " + day('sunday')[:conference_day].strftime('%a %d %b %Y')
  }
  daytext = {
    'sat' => 'Saturday',
    'sun' => 'Sunday',
    'both' => 'Both days',
  }
  def cfp_date(d)
    if d
      d.strftime("%Y-%m-%d")
    else
      'TBA'
    end
  end
  def cfp_mail_uri(m)
    if m.nil? or m.empty?
      '-'
    else
      case m
      when %r{^\d{4}-.+/\d+}
        %Q!<a href="https://lists.fosdem.org/pipermail/fosdem/#{m}.html">announcement</a>!
      else
        %Q!<a href="#{m}">announcement</a>!
      end
    end
  end
%>
<table class="table table-condensed table-hover table-striped">
  <thead>
    <tr>
      <th>Day(s)</th>
      <th>Devroom Name</th>
      <th>Call for Talks</th>
      <th>Deadline</th>
    </tr>
  </thead>
  <tbody>
    <% $item_by_id.fetch('/devrooms-cfp/')[:deadlines].each do |devroom, meta| %>
      <tr>
        <td><%= daytext.fetch(meta.fetch(:days)) %></td>
        <td><%= devroom.to_s %></td>
        <td><%= cfp_mail_uri(meta[:ann]) %></td>
        <td><%= cfp_date(meta[:deadline]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><span class="label label-info">Note</span> that the <q>Day(s)</q> column refers to the following:</p>
<dl class="dl-horizontal">
  <% daymap.each do |k,v| %>
    <dt><%= k %></dt>
    <dd><%= v %></dd>
  <% end %>
</dl>


