---
title: Devrooms for FOSDEM 2013
---
<p>Here is the list of Developer Rooms that will be present
at FOSDEM 2013:</p>
---MORE---
<%
  daymap = {
    'Saturday' => day('saturday')[:conference_day].strftime('%e %B %Y'),
    'Sunday' => day('sunday')[:conference_day].strftime('%e %B %Y'),
    'Both days' => day('saturday')[:conference_day].strftime('%e') + " &amp; " + day('sunday')[:conference_day].strftime('%e %B %Y')
  }
  daytext = {
    'sat' => 'Saturday',
    'sun' => 'Sunday',
    'both' => 'Both days',
  }
%>
<table class="table table-condensed table-hover table-striped">
  <thead>
    <tr>
      <th>Day(s)</th>
      <th>Devroom Name</th>
      <th>Call for Talks</th>
      <th>Deadline</th>
    </tr>
  </thead>
  <tbody>
    <% $item_by_id.fetch('/devrooms-cfp/')[:deadlines].each do |devroom, meta| %>
      <tr>
        <td><%= daytext.fetch(meta.fetch(:days)) %></td>
        <td><%= devroom.to_s %></td>
        <td><%= cfp_mail_uri(meta[:ann]) %></td>
        <td><%= cfp_date(meta[:deadline]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><span class="label label-info">Note</span> that the <q>Day(s)</q> column refers to the following:</p>
<dl class="dl-horizontal">
  <% daymap.each do |k,v| %>
    <dt><%= k %></dt>
    <dd><%= v %></dd>
  <% end %>
</dl>


