---
title: Call for participation at FOSDEM
---
<%
# vim: set ts=2 sw=2 et ai ft=eruby:
%>
<%
  def cfp(tag)
    item = $item_by_id.fetch("/call_for_#{tag.to_s}/")
    text = %Q!To apply, see the <a href="#{item.path}" title="#{henc item[:title]}">#{item[:title].downcase}</a>!
    if item[:deadline_extended] == true
      text << %Q!, <b>deadline extended</b> to !
    else
      text << %Q!, <b>deadline</b> on !
    end
    text << %Q!<span class="label label-info">#{item[:deadline].strftime("%a %Y-%m-%d")}</span>!

    text
  end
%>
<p>
We invite <u>any and all open source projects</u> to participate in
<%= conference[:title] %>
with a <b>talk in a devroom</b>, a <b>lightning talk</b> or by <b>manning a
stand</b>.
</p>
---MORE---
<h3>Main track talks</h3>
<p>
The main tracks host high-quality seminars for a broad and technical audience.
They are held in the two biggest auditoria and last 50 minutes. Each of the
talks is given by a speaker who gets their travel and accommodation costs
reimbursed. 
</p>

<p><%= cfp(:main_speakers) %></p>

<h3>Stands</h3>
<p>
Stands are places in the hallways that can be used to share information, demo
software, sell merchandising, give away goodies and so forth. They allow
projects to present themselves to the visitors in a more personal fashion. 
</p>

<p><%= cfp(:stands) %></p>

<h3>Lightning Talks</h3>
<p>
Lightning talks are aimed at projects that do not fit in one of the devrooms
listed below. During exactly 15 minutes, one person gets to present the project
or any aspect of it. All the lightning talks happen in a large room that can
host up to 300 people.
</p>
            
<p><%= cfp(:lightningtalks) %></p>

<h3>Devrooms</h3>
<p>
A devroom is a <q>developer room</q> in which open source communities can organize
their own schedule, made of presentations, brainstorming and hacking sessions.
Our goal is to stimulate developer collaboration and cross-pollination between
projects.
</p>

<p>
If an announcement is missing,
ask <a href="mailto:devrooms@fosdem.org">devrooms@fosdem.org</a>
for the contact address.
</p>

<%
  daymap = {
    'Saturday' => day('saturday')[:conference_day].strftime('%a, %b %d %Y'),
    'Sunday' => day('sunday')[:conference_day].strftime('%a, %b %d %Y'),
    'Both days' => day('saturday')[:conference_day].strftime('%a %d') + " + " + day('sunday')[:conference_day].strftime('%a %d %b %Y')
  }
  daytext = {
    'sat' => 'Saturday',
    'sun' => 'Sunday',
    'both' => 'Both days',
  }
  def cfp_date(d)
    if d
      d.strftime("%Y-%m-%d")
    else
      'TBA'
    end
  end
  def cfp_mail_uri(m)
    if m.nil? or m.empty?
      '-'
    else
      case m
      when %r{^\d{4}-.+/\d+}
        %Q!<a href="https://lists.fosdem.org/pipermail/fosdem/#{m}.html">announcement</a>!
      else
        %Q!<a href="#{m}">announcement</a>!
      end
    end
  end
%>
<table class="table table-condensed table-hover table-striped">
  <thead>
    <tr>
      <th>Day(s)</th>
      <th>Devroom Name</th>
      <th>Call for Talks</th>
      <th>Deadline</th>
    </tr>
  </thead>
  <tbody>
    <% $item_by_id.fetch('/devrooms-cfp/')[:deadlines].each do |devroom, meta| %>
      <tr>
        <td><%= daytext.fetch(meta.fetch(:days)) %></td>
        <td><%= devroom.to_s %></td>
        <td><%= cfp_mail_uri(meta[:ann]) %></td>
        <td><%= cfp_date(meta[:deadline]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><span class="label label-info">Note</span> that the <q>Day(s)</q> column refers to the following:</p>
<dl class="dl-horizontal">
  <% daymap.each do |k,v| %>
    <dt><%= k %></dt>
    <dd><%= v %></dd>
  <% end %>
</dl>


