---
title: Keysigning - time to submit your keys
---
<p>
  Instructions on how to participate in the <%= conference()[:title] %>
  keysigning event have been published and the keyserver is accepting
  submissions.
</p>
---MORE---
<p>
  The annual keysigning event at FOSDEM is one of the largest of its kind.  With
  more than one hundred participants every year, it is an excellent opportunity
  to strengthen the web of trust.
</p>

<p>
  For instructions on how to participate, please see
  <a href="<%= pathof '/keysigning/' %>">the keysigning page on our
  website</a>.
</p>
