---
title: Extended Deadlines
---
<p>
The deadlines for <a href="page:/call_for_stands/">stand</a>
and <a href="page:/call_for_lightningtalks">lightning talk</a> submissions
have been extended by popular demand.
</p>
---MORE---
<p>The deadlines are now, respectively:</p>
<dl class="horizontal-list">
  <dt><a href="page:/call_for_stands/">Stands</a>:</dt>
  <dd><%= deadlines(:stands) %></dd>
  <dt><a href="page:/call_for_lightningtalks/">Lightning Talks</a>:</dt>
  <dd><%= deadlines(:lightningtalks) %></dd>
</dl>
