---
title: First main tracks and keynote presentations!
---
<p>
  We received a lot of good proposals and deciding which ones to accept is not
  an easy task.
</p>
---MORE---
<p>
  A number of proposals are still being reviewed and we are still working with
  some speakers.  We can already announce the following keynotes and main track
  presentations:
</p>

<%
  def elist(list)
    list
    .map{|id| $item_by_id.fetch("/schedule/event/#{id}/")}
    .sort_by{|item| item[:title]}
    .map{|item|
    %Q!
      <tr>
	<td><a href="#{item.path}">#{item[:title]}</a></td>
	<td>#{item[:speakers].map{|s| speaker(s)}.map{|s| %Q:<a href="#{s.path}">#{s[:name]}</a>:}.join(', ')}</td>
      </tr>
    !}.join("\n") end
%>

<table class="table table-striped table-condensed table-bordered">
  <thead>
    <tr>
      <th colspan="2"><h4>Keynotes</h4></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Speaker</th>
    </tr>
  </thead>
  <tbody>
    <%= elist %w{
    software_archaeology_for_beginners
    how_we_found_600000_grammar_errors
    } %>
  </tbody>

  <thead>
    <tr>
      <th colspan="2"><h4>Tracing and debugging track</h4></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Speaker(s)</th>
    </tr>
  </thead>
  <tbody>
    <%= elist %w{
      linux_tracing_with_lttng
      making_the_linux_kernel_better
      your_application_versus_gdb
    } %>
  </tbody>

  <thead>
    <tr>
      <th colspan="2"><h4>Memory and storage track</h4></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Speaker(s)</th>
    </tr>
  </thead>
  <tbody>
    <%= elist %w{
      whats_new_in_openldap
      persistent_memory
      concurrent_programming_made_simple
    } %>
  </tbody>
</table>
