---
title: First main track  presentations!
---
<p>
  We received a lot of good proposals and deciding which ones to accept is not
  an easy task.
</p>
---MORE---
<p>
  A number of proposals are still being reviewed and we are still working with
  some speakers.  We can already announce the following main track
  presentations:
</p>

<%
  def elist(list)
    list
    .map{|id| $item_by_id.fetch("/schedule/event/#{id}/")}
    .sort_by{|item| item[:title]}
    .map{|item|
    %Q!
      <tr>
	<td><a href="#{item.path}">#{item[:title]}</a></td>
	<td>#{item[:speakers].map{|s| speaker(s)}.map{|s| %Q:<a href="#{s.path}">#{s[:name]}</a>:}.join(', ')}</td>
      </tr>
    !}.join("\n") end
%>

<table class="table table-striped table-condensed table-bordered">
  <thead>
    <tr>
      <th colspan="2"><h4>Performance track</h4></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Speaker</th>
    </tr>
  </thead>
  <tbody>
    <%= elist %w{
    building_high_performance_language_implementations
    igprof_the_ignominous_profiler
    superoptimization
    ubiquitous_performance_analysis_and_system_introspection
    } %>
  </tbody>

  <thead>
    <tr>
      <th colspan="2"><h4>Time track</h4></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Speaker</th>
    </tr>
  </thead>
  <tbody>
    <%= elist %w{
    computers_clocks_and_network_time
    } %>
  </tbody>

  <thead>
    <tr>
      <th colspan="2"><h4>Languages track</h4></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Speaker</th>
    </tr>
  </thead>
  <tbody>
    <%= elist %w{
    design_and_implementation_of_a_perl_number_theory_module
    } %>
  </tbody>
</table>
