---
title: More main track presentations confirmed
---
<p>
  We are pleased to announce a second round of confirmed presentations.
</p>
---MORE---
<p>
  There is more to come as we are still reviewing a number of proposals.
</p>

<%
  def elist(list)
    list
    .map{|id| $item_by_id.fetch("/schedule/event/#{id}/")}
    .sort_by{|item| item[:title]}
    .map{|item|
    %Q!
      <tr>
	<td><a href="#{item.path}">#{item[:title]}</a></td>
	<td>#{item[:speakers].map{|s| speaker(s)}.map{|s| %Q:<a href="#{s.path}">#{s[:name]}</a>:}.join(', ')}</td>
      </tr>
    !}.join("\n") end
%>

<table class="table table-striped table-condensed table-bordered">
  <thead>
    <tr>
      <th colspan="2"><h4>Keynotes</h4></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Speaker</th>
    </tr>
  </thead>
  <tbody>
    <%= elist %w{
      identity_crisis
      what_is_wrong_with_operating_systems
    } %>
  </tbody>

  <thead>
    <tr>
      <th colspan="2"><h4>Languages track</h4></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Speaker</th>
    </tr>
  </thead>
  <tbody>
    <%= elist %w{
      apache_celix
      the_story_of_rust
      get_ready_to_party
    } %>
  </tbody>

  <thead>
    <tr>
      <th colspan="2"><h4>Time track</h4></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Speaker</th>
    </tr>
  </thead>
  <tbody>
    <%= elist %w{
      technical_aspects_of_leap_second_propagation_and_evaluation
      ntimed_ntpd_replacement
      ntf_s_general_timestamp_api_and_library
    } %>
  </tbody>

  <thead>
    <tr>
      <th colspan="2"><h4>Typesetting track</h4></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Speaker</th>
    </tr>
  </thead>
  <tbody>
    <%= elist %w{
      sdaps
      introducing_sile
      algorithmic_graph_drawing_in_tikz
    } %>
  </tbody>

  <thead>
    <tr>
      <th colspan="2"><h4>Hardware track</h4></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Speaker</th>
    </tr>
  </thead>
  <tbody>
    <%= elist %w{
      gps_watch
      lowrisc
      beri
      freecad
    } %>
  </tbody>

  <thead>
    <tr>
      <th colspan="2"><h4>Miscellaneous track</h4></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>Speaker</th>
    </tr>
  </thead>
  <tbody>
    <%= elist %w{
      automating_attribution
      a_new_version_of_firefox_is_available
    } %>
  </tbody>
</table>
