---
title: Accepted developer rooms
---

<p>
  We are pleased to announce the developer rooms that will be
  organised at FOSDEM 2019.
</p>

---MORE---

<p>
  Developer rooms are assigned to self-organising groups to work
  together on open source projects, to discuss topics relevant to a
  broader subset of the community, etc.  The individual developer room
  organisers will issue their calls for participation in the next few
  days.
</p>

<p>
  We will update this table with links to the calls for participation.
</p>

<%
  daymap = {
    :saturday => day('saturday')[:conference_day].strftime('%A %e %B %Y'),
    :sunday => day('sunday')[:conference_day].strftime('%A %e %B %Y'),
  }
%>

<table class="table table-striped table-condensed table-bordered">
  <% $item_by_id.fetch('/devrooms-cfp/')[:days].each do |day, devrooms| %>
  <thead>
    <tr>
      <th colspan="3"><h4><%= daymap.fetch(day) %></h4></th>
    </tr>
    <tr>
      <th>Topic</th>
      <th>Call for Participation</th>
      <th>CfP deadline</th>
    </tr>
  </thead>
  <tbody>
    <% devrooms.each do |devroom, meta| %>
    <tr>
      <td><%= devroom.to_s %></td>
      <% if meta.nil? %>
      <td>-</td>
      <td>TBA</td>
      <% else %>
      <td><%= cfp_mail_uri(meta[:ann]) %></td>
      <td><%= cfp_date(meta[:deadline]) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
  <% end %>
</table>
