<dl class="dl-horizontal well">
    <dt>Track:</dt>
    <dd><%= l track(item[:track]) %></dd>
    <dt>Room:</dt>
    <dd><%= l room(item[:room]) %></dd>
    <dt>Day:</dt>
    <dd><%= l day(item[:day]) %></dd>
    <dt>Start:</dt>
    <dd><%= ltt item[:day], item[:start_time] %></dd>
    <dt>End:</dt>
    <dd><%= ltt item[:day], item[:end_time] %></dd>
</dl>

<% if item[:abstract] %><%= item[:abstract] %><% end %>
<% if item[:description] %><%= item[:description] %><% end %>

<% unless item[:speakers].empty? %>
<h3>Speakers</h3>
<table>
    <tbody>
        <% item[:speakers].map(&$to_speaker).each do |s| %>
        <tr>
            <% photo = s[:thumbnail] ? $item_by_id.fetch("/photos/thumbnail/#{s[:thumbnail][:slug]}/") : nil%>
            <td><% if photo %><a href="/schedule/speaker/<%= s[:slug] %>/"><img height="<%= s[:thumbnail]['height'] %>" width="<%= s[:thumbnail]['width'] %>" src="<%= photo.path %>"/></a><% end %></td>
            <td><%= l s %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<% end %>

<% unless item[:links].empty? %>
<h3>Links</h3>
<ul>
    <% item[:links].each do |l| %>
    <li><a href="<%= l[:url] %>"><%= l[:title] %></a></li>
    <% end %>
</ul>
<% end %>
