<dl class="dl-horizontal well">
    <dt>Capacity:</dt>
    <dd><%= item[:size] %></dd>
    <% item[:events_by_day].each do |day_slug, event_slugs| %>
    <% unless event_slugs.empty? %>
    <%
        day = day(day_slug)
        events = event_slugs.map(&$to_event)
        s = events.sort_by{|e| e[:start_datetime]}.first[:start_time]
        e = events.sort_by{|e| e[:end_datetime]}.last[:end_time]
        tracks = events.map{|e| e[:track]}.uniq.map(&$to_track).sort_by{|t| t[:rank]}
    %>
    <dt><%= l(day) %>:</dt>
    <dd><%= s %>-<%= e %><% unless tracks.empty? %>: <%= l(tracks, :name)%><% end %></dd>
    <% end %>
    <% end %>
</dl>

<% unless item[:events].empty? %>
<h3>Sessions</h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Title</th>
            <th>Track</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <% item[:events].map(&$to_event).group_by{|e| e[:day_name]}.each do |day, dayevents| %>
        <tr>
            <td colspan="4"><h3><%= day %></h3></td>
        </tr>
        <% dayevents.sort_by{|e| e[:start_datetime]}.each do |e| %>
        <tr>
            <td><%= l e %></td>
            <td><%= l track(e[:track]), :name %></a></td>
            <td><%= ltt e[:day], e[:start_time] %></td>
            <td><%= ltt e[:day], e[:end_time] %></td>
        </tr>
        <% end %>
        <% end %>
    </tbody>
</table>
<% end %>
