<dl class="dl-horizontal well">
    <% if item[:rooms].empty? %>
    <dt>Room:</dt>
    <dd>No room assigned yet</dd>
    <% else %>
    <dt>Room<%= item[:rooms].size == 1 ? '' : 's' %>:</dt>
    <dd><%= item[:rooms].map{|slug| $item_by_id.fetch("/schedule/room/#{slug}/")}.map{|r| "<a href=\"/schedule/room/#{r[:slug]}/\">#{r[:title]}</a>"}.join(", ") %></dd>
    <% end %>
    <dt>Calendar:</dt>
    <dd><a href="<%= $item_by_id.fetch("/schedule/ical/track/#{item[:slug]}/").path %>">iCal</a> - <a href="<%= $item_by_id.fetch("/schedule/xcal/track/#{item[:slug]}/").path %>">xCal</a></dd>
</dl>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Event</th>
            <th>Speakers</th>
            <% if item[:rooms].size > 1 %>
            <th>Room</th>
            <% end %>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <%
        item[:events_by_day].each do |day_slug, event_slugs|
        unless event_slugs.empty?

        day = $item_by_id.fetch("/schedule/day/#{day_slug}/")
        events = event_slugs.map{|slug| $item_by_id.fetch("/schedule/event/#{slug}/")}
        rooms = (item[:rooms].size > 1) ? item[:rooms].map{|slug| $item_by_id.fetch("/schedule/room/#{slug}/")} : []
        #<
        %>
        <tr>
            <td colspan="5"><h2><%= day[:title] %></h2></td>
        </tr>
        <% events.sort_by{|e| [e[:start_time], e[:room_rank]]}.each do |e| %>
        <tr>
            <td><a href="/schedule/event/<%= e[:slug] %>/"><%= e[:title] %></a></td>
            <td><%= e[:speakers].map{|slug| $item_by_id.fetch("/schedule/speaker/#{slug}/")}.map{|s| "<a href=\"/schedule/speaker/#{s[:slug]}/\">#{s[:title]}</a>"}.join(", ") %>
            <%
            unless rooms.empty?
            room = $item_by_id.fetch("/schedule/room/#{e[:room]}/")
            %>
            <td><a href="/schedule/room/<%= room[:slug] %>/"><%= room[:title] %></a></td>
            <% end %>
            <td><%= e[:start_time] %></td>
            <td><%= e[:end_time] %></td>
        </tr>
        <% end %>
        <% end %>
        <% end %>
    </tbody>
</table>

