---
title: Tracks
---
<table>
    <thead>
        <tr>
            <th>Track</th>
            <th>Events</th>
            <th>Rooms</th>
            <th>Days</th>
        </tr>
    </thead>
    <tbody>
        <% $tracks.reject{|t| $track_events[id(t)].empty?}.sort_by{|t| t.rank}.each do |t| %>
        <tr>
            <td><a href="track:<%= slug(t) %>"><%= t.conference_track %></a></td>
            <td><%= $track_events[id(t)].size %></td>
            <td><%= $track_events[id(t)].map{|e| e.conference_room_id}.uniq.map{|id| $room_by_id[id]}.sort_by{|r| r.rank}.map{|r| l(r)}.join(", ") %></td>
            <td><%= $track_events[id(t)].map{|e| e.start_datetime.to_date}.uniq.sort.map{|d| d.strftime('%a')}.join(", ") %></td>
        </tr>
        <% end %>
    </tbody>
</table>
