---
title: Accommodation
---
<%
# vim: set ts=2 sw=2 et ft=eruby fileencoding=utf-8:
%>

<p>FOSDEM does not recommend any particular hotel or hostel. However, here is a
list of popular accommodations for FOSDEM visitors to get you started. You can
also check <a href="http://lists.fosdem.org/mailman/listinfo">the mailing
list</a> for more information. <a target="_blank"
href="http://wikitravel.org/en/Brussels#Sleep">wikitravel</a> also lists some
places to stay.</p>

<a name="hotels"></a><h2>Hotels</h2>
<p>Brussels has a large selection of hotels in every pricerange. Check out
hotel reviews and prices at
<a href="http://www.booking.com/searchresults.html?city=-1955538">booking.com</a>
or
<a href="http://www.tripadvisor.com/Hotels-g188644-Brussels-Hotels.html">tripadvisor.com</a>.
</p>

<h2>CouchSurfing / BeWelcome</h2>
<p>Are you looking for a couch or do you maybe have one to offer?
Join the FOSDEM <a target="_new" href="http://www.couchsurfing.com/group.html?gid=16380">CouchSurfing</a>
or <a target="_new" href="http://www.bewelcome.org/groups/524">BeWelcome</a> group and find fellow visitors!</p>

<% $item_by_id.fetch('/hotels/')[:hotels].each do |section, hotels| %>
<h2><%= section.to_s %></h2>
<p>In alphabetical order:</p>
<%
hotels.keys.sort.each_with_index do |name, i|
hotel = hotels[name]
%>
<% if i%2==0 %>
<div class="row-fluid">
<% end %>
<div class="vcard hotel span6">
    <h3 class="n org"><%= name %></h3>
    <span class="adr">
        <span class="street-address"><%= hotel[:street] %></span>
        <% if hotel[:map] %><a href="<%= hotel[:map] %>" title="<%= name %> on Google Maps"><i class="icon-map-marker"></i></a><% end %>
        <%
          if hotel[:maps]
          hotel[:maps].each do |url|
          tag = case url
            when %r{/goo\.gl/}
            ' on Google Maps'
            when %r{/osm\.org/}
              ' on OSM'
            else
            ''
            end
        %>
        <a href="<%= url %>" title="<%= name %><%= tag %>"><i class="icon-map-marker"></i></a>
        <%
          end
          end
        %>
        <br/>
        <span class="postal-code"><%= hotel[:zip] %></span>
        <span class="locality"><%= hotel.fetch(:loc, 'Brussels') %></span><br/>
        <span class="country-name">Belgium</span><br/>
        <% if hotel[:email] %><i class="icon-envelope"></i> <a class="email" href="mailto:<%= hotel[:email] %>"><%= hotel[:email] %></a><br/><% end %>
        <% if hotel[:tel] %><i class="icon-info-sign"></i> Tel: <a class="tel" href="tel:<%= ("+32"+hotel[:tel]).gsub(/[\s\.]+/,'') %>">+32 <%= hotel[:tel] %></a><br/><% end %>
        <% if hotel[:fax] %><i class="icon-print"></i> Fax: <span class="fax">+32 <%= hotel[:fax] %></span><br/><% end %>
        <i class="icon-globe"></i> <a class="url" href="<%= hotel[:url] %>"><%= hotel[:url].gsub(%r{^https.://},'') %></a>
    </span>
</div>
<% if i%2==1 or i>=hotels.size-1%>
</div> <!-- row -->
<% end %>
<% end %>
<% end %>
