---
title: Accommodation
---
<%
# vim: set ts=2 sw=2 et ft=eruby fileencoding=utf-8:
%>

<p>FOSDEM does not recommend any particular hotel or hostel. However, here is a
list of popular accommodations for FOSDEM visitors to get you started. You can
also check <a href="http://lists.fosdem.org/mailman/listinfo">the mailing
list</a> for more information. <a target="_blank"
href="http://wikitravel.org/en/Brussels#Sleep">wikitravel</a> also lists some
places to stay.</p>

<a name="hotels"></a><h2>Hotels</h2>
<p>Brussels has a large selection of hotels in every price range. Check out
hotel reviews and prices at
<a href="http://www.booking.com/searchresults.html?city=-1955538">booking.com</a>
or
<a href="http://www.tripadvisor.com/Hotels-g188644-Brussels-Hotels.html">tripadvisor.com</a>.
</p>

<p>A number of hotels in Brussels offer a discount to FOSDEM visitors.</p>

<p>The following hotels have a discounted rate available:</p>

<p>
<table class="table table-condensed table-striped table-bordered">
  <thead>
     <tr>
       <th>Hotel</th>
       <th>Rating</th>
       <th>Address</th>
       <th>Single room</th>
       <th>Double room</th>
       <th>Wifi</th>
       <th>Contact details</th>
       <th>Reservation form</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td><a href="http://hotelcapital.be/">Hotel Capital</a></td>
       <td>***</td>
       <td>Chauss&eacute;e de Vleurgat 191<br>1050 Brussels</td>
       <td>&euro;65.00</td>
       <td>&euro;75.00</td>
       <td>Free</td>
       <td>Phone: +32 (0)2 646 64 20<br>
           Fax: +32 (0)2 646 33 14<br>
           E-mail: sales@hotelcapital.be
       </td>
       <td><a href="<%= pathof "/assets/accommodation/capital/" %>">Form</a></td>
     </tr>
     <tr>
       <td><a href="http://www.accorhotels.com">Ibis Sainte Catherine</a></td>
       <td>***</td>
       <td>Rue Joseph Plateau 2<br>1000 Brussels</td>
       <td>&euro;73.50</td>
       <td>&euro;87.50</td>
       <td>Free</td>
       <td>Phone: +32 (0)2 541 89 13<br>
           Fax: +32 (0)2 541 89 59 <br>
           E-mail: h3152-re2@accor.com
       </td>
       <td><a href="<%= pathof "/assets/accommodation/ibisstcatherine/" %>">Form</a></td>
     </tr>
     <tr>
       <td><a href="http://www.accorhotels.com">Ibis Off Grand Place</a></td>
       <td>***</td>
       <td>Grasmarkt 100<br>1000 Brussels</td>
       <td>&euro;83.50</td>
       <td>&euro;97.50</td>
       <td>Free</td>
       <td>Phone: +32 (0)2 541 89 12<br>
           Fax: +32 (0)2 541 89 59<br>
           E-mail: h1046-re@accor.com
       </td>
       <td><a href="<%= pathof "/assets/accommodation/ibisogp/" %>">Form</a></td>
     </tr>
     <tr>
       <td><a href="http://www.astridhotel.be/">Astrid Centre</a></td>
       <td>***</td>
       <td>Place du Samedi 11<br>1000 Brussels</td>
       <td>&euro;90.00</td>
       <td>&euro;90.00</td>
       <td>&euro;10.00/day</td>
       <td>Phone: +32 (0)2 210 15 32<br>
           Fax: +32 (0)2 210 15 39<br>
           E-mail: gres@3sh.be
       </td>
       <td><a href="<%= pathof "/assets/accommodation/astrid/" %>">Form</a></td>
     </tr>
     <tr>
       <td><a href="http://www.hotelbedford.be/">Hotel Bedford</a></td>
       <td>****</td>
       <td>Rue du Midi 135<br>1000 Brussels</td>
       <td>&euro;75.00</td>
       <td>&euro;90.00</td>
       <td>Free</td>
       <td>Phone: +32 (0)2 507 00 20<br>
           Fax: +32 (0)2 507 00 10<br>
           E-mail: conference@hotelbedford.be
       </td>
       <td><a href="<%= pathof "/assets/accommodation/bedford/" %>">Form</a></td>
     </tr>
     <tr>
       <td><a href="https://www.starwoodhotels.com/">Four Points by Sheraton</a></td>
       <td>****</td>
       <td>Rue Paul Spaak 15<br>1050 Brussels</td>
       <td>&euro;89.00</td>
       <td>&euro;104.00</td>
       <td>Free</td>
       <td>Phone: +32 (0)2 224 39 14<br>
           Fax: +32 (0)2 224 30 01<br>
           E-mail: saskia.deferrere@starwoodhotels.com
       </td>
       <td><a href="<%= pathof "/assets/accommodation/fourpoints/" %>">Form</a></td>
     </tr>
     <tr>
       <td><a href="http://www.nh-hotels.com/">NH du Grand Sablon</a></td>
       <td>****</td>
       <td>Rue Bodenbroek 2-4<br>1000 Brussels</td>
       <td>&euro;90.00</td>
       <td>&euro;105.00</td>
       <td>Free</td>
       <td>Phone: +32 (0)2 214 09 03<br>
           Fax: +32 (0)2 518 12 99<br>
           E-mail: g.kittis@nh-hotels.com
       </td>
       <td><a href="<%= pathof "/assets/accommodation/sablon/" %>">Form</a></td>
     </tr>
     <tr>
       <td><a href="http://www.thehotel-brussels.be/">The Hotel</a></td>
       <td>****</td>
       <td>Boulevard de Waterloo 38<br>1000 Brussels</td>
       <td>&euro;95.00</td>
       <td>&euro;115.00</td>
       <td>Free</td>
       <td>Phone: +32 (0)2 504 11 11<br>
           Fax: +32 (0)2 504 21 11<br>
           E-mail: celine.bastin@thehotel.be
       </td>
       <td><a href="<%= pathof "/assets/accommodation/thehotel/" %>">Form</a></td>
     </tr>
     <tr>
       <td><a href="http://www.warwickhotels.com/">Royal Windsor</a></td>
       <td>*****</td>
       <td>Rue Duquesnoy 5<br>1000 Brussels</td>
       <td>&euro;115.00</td>
       <td>&euro;145.00</td>
       <td>Free</td>
       <td>Phone: +32 (0)2 505 57 90<br>
           Fax: +32 (0)2 505 57 81<br>
           E-mail: abaudhuin@warwickhotels.com
       </td>
       <td><a href="<%= pathof "/assets/accommodation/royalwindsor/" %>">Form</a></td>
     </tr>
  </tbody>
</table>
</p>

<p>To book a discounted hotel room, please fill out the form (PDF) in the table and e-mail it to the hotel of your choice. Please note that the offered discount is only guaranteed until January 4th!</p>

<h2>CouchSurfing / BeWelcome</h2>
<p>Are you looking for a couch or do you maybe have one to offer?
Join the FOSDEM <a target="_new" href="http://www.couchsurfing.com/group.html?gid=16380">CouchSurfing</a>
or <a target="_new" href="http://www.bewelcome.org/groups/524">BeWelcome</a> group and find fellow visitors!</p>

<% $item_by_id.fetch('/hotels/')[:hotels].each do |section, hotels| %>
<h2><%= section.to_s %></h2>
<p>In alphabetical order:</p>
<%
hotels.keys.sort.each_with_index do |name, i|
hotel = hotels[name]
%>
<% if i%2==0 %>
<div class="row-fluid">
<% end %>
<div class="vcard hotel span6">
    <h3 class="n org"><%= name %></h3>
    <span class="adr">
        <span class="street-address"><%= hotel[:street] %></span>
        <% if hotel[:map] %><a href="<%= hotel[:map] %>" title="<%= name %> on Google Maps"><i class="icon-map-marker"></i></a><% end %>
        <%
          if hotel[:maps]
          hotel[:maps].each do |url|
          tag = case url
            when %r{/goo\.gl/}
            ' on Google Maps'
            when %r{/osm\.org/}
              ' on OSM'
            else
            ''
            end
        %>
        <a href="<%= url %>" title="<%= name %><%= tag %>"><i class="icon-map-marker"></i></a>
        <%
          end
          end
        %>
        <br/>
        <span class="postal-code"><%= hotel[:zip] %></span>
        <span class="locality"><%= hotel.fetch(:loc, 'Brussels') %></span><br/>
        <span class="country-name">Belgium</span><br/>
        <% if hotel[:email] %><i class="icon-envelope"></i> <a class="email" href="mailto:<%= hotel[:email] %>"><%= hotel[:email] %></a><br/><% end %>
        <% if hotel[:tel] %><i class="icon-info-sign"></i> Tel: <a class="tel" href="tel:<%= ("+32"+hotel[:tel]).gsub(/[\s\.]+/,'') %>">+32 <%= hotel[:tel] %></a><br/><% end %>
        <% if hotel[:fax] %><i class="icon-print"></i> Fax: <span class="fax">+32 <%= hotel[:fax] %></span><br/><% end %>
        <i class="icon-globe"></i> <a class="url" href="<%= hotel[:url] %>"><%= hotel[:url].gsub(%r{^https.://},'') %></a>
    </span>
</div>
<% if i%2==1 or i>=hotels.size-1%>
</div> <!-- row -->
<% end %>
<% end %>
<% end %>
