---
title: Catering
---

<h2>Breakfast</h2>
<p>Breakfast will be available on Saturday and Sunday from 08:30 at a very
reasonable price. Sipping on a nice cup of coffee with a fresh croissant or
pastry with butter/raisins/chocolate. Can you imagine a better start of the
day?</p>

<% %w{ croissant butter chocolat raisins }.each do |a| %>
<img src="<%= asset(a).path %>"%>
<% end %>

<h2>Lunch</h2>
<p>Cold sandwiches, grilled chicken or ham sandwiches, fries, hamburgers: We'll
make sure you don't starve.</p>

<p>All the hot food can be purchased at the catering vans parked outside the H
building and will be available from 11:15 on. A selection of cold sandwiches
can be purchased at Bar 1 and Bar 2. Simply follow the arrows (or your nose) if
you're not quite sure where it is.</p>

<h2>Dinner</h2>
<p>FOSDEM takes place in Brussels so there are plenty of restaurants around.
It would be difficult to recommend one, but have a look at
<a href="http://www.abcresto.be">abcresto.be</a> or
<a href="http://www.resto.be">resto.be</a>
if you are looking for something specific.</p>

<h2>Beverages</h2>
<p>Coffee, tea, beer, water and soft drinks can be purchased at Bar 1 and Bar
2. Please respect the environment and return all glass bottles when they are
empty.</p>

<h2>Snacks</h2>
<p>Feel like snacking? Crave for a candy bar or a bag of potato chips? We've
got just what you need at the bar.</p>

