---
title: Practical information
navcat: true
---

<h3 id="registration">Registration and cost</h3>
<p>
  FOSDEM is free to attend.  There is no registration.  Just turn up!
  <br/>
  The conference is primarily funded by <a
  href="page:about/sponsors">sponsors</a> and the sale of t-shirts but
  we also gratefully accept <a href="page:support/donate">donations</a>.
</p>

<h3 id="venue">Getting there</h3>
<p>See <a href="page:practical/transportation">transportation</a>.

<h3 id="timezone">Timezone</h3>
<p>
  All the times on this website are displayed in the local time zone for Brussels which is Central European Time, CET (UTC+1).
</p>

<h3 id="services">Services during FOSDEM</h3>
<p>
  There are a number of free services available to visitors during the event, <a
  href="page:practical/services">see details here.</a>
</p>

<h3 id="conduct">Code of Conduct</h3>
<p>
  In order to keep FOSDEM a fun, interesting and positive experience for
  everybody, we expect participants to follow the
  <a href="page:practical/conduct">FOSDEM Code of Conduct</a>.
</p>

<% if not @site.config.fetch(:virtual) %>
<h3 id="jobcorner">Job Corner</h3>
<p>
  Some passive recruitment is allowed for open source positions and
  contracting. See
  <a href="page:practical/jobcorner">Job Corner</a> for details.
</p>
<% end %>

<h3 id="other">Further information</h3>
<p>
  The <a href="https://lists.fosdem.org/mailman/listinfo/fosdem">fosdem@ mailing
  list</a> is a good place to ask for more information.
  The <a href="https://lists.fosdem.org/pipermail/fosdem/">list archive</a>,
  going back to 2006, contains a wealth of useful information.
</p>
<p>
  Of course you can also <a href="page:contact">contact the organisers</a>!
</p>
