<%
# vim: set ts=2 sw=2 et ai ft=eruby:
%>
<div class="date">
  <div class="holder">
    <div class="frame"><%= item[:created_at].strftime '%Y-%m-%d' %></div>
  </div>
</div>
<h3><a href="page:<%= item[:fullpost] %>"><%= item[:title] %></a></h3>
<p><%= item.compiled_content(:snapshot => :pre) %></p>



	<div class="span11">
        <h5>&#x231A; <%= item[:created_at].strftime('%Y-%m-%d') %></h5>
		<h4>&#9733; <a href="<%= relpath(@item_rep.path, item[:fullpost]) %>"><%= item[:title] %></a></h4>
        <%= item.compiled_content(:snapshot => :pre) %>
	</div>
	<div class="span1">
		<% if item[:readmore] then %>
		<a class="btn btn-inverse btn-large" href="<%= relpath(@item_rep.path, item[:readmore]) %>">&#9654;</a>
		<% end %>
	</div>
</div>
