---
title: <%= y(@e.title) %>
kind: event
speakers:
<% @speakers.each do |s| %>
  -
    name: <%= y name(s) %>
    slug: <%= slug(s) %>
    url: <%= url(s) %>
<% end %>
slug: <%= slug(@e) %>
track: <%= name(@track) %>
track_url: <%= url(@track) %>
track_rank: <%= @track.rank %>
room: <%= name(@room) %>
room_url: <%= url(@room) %>
day: <%= name(@day) %>
day_url: <%= url(@day) %>
shortday: <%= @e.start_datetime.to_date.strftime('%a') %>
event_id: <%= @e.event_id %>
event_type: <%= track_type(@e) %>
start: <%= yd @e.start_datetime %>
end: <%= yd @e.end_datetime %>
links:
<% @links.sort_by{|l| (l.rank or 0).to_i}.each do |l| %>
  -
    title: <%= y(l.title ? l.title : l.url) %>
    url: <%= l.url %>
<% end %>
---
<dl class="dl-horizontal">
    <dt>Track:</dt>
    <dd><%= l(@track) %></dd>
    <dt>Room:</dt>
    <dd><%= l(@room) %></dd>
    <dt>Day:</dt>
    <dd><%= l(@day) %></dd>
    <dt>Start:</dt>
    <dd><%= t(@e.start_datetime) %></dd>
    <dt>End:</dt>
    <dd><%= t(@e.end_datetime) %></dd>
</dl>

<% if @e.abstract %>
<%= markup(@e.abstract) %>
<% end %>
<% if @e.description %>
<%= markup(@e.description) %>
<% end %>

<% unless @speakers.empty? %>
<h3>Speakers</h3>
<table>
    <tbody>
        <%% @item[:speakers].each do |s| %>
        <tr>
            <%% photo = $item_by_id["/schedule/speaker_thumbnails/#{s[:slug]}/"] %>
            <td><%% if photo %><a href="<%%= s[:url] %>"><img height="<%%= photo[:height] %>" width="<%%= photo[:width] %>" src="<%%= photo.path %>"/></a><%% end %></td>
            <td><a href="<%%= s[:url] %>"><%%= s[:name] %></a></td>
        </tr>
        <%% end %>
    </tbody>
</table>
<% end %>

<% unless @links.empty? %>
<h3>Links</h3>
<ul>
    <%
    @links.sort_by{|l| (l.rank or 0).to_i}.each do |l|
    title = l.title ? l.title : l.url
    %>
    <li><a href="<%= l.url %>"><%= l.title %></a></li>
    <% end %>
</ul>
<% end %>

