---
title: Rooms
no_sponsors: true
---
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Room</th>
            <th>Seats</th>
            <% $days.sort_by{|d| d.conference_day}.each do |day| %>
            <th><%= name(day) %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% $rooms.select{|r| r.public}.sort_by{|r| r.rank}.each do |r| %>
        <% events = $room_events[r.conference_room_id] %>
        <tr>
            <td><%= l(r) %></td>
            <td><%= r.size %></td>
            <% $days.sort_by{|d| d.conference_day}.each do |day| %>
            <% dayevents = events.select{|e| e.start_datetime.to_date == day.conference_day} %>
            <% if dayevents.empty? %>
            <td>-</td>
            <% else %>
            <%
            s = dayevents.map{|e| e.start_datetime.to_time}.sort.first.strftime('%H:%M')
            e = dayevents.map{|e| e.end_datetime.to_time}.sort.last.strftime('%H:%M')
            daytracks = dayevents.map{|e| e.conference_track_id}.uniq
            t = daytracks.size == 1 ? l($track_by_id[daytracks.first]) : nil
            %>
            <td><%= s %>-<%= e %><% if t %>: <%= t %><% end %></td>
            <% end %>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>
