---
title: <%= y @t.conference_track %>
kind: track
name: <%= y name(@t) %>
slug: <%= slug @t %>
url: <%= url @t %>
track_id: <%= id @t %>
track_type: <%= track_type(@t) %>
rooms:
<% @events.map(&:conference_room_id).uniq.map{|id| $room_by_id[id]}.sort_by{|r| r.rank}.each do |r| %>
  -
    room: <%= name(r) %>
    slug: <%= slug(r) %>
    url: <%= url(r) %>
    size: <%= r.size %>
<% end %>
days:
<%
@events.map(&:conference_day_id).uniq.map{|id| $day_by_id[id]}.sort_by{|d| d.conference_day}.each do |d|
dayevents = @events.select{|e| e.conference_day_id == d.conference_day_id}
firstevent = dayevents.sort_by{|e| e.start_datetime}.first
lastevent = dayevents.sort_by{|e| e.end_datetime}.last
%>
  -
    day: <%= name d %>
    date: <%= yd d.conference_day %>
    slug: <%= slug d %>
    url: <%= url d %>
    start: <%= yd firstevent.start_datetime %>
    end: <%= yd lastevent.end_datetime %>
    rooms:
      <% dayevents.map(&:conference_room_id).uniq.map{|id| $room_by_id[id]}.sort_by{|r| r.rank}.each do |r| %>
      -
        room: <%= name(r) %>
        slug: <%= slug(r) %>
        url: <%= url(r) %>
        size: <%= r.size %>
        start: <%= yd dayevents.select{|e| e.conference_room_id == r.conference_room_id}.sort_by(&:start_datetime).first.start_datetime %>
        end: <%= yd dayevents.select{|e| e.conference_room_id == r.conference_room_id}.sort_by(&:end_datetime).last.end_datetime %>
      <% end %>
<% end %>
rank: <%= @t.rank %>
---

<% rooms = @events.map{|e| e.conference_room_id}.uniq.map{|i| $room_by_id[i]}.sort{|r| r.rank} %>
<% if rooms.empty? %>
<p>No room assigned yet</p>
<% elsif rooms.size == 1 %>
<p>Room: <%= l(rooms) %></p>
<% else %>
<p>Rooms: <%= l(rooms) %></p>
<% end %>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Event</th>
            <th>Speakers</th>
            <% if rooms.size > 1 %>
            <th>Room</th>
            <% end %>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <% @events.sort_by{|e| e.start_datetime}.group_by{|e| e.start_datetime.to_date.strftime('%A')}.each do |day, dayevents| %>
        <tr>
            <td colspan="5"><h2><%= day %></h2></td>
        </tr>
        <% dayevents.each do |e| %>
        <tr>
            <td><%= l(e) %></td>
            <td><%= l($speaker_persons[id(e)]) %></td>
            <% if rooms.size > 1 %>
            <td><%= l($room_by_id[e.conference_room_id]) %></td>
            <% end %>
            <td><%= e.start_datetime.to_datetime.strftime('%H:%M') %></td>
            <td><%= e.end_datetime.to_datetime.strftime('%H:%M') %></td>
        </tr>
        <% end %>
        <% end %>
    </tbody>
</table>

