---
title: Free Java Devroom
kind: track
name: Free Java
slug: free_java
url: /schedule/track/free_java
track_id: 73
track_type: devroom
rooms:
  -
    room: K.4.401
    slug: k4401
    url: /schedule/room/k4401
    size: 85
days:
  -
    day: Saturday
    date: 2012-02-04 00:00:00.000000000 +00:00
    slug: saturday
    url: /schedule/day/saturday
    start: 2012-02-04 11:00:00.000000000 +00:00
    end: 2012-02-04 19:00:00.000000000 +00:00
    events:
      - thermostat
      - introducing_mutability_detector
      - free_java
      - java_in_the_age_of_the_jvm
      - implementing_jsr_292_in_ikvm_net
      - byteman
      - openjdk_covariance
      - java_lambda_for_hackers
      - our_year_to_date_in_the_jcp
      - state_of_openjdk
      - caciocavallo_caciotest_cacioweb_and_deployment
      - jdk_7_updates_in_openjdk
      - gc_visualization_gcspy_netbeans
    rooms:
      -
        room: K.4.401
        slug: k4401
        url: /schedule/room/k4401
        size: 85
        start: 2012-02-04 11:00:00.000000000 +00:00
        end: 2012-02-04 19:00:00.000000000 +00:00
  -
    day: Sunday
    date: 2012-02-05 00:00:00.000000000 +00:00
    slug: sunday
    url: /schedule/day/sunday
    start: 2012-02-05 10:00:00.000000000 +00:00
    end: 2012-02-05 17:00:00.000000000 +00:00
    events:
      - the_icedrobot_of_dawn
      - how_eclipse_works
      - openjdk_on_arm
      - icedtea_and_icedteaweb
      - jdk_8
      - free_java_future
      - apache_cassandra
      - can_i_legally_do_that
      - gervill_beyond_midi
      - jruby
    rooms:
      -
        room: K.4.401
        slug: k4401
        url: /schedule/room/k4401
        size: 85
        start: 2012-02-05 10:00:00.000000000 +00:00
        end: 2012-02-05 17:00:00.000000000 +00:00
events:
  - the_icedrobot_of_dawn
  - how_eclipse_works
  - openjdk_on_arm
  - icedtea_and_icedteaweb
  - jdk_8
  - free_java_future
  - apache_cassandra
  - thermostat
  - introducing_mutability_detector
  - free_java
  - can_i_legally_do_that
  - gervill_beyond_midi
  - java_in_the_age_of_the_jvm
  - implementing_jsr_292_in_ikvm_net
  - byteman
  - openjdk_covariance
  - java_lambda_for_hackers
  - our_year_to_date_in_the_jcp
  - state_of_openjdk
  - jruby
  - caciocavallo_caciotest_cacioweb_and_deployment
  - jdk_7_updates_in_openjdk
  - gc_visualization_gcspy_netbeans
rank: 507
alternative_representations:
  -
    title: iCal
    mime: text/calendar
    item: /schedule/track/ical/free_java/
  -
    title: xCal
    mime: text/xml
    item: /schedule/track/xcal/free_java/
---

<p>Room: <a href="/schedule/room/k4401">K.4.401</a></p>

<p><a href="<%= $item_by_id["/schedule/track/ical/#{@item[:slug]}/"].path %>" title="iCal">iCal</a> - <a href="<%= $item_by_id["/schedule/track/xcal/#{@item[:slug]}/"].path %>" title="xCal">xCal</a></p>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Event</th>
            <th>Speakers</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5"><h2>Saturday</h2></td>
        </tr>
        <tr>
            <td><a href="/schedule/event/free_java">Welcome to the Free Java DevRoom</a></td>
            <td><a href="/schedule/speaker/martijn_verburg">Martijn Verburg</a>, <a href="/schedule/speaker/mark_wielaard">Mark Wielaard</a>, <a href="/schedule/speaker/tom_marble">Tom Marble</a>, <a href="/schedule/speaker/ben_evans">Ben Evans</a>, <a href="/schedule/speaker/andrew_hughes">Andrew Hughes</a>, <a href="/schedule/speaker/andrew_haley">Andrew Haley</a>, <a href="/schedule/speaker/mario_torre">Mario Torre</a>, <a href="/schedule/speaker/dalibor_topic">Dalibor Topić</a>, <a href="/schedule/speaker/sylvestre_ledru">Sylvestre Ledru</a></td>
            <td>11:00</td>
            <td>11:05</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/state_of_openjdk">The state of OpenJDK</a></td>
            <td><a href="/schedule/speaker/mark_reinhold">Mark Reinhold</a></td>
            <td>11:05</td>
            <td>11:30</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/jdk_7_updates_in_openjdk">JDK 7 Updates in OpenJDK </a></td>
            <td><a href="/schedule/speaker/edvard_wendelin">Edvard Wendelin</a>, <a href="/schedule/speaker/dalibor_topic">Dalibor Topić</a></td>
            <td>11:30</td>
            <td>12:00</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/implementing_jsr_292_in_ikvm_net">Implementing JSR 292 in IKVM.NET</a></td>
            <td><a href="/schedule/speaker/jeroen_frijters">Jeroen Frijters</a></td>
            <td>12:00</td>
            <td>12:30</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/java_lambda_for_hackers">Java Lambda for Hackers </a></td>
            <td><a href="/schedule/speaker/remi_forax">Rémi Forax</a></td>
            <td>12:30</td>
            <td>13:00</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/openjdk_covariance">Using the OpenJDK to investigate covariance in Java</a></td>
            <td><a href="/schedule/speaker/janina_voigt">Janina Voigt</a>, <a href="/schedule/speaker/raoul_gabriel_urma">Raoul-Gabriel Urma</a></td>
            <td>14:00</td>
            <td>14:30</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/our_year_to_date_in_the_jcp">Politics, Positives, Paperwork and Pain - Our year to date in the JCP</a></td>
            <td><a href="/schedule/speaker/martijn_verburg">Martijn Verburg</a>, <a href="/schedule/speaker/ben_evans">Ben Evans</a></td>
            <td>14:30</td>
            <td>15:00</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/java_in_the_age_of_the_jvm">Java in the Age of the JVM</a></td>
            <td><a href="/schedule/speaker/steve_ogrady">Steve O'Grady</a></td>
            <td>15:30</td>
            <td>16:00</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/introducing_mutability_detector">Introducing Mutability Detector</a></td>
            <td><a href="/schedule/speaker/graham_allan">Graham Allan</a></td>
            <td>16:00</td>
            <td>16:30</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/caciocavallo_caciotest_cacioweb_and_deployment">Caciocavallo: CacioTest, CacioWeb & Deployment</a></td>
            <td><a href="/schedule/speaker/mario_torre">Mario Torre</a>, <a href="/schedule/speaker/roman_kennke">Roman Kennke</a>, <a href="/schedule/speaker/clemens_eisserer">Clemens Eisserer</a></td>
            <td>16:30</td>
            <td>17:00</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/gc_visualization_gcspy_netbeans">Garbage Collection Visualization, GCSpy and NetBeans in tandem</a></td>
            <td><a href="/schedule/speaker/martin_skurla">Martin Skurla</a></td>
            <td>17:30</td>
            <td>18:00</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/thermostat">Thermostat: Taking over the Java tooling world with Open Source Software</a></td>
            <td><a href="/schedule/speaker/jon_vanalten">Jon VanAlten</a>, <a href="/schedule/speaker/omair_majid">Omair Majid</a></td>
            <td>18:00</td>
            <td>18:30</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/byteman">Tracing, Debugging and Testing With Byteman </a></td>
            <td><a href="/schedule/speaker/andrew_dinn">Andrew Dinn</a></td>
            <td>18:30</td>
            <td>19:00</td>
        </tr>
        <tr>
            <td colspan="5"><h2>Sunday</h2></td>
        </tr>
        <tr>
            <td><a href="/schedule/event/apache_cassandra">Dealing with JVM limitations in Apache Cassandra </a></td>
            <td><a href="/schedule/speaker/jonathan_ellis">Jonathan Ellis</a></td>
            <td>10:00</td>
            <td>10:30</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/jruby">JRuby</a></td>
            <td><a href="/schedule/speaker/charles_nutter">Charles Nutter</a></td>
            <td>10:30</td>
            <td>11:00</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/can_i_legally_do_that">Can I legally do that?</a></td>
            <td><a href="/schedule/speaker/mark_wielaard">Mark Wielaard</a></td>
            <td>11:30</td>
            <td>12:00</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/how_eclipse_works">How Eclipse Works</a></td>
            <td><a href="/schedule/speaker/mike_milinkovich">Mike Milinkovich</a></td>
            <td>12:00</td>
            <td>12:30</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/openjdk_on_arm">OpenJDK on ARM: Quo vadis?</a></td>
            <td><a href="/schedule/speaker/andrew_haley">Andrew Haley</a></td>
            <td>12:30</td>
            <td>13:00</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/gervill_beyond_midi">Gervill - Beyond MIDI</a></td>
            <td><a href="/schedule/speaker/karl_helgason">Karl Helgason</a></td>
            <td>14:00</td>
            <td>14:30</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/the_icedrobot_of_dawn">The IcedRobot of Dawn, a one year long Free Sofware journey</a></td>
            <td><a href="/schedule/speaker/mario_torre">Mario Torre</a>, <a href="/schedule/speaker/roman_kennke">Roman Kennke</a></td>
            <td>14:30</td>
            <td>15:00</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/icedtea_and_icedteaweb">IcedTea and IcedTea-Web</a></td>
            <td><a href="/schedule/speaker/deepak_bhole">Deepak Bhole</a></td>
            <td>15:30</td>
            <td>16:00</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/jdk_8">JDK 8</a></td>
            <td><a href="/schedule/speaker/mark_reinhold">Mark Reinhold</a></td>
            <td>16:00</td>
            <td>16:30</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/free_java_future">Discussion on the Future of Free Java</a></td>
            <td><a href="/schedule/speaker/andrew_haley">Andrew Haley</a></td>
            <td>16:30</td>
            <td>17:00</td>
        </tr>
    </tbody>
</table>

