---
title: Legal Issues Devroom
kind: track
name: Legal Issues
slug: legal_issues
url: /schedule/track/legal_issues
track_id: 77
track_type: devroom
rooms:
  -
    room: AW1.125
    slug: aw1125
    url: /schedule/room/aw1125
    size: 76
days:
  -
    day: Saturday
    date: 2012-02-04 00:00:00.000000000 +00:00
    slug: saturday
    url: /schedule/day/saturday
    start: 2012-02-04 11:00:00.000000000 +00:00
    end: 2012-02-04 19:00:00.000000000 +00:00
    events:
      - flossing_for_good_legal_hygiene
      - legal_issues
      - the_decline_of_the_gpl
      - methods_of_foss_activism
      - grey_areas_of_software_licensing
      - app_store_panel
      - creative_commons_4
      - is_copyleft_being_framed
      - risks_vs_benefits_on_copyright_assignment
      - software_patent_panel
      - open_licences_before_european_courts
      - what_goes_into_an_executable
      - enforce_copyleft_without_becoming_corrupt
    rooms:
      -
        room: AW1.125
        slug: aw1125
        url: /schedule/room/aw1125
        size: 76
        start: 2012-02-04 11:00:00.000000000 +00:00
        end: 2012-02-04 19:00:00.000000000 +00:00
events:
  - flossing_for_good_legal_hygiene
  - legal_issues
  - the_decline_of_the_gpl
  - methods_of_foss_activism
  - grey_areas_of_software_licensing
  - app_store_panel
  - creative_commons_4
  - is_copyleft_being_framed
  - risks_vs_benefits_on_copyright_assignment
  - software_patent_panel
  - open_licences_before_european_courts
  - what_goes_into_an_executable
  - enforce_copyleft_without_becoming_corrupt
rank: 520
alternative_representations:
  -
    title: iCal
    mime: text/calendar
    item: /schedule/track/ical/legal_issues/
  -
    title: xCal
    mime: text/xml
    item: /schedule/track/xcal/legal_issues/
---

<p>Room: <a href="/schedule/room/aw1125">AW1.125</a></p>

<p><a href="<%= $item_by_id["/schedule/track/ical/#{@item[:slug]}/"].path %>" title="iCal">iCal</a> - <a href="<%= $item_by_id["/schedule/track/xcal/#{@item[:slug]}/"].path %>" title="xCal">xCal</a></p>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Event</th>
            <th>Speakers</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5"><h2>Saturday</h2></td>
        </tr>
        <tr>
            <td><a href="/schedule/event/legal_issues">Welcome to the Legal Issues DevRoom</a></td>
            <td><a href="/schedule/speaker/tom_marble">Tom Marble</a>, <a href="/schedule/speaker/karen_sandler">Karen Sandler</a>, <a href="/schedule/speaker/bradley_kuhn">Bradley Kuhn</a>, <a href="/schedule/speaker/richard_fontana">Richard Fontana</a></td>
            <td>11:00</td>
            <td>11:05</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/open_licences_before_european_courts">Open Licences before European Courts</a></td>
            <td><a href="/schedule/speaker/philippe_laurent">Philippe Laurent</a></td>
            <td>11:05</td>
            <td>11:30</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/methods_of_foss_activism">The Methods of FOSS Activism</a></td>
            <td><a href="/schedule/speaker/ambjorn_elder">Ambjörn Elder</a></td>
            <td>11:30</td>
            <td>12:00</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/what_goes_into_an_executable">What Goes into an Executable? Identifying a Binary's Sources by Tracing Build Processes </a></td>
            <td><a href="/schedule/speaker/armijn_hemel">Armijn Hemel</a></td>
            <td>12:00</td>
            <td>12:30</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/grey_areas_of_software_licensing">Grey Areas of Software Licensing</a></td>
            <td><a href="/schedule/speaker/dave_neary">Dave Neary</a></td>
            <td>12:30</td>
            <td>13:00</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/flossing_for_good_legal_hygiene">FLOSSing for Good Legal Hygiene: Stories from the Trenches</a></td>
            <td><a href="/schedule/speaker/allison_randal">Allison Randal</a></td>
            <td>14:00</td>
            <td>14:30</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/risks_vs_benefits_on_copyright_assignment">Risks vs. Benefits on Copyright Assignment</a></td>
            <td><a href="/schedule/speaker/michael_meeks">Michael Meeks</a></td>
            <td>14:30</td>
            <td>15:00</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/enforce_copyleft_without_becoming_corrupt">Can for-profit companies enforce copyleft without becoming corrupt like MySQL AB?</a></td>
            <td><a href="/schedule/speaker/loic_dachary">Loïc Dachary</a></td>
            <td>15:00</td>
            <td>15:30</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/is_copyleft_being_framed">Is copyleft being framed?</a></td>
            <td><a href="/schedule/speaker/john_sullivan">John Sullivan</a></td>
            <td>16:00</td>
            <td>16:30</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/the_decline_of_the_gpl">The (possible) decline of the GPL, and what to do about it</a></td>
            <td><a href="/schedule/speaker/richard_fontana">Richard Fontana</a></td>
            <td>16:30</td>
            <td>17:00</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/app_store_panel">Panel on Application Stores</a></td>
            <td><a href="/schedule/speaker/giovanni_battista_gallus">Giovanni Battista Gallus</a>, <a href="/schedule/speaker/bradley_kuhn">Bradley Kuhn</a>, <a href="/schedule/speaker/richard_fontana">Richard Fontana</a>, <a href="/schedule/speaker/hugo_roy">Hugo Roy</a></td>
            <td>17:30</td>
            <td>18:00</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/software_patent_panel">Panel on Software Patents</a></td>
            <td><a href="/schedule/speaker/karen_sandler">Karen Sandler</a>, <a href="/schedule/speaker/benjamin_henrion">Benjamin Henrion</a>, <a href="/schedule/speaker/deb_nicholson">Deb Nicholson</a>, <a href="/schedule/speaker/ciaran_oriordan">Ciarán O'Riordan</a></td>
            <td>18:00</td>
            <td>18:30</td>
        </tr>
        <tr>
            <td><a href="/schedule/event/creative_commons_4">Creative Commons 4.0 licenses and other opportunities for FLOSS/free culture legal/policy intersections</a></td>
            <td><a href="/schedule/speaker/mike_linksvayer">Mike Linksvayer</a></td>
            <td>18:30</td>
            <td>19:00</td>
        </tr>
    </tbody>
</table>

