/* vim: set ts=4 sw=4 ft=eruby ai et: */
#schedule-grid,
#schedule-grid a {
    font-size: 80%;
}

#schedule-grid tr.odd  td { background-color: white; }
#schedule-grid tr.even td { background-color: #eee; }

#schedule-grid table { border-collapse: collapse; border: 1px solid #ccc; empty-cells: show; }
#schedule-grid td, #schedule-grid th { padding: 2px 4px; border: 1px solid #000; }
#schedule-grid th { background: #dddddd; color: #3399cc; border: 1px solid #000; }
#schedule-grid td p { padding: 0; margin: 0; }
#schedule-grid td.title { font-size: 120%; font-weight: bold; text-align: center; padding: 4px 2em; }

#schedule-grid .time { font-family: monospace; /*font-size: 80%;*/ text-align: right; vertical-align: top; }
#schedule-grid .hour td { border-top: 2px solid #3399cc !important; }
#schedule-grid table { border-spacing: 1px; }
#schedule-grid table td, #schedule-grid table th { margin: 0 1px 1px 0; }
#schedule-grid .empty { background: #ccc; }
#schedule-grid .room p { margin: 0px; padding: 0px; }
#schedule-grid td { border: 1px solid #ccc; }

#schedule-grid tr.separator,
#schedule-grid tr.separator td {
    border: 1px solid #000 !important;
    border-left: 1px solid white !important;
    border-right: 1px solid white !important;
}
#schedule-grid .schedule-day {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    padding: 4px 2em;
}
#schedule-grid .event-grid-detail { text-align: left; }
#schedule-grid .event-grid-detail a { font-weight: normal; font-size: 90%; font-variant: normal; }

#schedule-grid a.trackref { font-variant: small-caps; font-style: normal !important; }

.timetable {
    table-layout: fixed;
    font-size: xx-small;
}

table.timetable-head {
    position: fixed;
    top: 0;
    left: 0;
    height: 2.1em;
    margin: 0;
}
table.timetable-body {
    /* We need some padding here because the head table uses fixed/absolute positioning */
    padding-top: 2.5em !important;
    margin-top: 5em !important;
}

.timetable thead {
    background-color: #2c2c2c;
}
.timetable thead th {
    background-color: #2c2c2c;
    color: #999999;
    font-weight: normal;
    text-align: center;
    padding: 0.1em;
    border-color: #444444;
}
.timetable thead th a,
.timetable thead th a:visited {
    /* Don't underline links in event cells, we're already short on space */
    text-decoration: none;
    /* And use the regular text color or we can't read anything (blue text) */
    color: inherit;
}
.timetable thead th a:hover {
    /* But when hovering a link to a room in the header, paint it bla^H^H^Hwhite */
    color: #ffffff;
}

.timetable tbody td {
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0.1em;
    line-height: 1.1em;
}
.timetable tbody td.tiny {
    white-space: nowrap;
    padding: 0;
    line-height: 1em;
}
.timetable tbody td a {
    /* Don't underline links in event cells, we're already short on space */
    text-decoration: none;
    /* And use the regular text color or we can't read anything (blue text) */
    color: inherit;
}

.timetable tbody th {
    text-align: right;
    padding: 0;
    height: 2em;
    min-height: 2em;
    max-height: 2em;
    font-family: monospace;
    font-weight: normal;
    line-height: 1.1em;
}
.timetable tbody th.time {
}

<% %w{69D2E7 A7DBD8 E0E4CC F38630 FA6900}.each_with_index do |color, index|%>
.timetable .c<%= index + 1 %> { background-color: #<%= color %> !important; }
<% end %>

.timetable tbody td.event:hover {
    background-color: pink !important;
    font-weight: bold;
}

body.fullpage {
    /*
    override bootstrap setting a top padding on the body
    when using the fullpage layout
    */
    padding-top: 0 !important;
}

