body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}
.interview-license {
    margin-top: 3em;
}
.interview-license img, #infoblock img {
    float: left;
    margin: 0.3em 1em 0.3em 0.3em;
}
#infoblock {
    background: inherit;
}
table#sponsors td {
    vertical-align: top;
}
table#sponsors img {
    padding-left: 2em;
}
ul.horizontal-list {
  margin: 0;
  padding: 0;
}
ul.horizontal-list li {
  list-style-type: none;
  display: inline;
}
ul.horizontal-list li:before {
  content: " | ";
}
ul.horizontal-list li:first-child:before {
  content: none;
}
.sidebar-nav {
  margin-left: 0 !important;
}
img.sponsor-logo {
  float: right;
  margin-left: 1em;
  margin-bottom: 0.5em;
}
div.sponsor-block {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px dashed #ccc;
}
